[2018-06-21 13:38] hermosillo8 commented on #187
error: Each then() should return a value or throw      promise/always-return

[2018-06-25 20:21] a-koka commented on #175
@marciobueno1 I think we are mixing a few terminologies. Let me clarify based on my knowledge.

1. Subscriptions have an auto-renewal which can be cancelled by the user but still leaving the user with an active purchase until a certain date. This is the case for this ticket.
2. A cancellation through Apple - A user can get in touch with Apple and request a refund on a subscription or non-recurring

[2018-06-25 20:41] marciobueno1 commented on #175
@a-koka From what I understand from [Apple Site](https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ReceiptFields.html)

1. In the case the user cancels the auto-renewal, the auto_renew_status field will have the value 0. No cancellation_date will appear on the receipt.
2. cancellation_date will only appear on the receipt if the user asks for a refund

[2018-06-25 23:55] a-koka commented on #175
Looking into my original post, I can see why this confusion is arising. The JSON has a cancellation_date_ms. After getting clarification from my customer, this purchase wasn't cancelled according to her. Also the status of 21006 suggests otherwise which is why I created this in the first place.

I am investigating this further. Would be nice if you had a few production receipts that were actually

[2018-06-25 23:59] voltrue2 commented on #176
The documentation has been updated!

Cheers

[2018-06-25 23:59] #176 closed

[2018-06-26 00:49] marciobueno1 commented on #175
Thanks, @a-koka. Unfortunately, I don't have canceled production receipts. I would ask Apple Support for this specific receipt to confirm that this subscription was not withdrawn.

[2018-06-26 01:12] a-koka commented on #175
@voltrue2 Your input may be valuable here.

I further investigated this and although my user suggests that she didn't cancel the subscription, iTunes Connect does report a refund for that particular month and I'm now certain that the subscriptions was actually cancelled/refunded. Sorry about the original confusion @marciobueno1.

I think this brings up some valid concerns. Should `isExpired` keep

[2018-06-26 01:23] voltrue2 commented on #175
@a-koka @marciobueno1

Thank you both for your inputs. I do agree that if a subscription has indeed been cancelled and a refund has been made to the user, the subscription should be voided meaning that it should be considered invalid.
I am currently leaning towards adding `isCancelled`, but I am also concerned that introducing another method to determine the state of a subscription may further con

[2018-06-26 02:41] voltrue2 commented on #187
Hello,

Here is the working code in the unit test of this module:

[code]

I am not sure how you are getting this error. Would you please give me the code?

Cheers

[2018-06-26 04:48] a-koka commented on #175
You're most welcome @voltrue2! You're my favorite author on GitHub, always committed to responding, very humble and kind. Keep up the good work brother!

I don't there is a right answer here as one can argue a cancelled receipt is still not expired. The vice-versa is just as valid an argument. Adding `isCancelled` also does impose implementation concerns on other platforms.

Do whatever is easiest

[2018-06-26 05:12] voltrue2 commented on #175
@a-koka Thanks a lot! I think I will add `isCancelled` method and make sure the documentation is accurate.

Cheers!

[2018-07-05 02:39] voltrue2 commented on #187
No response... Closing

[2018-07-05 02:39] #187 closed

[2018-07-05 02:39] voltrue2 commented on #185
No response. Closing.

[2018-07-05 02:39] #185 closed

[2018-07-05 02:39] #177 closed

[2018-07-05 02:40] #169 closed

[2018-07-05 02:40] #155 closed

[2018-07-05 02:41] #165 closed

[2018-07-05 02:49] voltrue2 commented on #153
@jngbng @eranpolo
My apologies for taking forever to get to this. I just added an error check for this case and now it returns a specific error when the library sees status 410 from Google.

Cheers!

[2018-07-05 02:49] #153 closed

[2018-07-05 02:50] #69 closed

[2018-07-06 17:01] hermosillo8 commented on #187
Testing to see if this reopens this.

[2018-07-06 17:13] hermosillo8 opened #189 ".then() continued"
Sorry for such a late response. I went out of the country for 2 weeks and had no access to be able to reply. Bellow is my complete code with some of the important info left out.

index.js

              const googleFunction = require('./googleReceiptValidation');
              const appleFunction = require('./receiptValidation');

              const functions = require('firebase-functions');

[2018-07-09 17:30] hermosillo8 commented on #189
I took out the `done();` at the callback of `then()` but I still get the error.

[2018-07-09 17:48] hermosillo8 commented on #189
So upon further testing I found that if I put a return or throw at the `then()` the error goes away. So what do I throw or return in the situation of `then()` ? In the onSuccess I respond with the data I need but on the `then()` do I return that data? Or do I return or throw a number to indicate a success? I didn't think it would even get to that code due to the response and `done();` on the succe

[2018-07-10 06:04] voltrue2 commented on #189
I missed this detail. My bad.
I believe you need to add `return this;` at end of every callback function.

For exmaple:

[code]

[2018-07-11 17:07] marciobueno1 opened #192 "isTrial is wrong is some cases..."
When I use a grand unified receipt, I am getting isTrial correct, but if I use a receipt that only has 1 purchase (the one I receive from apple server by notification), I am receiving isTrial incorrect...

See the answer I got (you can see that in the response "is_trial_period": "false", but in the purchaseData "isTrial": true):

[code]

[2018-07-12 16:12] jpoag commented on #185
The problem is that there is information lost: did you use sandbox or production? If we could specify to ONLY use production or ONLY use sandbox this wouldn't be an issue as we could use settings to deduce this information.

Ideally, just add a field to the response object IF (and only if) you used sandbox.

We use this information to throw away Analytics.  Or to catch someone trying to use a sand

[2018-07-12 16:14] mrpuzzler commented on #185
We need to filter sandbox purchases too. Is it possible to make update on this?

[2018-07-12 23:21] voltrue2 commented on #185
Hello, I understand the need for this to happen.

I think adding another Boolean property to the validated data to tell if its sandbox or not would suffice?

Cheers!

[2018-07-13 00:18] comtaler commented on #185
That works for me

[2018-07-13 01:15] jpoag commented on #185
Sounds great. Defaults to falsey/undefined?

Thanks again!

On Thu, Jul 12, 2018, 7:21 PM Nobuyori Takahashi <notifications@github.com>
wrote:

[2018-07-13 01:47] voltrue2 commented on #192
Thank you for reporting this bug! It has been fixed! b7bd5a894cfa267d8f5c70009edbfca840ef8171

[2018-07-13 01:47] #192 closed

[2018-07-13 01:48] voltrue2 commented on #185
Thank you all for brining this up! The new property in validated data `sandbox` has been added to Apple and Amazon!
Defaults to `false` or `undefined`.

b7bd5a894cfa267d8f5c70009edbfca840ef8171

[2018-07-13 10:35] jpoag commented on #185
Thank you so much!

[2018-07-17 10:00] firstguo opened #194 "bug when【both expired receipt and cancelled receipt】"
lib/apple.js
in this coding block, will throwing an exception, because of validatedData is undefined.
![image](https://user-images.githubusercontent.com/3937038/42810587-dc78419c-89ea-11e8-921f-034d05c981bc.png)

[2018-07-17 10:00] firstguo commented on #194
![image](https://user-images.githubusercontent.com/3937038/42810779-51fd0e7a-89eb-11e8-87d8-3ff22b2e831d.png)

[2018-07-18 12:59] samuelbwr commented on #109
I also noticed the same behavior.

Any updates on this subject?

[2018-07-19 02:43] voltrue2 commented on #109
Hello

This issue has been paused for a while.

I’ll have a fresh look at this shortly.

Cheers

[2018-07-23 07:16] chris-divvito opened #196 "packageName missing in receipt data"
Hello,

I'm currently running up against an issue where, for most of the receipts I receive from an android app, the packageName is not included in the data part of the receipt. Looking through other issues on here it seems like it is generally there for others, so I'm not sure what the difference for me is - maybe either because we are still at the stage of using the registered google test accoun

[2018-07-23 07:19] voltrue2 commented on #196
Hello

Thank you for reporting this. This is the first time I heard about packageName missing. I wonder what the cause of giving such receipts. Let me research on this a little bit and see what we can do!

Cheers

[2018-07-23 07:29] voltrue2 commented on #196
Thank you for the extra info. I will have a look!

Cheers

[2018-07-24 04:51] chris-divvito commented on #196
Bad news everybody!

So I had been working on patching around this myself. parsing out the receipt, adding the packageName to `data` before passing the receipt into `RNIap.validate()`;

Unfortunately, while this fixes the initial problem (a proper URL is now generated), we hit a bigger problem further down the line, when the data is actually sent to the URL. We get back a 400: Invalid value. diggi

[2018-07-24 07:19] chris-divvito commented on #196
A bit of a further issue here... the receipts I am getting (for subscription items) also do not contain the `autoRenewing` property. I have dived into the code of the library on the frontend and can confirm that the data we get out is directly from the `com.android.billingclient.api.Purchase.getOriginalJson()` method, but it seems to be missing some key information. I am still of the impression th

[2018-07-24 08:43] voltrue2 commented on #196
Hello

Thank you for letting me know! In the meantime I am looking into how (if we must) we could solve this from the library point of view.

Cheers

[2018-07-26 05:56] jngbng commented on #153
@voltrue2
In my opinion, 'error' should be for exceptional cases which has nothing to do with business logic, such as network error or authentication errors.
In this case, I think the response is not temporally unhandleable error and the subscription would not be logically valid for good. Therefore, we may treat it as 'end-of-subscription' or another logically valid response (not an error). I wond

[2018-08-06 12:17] alamboley opened #200 "Android IAP validation issue (no subscription)."
Hello, having issues with Android IAP validation.

The doc mentions how to grab Android key for production but not where the sandbox key is. **How to get Android iap-sandbox key?**

At the moment, I used the same key for `googlePublicKeyStrLive` and `googlePublicKeyStrSandBox`. Then I made some tests.

Just for your information: even if the doc says `googleAccToken`, `googleRefToken`, `googleClien

[2018-08-07 13:16] alamboley commented on #79
Hey, just trying to validate IAP for Android too.. but I can't find Android iap-sandbox key. Do you know where I can grab it? I just have iap-live key.

[2018-08-07 14:58] alamboley commented on #200
Hmm finally changing args for my receipt object fix the issue. I've the same key for `googlePublicKeyStrLive` and `googlePublicKeyStrSandBox`.

[2018-08-07 14:58] #200 closed

[2018-08-07 15:14] k00k commented on #79
@alamboley I believe you can just use the same key for both files.

[2018-08-13 19:39] hermosillo8 opened #201 "Issues with receipt validation android"
I am having issues with the receipt validation. It keeps giving me a malformed receipt response when I have the receipt as a json object as you outlined in the READ ME. Here is how the receipts look like `{"data":{"packageName":"com.flowdawgy.flowdawgy","productId":"com.flowdawgy.flowdawgy.sub.monthly","purchaseTime":"1534139918221","purchaseState":"0","purchaseToken":"long series of numbers ","au

[2018-08-14 01:31] voltrue2 commented on #201
Hello
Thank you for reporting this issue. After reading the documentation through again, I realized that there was a mistake in the doc. Receipts for Google Play has to be an object that looks like this:

[code]

The `data` part can be an object or a JSON stringified object.

I hope this clarifies the issue. Please let me know if this helps.

Cheers

[2018-08-15 07:11] a-koka commented on #153
I'm just encountering this issue as I've only recently started querying older receipts (expired subscriptions). Do we not receive any data for expired subscriptions from Google? It would be very helpful to query data for older receipts.

Thoughts @voltrue2 ?

[2018-08-15 14:02] maxs15 opened #202 "Google service account"
Is it currently possible to use a service account instead of OAuth for Google?

I think it would be great since we could create a service account for the iap module with only the necessary permissions instead of the full permissions provided by the current authentication system using OAuth.

Thanks

[2018-08-15 14:18] maxs15 commented on #202
Looks like it could be pretty easy to implement by looking at https://github.com/Wizcorp/node-iap.
The authentication system to get the accessToken is implemented in https://github.com/Wizcorp/node-iap/blob/master/lib/google/jwt.js.

What do you think about implementing it @voltrue2 ?

[2018-08-15 21:11] voltrue2 commented on #153
It seems there’s no way to query for expired receipts with Google at the moment. I will go through the documentation again to make sure I haven’t missed anything. In the meantime, do you think it helps to have a way of mass-validating receipts for expired receipts? Something like iap.areExpired(receipts)?

[2018-08-15 21:13] voltrue2 commented on #202
That is a good point. We do not need the full permission to validate receipts. I’ll look into this.

Thank you for the suggestion.

Cheerd

[2018-08-16 01:25] a-koka commented on #153
I verified the docs and you're right @voltrue2. I implemented a very hack way to retrieve expiration dates of old receipts. It's a bummer that Google won't provide us data on old receipts.

Regarding mass validation, my particular use case doesn't quite require it. Does Google expose an API to do this or are you considering a wrapper function? A wrapper function won't bring much value IMO as most

[2018-08-16 01:43] rohanrichards opened #203 "[SOLVED] ImportDeclaration should appear when the mode is ES6 and in the module context."
Sorry, solved this almost immediately by simply updating eslint, gulp-eslint and babel-eslint to latest. I'm going to leave the issue around (instead of deleting it) in case someone has a similar problem in the future. N.B I am using the yeoman angular fullstack generator.

After installing in-app-purchases my project fails to build with the below error.

What I've tried so far:
- remove ./node_mo

[2018-08-16 01:49] #203 closed

[2018-08-16 06:30] rohanrichards opened #204 "Google validation using the signed receipt string"
I am using a front-end module that is having trouble returning the transaction receipt as an object, however it is happy to return the receipt as a signed string and the signature.
Is there a way to validate Google purchases with these two items? I'm hoping to just find a workaround until I can hear back from the dev on that project to solve exactly WHY it refuses to return the receipt (before sig

[2018-08-16 10:31] voltrue2 commented on #204
Hello

I don’t think we can validate the receipt data as a bade64 string. What happens if you convert it to a buffer and JSON.parse it?

[2018-08-16 12:27] rohanrichards commented on #204
@voltrue2 I'm not at work currently, but I may have found a way to pull the actual receipt object as a JS-Object on the front-end.

Do you have an example of how to do what you suggest? Not familiar with Buffer's.

As an aside, I will have to have a look at the source, but what is the process for validation? I assumed it would use the signature to sign the object at some stage to compare to ... so

[2018-08-16 16:25] mobigaurav opened #205 "Android subscription purchase validation failing"
Hi,
I am facing a problem in android in validation a subscription receipt.

Following are details >

Google public key > MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhLUxwT+WJ5SKwA2hoUC/r4mG8O+TmyEzUoHoIs4EeVvqMNllERsPqsg7eAQ7SGl+h8Zje6WTZxsTlyL65Tq2ABa7PtxeLhq+UX0NVepxGT7FXNsJRFusguR8uRJuHTYeHbZB9ZtmdHku8E8KzORVjjxzmIZrITTyi/ceHVAfOgnAz6irdr/CWppGIOTFyRV9KGPtF/c2ERn0Zav4VHOlXwoEIp5NZXEkCVZ2elOA0UJ

[2018-08-16 21:41] voltrue2 commented on #205
[code]

The above seems to be a string of stringified JSON object. Please look carefully where you have a stringified JSON object wrapped in single quotes `'`.
Remove the single quotes around it and it unstringify it.
I think that should make it work.

Cheers

[2018-08-16 21:56] #55 closed

[2018-08-17 01:56] hermosillo8 commented on #201
Thank you that solved my problem! I am now validating and getting the correct validated data. I have one more question to ask but this one isn't pertaining to your library so I understand if there isn't a response. Afterwards this comment can be closed! But my question is I am using a onCall(data,context) to do this validation with you library. Again this function looks like this

` var iap = requ

[2018-08-17 02:34] mobigaurav commented on #205
I tried by passing json object format but it did not work for that too. below is the format

<Google> Validate this: { signature: 'Z2MtrvqpoPTME2/euHgAFSZOYeHOzQmMNeduxSLA/k+ldnn5tEz/KrmwNQvVT/K0iSXS9SERVJjmSeeUHro1ZuJtuM311PN05L0WmcqQSisWLHVDlPsLUK4lRQjgTbHUCI8qRVp8uQvKxwdDLVR7BR11PfAF5QpCtVcbloKgPIyskDFwoVjrijR6qTaEROmvrREDsp5vHRsrdLV/B3FCqXBuGeBDYOD9DrZMQuJJfsWduwnyFpHHSTIJGDxZBg1oZs6f8NhNFmoVy

[2018-08-20 13:38] mobigaurav commented on #205
Any update on this ?

[2018-08-20 13:41] voltrue2 commented on #205
How are you giving it the public key? The error says it is missing the public key.

[2018-08-20 13:42] voltrue2 commented on #205
Actually, this receipt is a subscription receipt. You must connect to Google server to validate it. Please read the documentation on Google play. It explains how you set up your keys and everything you need.

Cheers

[2018-08-20 17:16] mobigaurav commented on #205
i am passing receipt key in config like below>
	iap.config({
			verbose: true,
			publicKeyStrSandbox: process.env.publicKeyStrSandbox

		});

[2018-08-20 17:53] hermosillo8 commented on #201
I figured out the problem. I have to return a promise in order to return the data back to my client using firebase's HTTP onCall trigger. So my last question is do I return the iap.validate() promise or do I return the iap.setup() promise.

[2018-08-20 21:33] voltrue2 commented on #201
It’s the promise from validate().

[2018-08-23 14:58] ChrisFromCanada opened #206 "How to revalidate android purchaseToken"
I made a routine to recheck all my user receipts so I can deactivate expired accounts on a schedule. If there is a better way to detect expired accounts please let me know! I'm unaware of the best practices for checking subscriptions on a schedule.

Problem is if I just send the purchaseToken in to iap.validate it thinks it's an apple receipt and fails.

Obviously I'm doing something wrong.

What

[2018-08-29 04:20] liuzhen2008 opened #207 "How to handle google play notification pubsub data?"
I am trying to setup google play pubsub notifications.

By running a subscriber on the server, whenever a user makes an auto renewal subscription, my server currently is able to receive a notification via pubsub.

The message object received looks something like this:

[code]
And after I call toString() of the buffer, the string looks like this:

`{"version":"1.0","packageName":"<my-app-bundle-id>

[2018-08-29 05:33] voltrue2 commented on #205
Hello

For subscription receipts, you will need to setup your server following these instructions: https://github.com/voltrue2/in-app-purchase#google-in-app-billing-set-up

Cheers

[2018-08-29 05:35] voltrue2 commented on #206
The `PURCHASE_TOKEN` part must be an object that holds a purchased receipt data and a signature.
The object structure is shown here: https://github.com/voltrue2/in-app-purchase#google-play

Cheers

[2018-08-29 05:37] voltrue2 commented on #207
So the stringified JSON object that you have above must be given to the library's `.validate()` function along with a signature in an object.
The structure of the object is:

[code]

[2018-08-29 06:02] superandrew213 commented on #207
@liuzhen2008 you can see here, how I made it work. Essentially you are passing a placeholder for `signature`.

[2018-08-29 14:09] liuzhen2008 commented on #207
@superandrew213 uh, where do I check? Did you have an example somewhere?

[2018-08-29 14:10] liuzhen2008 commented on #207
@voltrue2 Thats the problem! There are no signature coming from google pubsub!

[2018-08-30 12:47] superandrew213 commented on #207
@liuzhen2008 looks like I forgot the link. Here it is: https://github.com/voltrue2/in-app-purchase/issues/141

[2018-09-08 01:53] bearinld004 opened #208 "general persistence of receipt questions"
@voltrue2,

not really an issue, but more of a general questions in regard to in-app-purchase receipt. what would be the general strategy to save the receipt in the backend (database schema).

I see there is a lot of choices i can use after finishing the transaction in the frontend ios has transactionReceipt, appStoreId, then also after validating there is unique_id. haven't tested the android yet

[2018-09-08 01:58] voltrue2 commented on #208
Hello,

For iOS I would usually go with original_transaction_id along with you application’s unique user ID. Both columns should be indexed so when you check for duplicate submission for the user the database scan is fast and light.

I hope this helps. I’m currently working on changing the android validation so that you will only need purchase token to validate.

Cheers!

[2018-09-08 02:34] bearinld004 commented on #208
Perfect thanks for the feedback and insight! I never knew that having two indexes can help with db performance. I just googled it and there is a term for it too composite index!

[2018-09-08 02:34] #208 closed

[2018-09-14 10:12] SQHK opened #209 "Missing receipt data"
Hello, I am using Unity to do the IAP. And return the android receipt. I followed this instruction. But I cannot be valid my receipt.
[Issue](https://github.com/voltrue2/in-app-purchase/issues/129#issuecomment-335391741)

[code]

Please help. Thanks

[2018-09-16 00:38] voltrue2 commented on #209
Hello,

Your Payload must also have a signature.
So the Payload should look like this:

[code]

Cheers

[2018-09-18 01:47] SQHK commented on #209
[code]

I try it already. But return

[2018-09-18 02:58] voltrue2 commented on #209
Hello,

Your code here seems odd:

[code]

`googlePublicKeyPath` should be a path to the directory which contains public key files named `iap-live` and `iap-sandbox`.

`googlePublicKeyStrSandBox` and `googlePublicKeyStrLive` are the actual value of public key without using files.

You choose to do one or the other not both.

Would you have a look at this part of your code and see it the library is

[2018-09-18 03:04] SQHK commented on #209
Sorry, I forgot remove `googlePublicKeyStrSandBox` and `googlePublicKeyStrLive` in that post.
But still not work.

[2018-09-18 03:08] voltrue2 commented on #209
OK no problem.

Could you run the same code with `{ verbose: true }` in the config object and see what the log says about your public key?

Cheers

[2018-09-18 03:16] SQHK commented on #209
[nodemon] starting `node app.js`
creating memcached instance for cache host: localhost:32768
[1537240579673][VERBOSE] <Apple> test mode? false
[1537240579673][VERBOSE] <Google> test mode? false
[1537240579674][VERBOSE] <Google> Validate this: { data: '{"orderId":"GPA.3377-6104-1448-90157","packageName":"com.sidequest.notification","productId":"test_gem_tier1","purchaseTime":1537236193610,"purchase

[2018-09-18 03:29] voltrue2 commented on #209
OK,
Is this public key correct?
What the library is doing is validating a signed receipt data (JSON) against this public key.
The fact that is failing means that either the receipt or the public key are incorrect.

[2018-09-18 03:36] SQHK commented on #209
I think the public key is correct. Because I have a game( I call this game is A in this post ) launched in google App Store, I used the another library to valid the receipt that call `iab_verifier`. It is valid the receipt. I buy the items in A game. And I got the signature and receipt data. I used the `iab_verifier` is valid successfully. But I used the `in-app-purchase`. I cannot be successfully

[2018-09-18 05:10] voltrue2 commented on #209
I see.
How are you sending the receipt data and signature to the server via http assume?
Are you properly encoding the receipt and signature and decoding them before validation?

Cheers

[2018-09-18 06:14] SQHK commented on #209
Now, I just get the signature and receipt data in log console. I put these two datas in to server code. So I don't do the client side part at this moment. I just test this module.

[2018-09-18 06:41] voltrue2 commented on #209
I see.
Let me have a look.

Thanks for reporting this issue by the way.

Cheers!

[2018-09-18 07:09] SQHK commented on #209
Hello, I just find the config `googlePublicKeyPath` is a path. Not a string. But I don't know where can find it.

[2018-09-18 07:30] SQHK commented on #209
How to give me that version?

[2018-09-18 07:33] voltrue2 commented on #209
I will update this repository's develop branch with the new version and you can git clone it and replace the inside of `node_modules/in-app-purchase/`.
Once that is done, you will `cd node_modules/in-app-purchase/` and run `npm install`.
That you get you going for test.

Cheers

[2018-09-18 07:37] SQHK commented on #209
ok, are you update now?

[2018-09-18 07:38] voltrue2 commented on #209
No I am still finishing it up.
Maybe an hour or so.
I will let you know.

Cheers!

[2018-09-18 07:40] SQHK commented on #209
OK, Thank you very much.

[2018-09-18 07:59] voltrue2 commented on #209
Hello,

I pushed the change to the develop branch.

To test this version, you will have to change your code as follows:

[code]

[2018-09-18 08:00] voltrue2 commented on #209
If this works, I will make a proper update and publish it to npm!

Cheers

[2018-09-18 08:10] SQHK commented on #209
Hello, what is clientEmail and privateKey in config?

[2018-09-18 08:11] voltrue2 commented on #209
They are included in your Google API service account key JSON file as `client_email` and `secret`, I believe.

Cheers

[2018-09-18 08:31] SQHK commented on #209
throw error2;
          ^
Error: Invalid Purchase Token: https://appstore-sdk.amazon.com/version/2.0/verify/developer/{developerSecret}/user/undefined/purchaseToken/undefined
    at Request._callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules/in-app-purchase/lib/amazon.js:160:23)
    at Request.self.callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules

[2018-09-18 08:33] voltrue2 commented on #209
I think there is a bug in my update. I don't have my Google API account at the moment, so I am working blind. Please bear with me.
I will have a look and fix the issue asap.

Cheers

[2018-09-18 08:34] voltrue2 commented on #209
@SQHK Could you `git pull origin develop`?

[2018-09-18 08:35] SQHK commented on #209
yes. I got a latest code

[2018-09-18 08:36] voltrue2 commented on #209
@SQHK is it still giving you the same error?

[2018-09-18 08:37] SQHK commented on #209
yes

[2018-09-18 08:38] voltrue2 commented on #209
@SQHK OK let me have another look real quick.

[2018-09-18 08:40] voltrue2 commented on #209
@SQHK I pushed a change, would you please try git pull?

[2018-09-18 08:44] SQHK commented on #209
throw error2;
          ^
Error: [object Object]
    at Request._callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules/in-app-purchase/lib/googleAPI.js:141:23)
    at Request.self.callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules/request/request.js:185:22)
    at Request.emit (events.js:182:13)
    at Request.<anonymous> (/Users/manlokwong/Desktop/Be

[2018-09-18 08:44] voltrue2 commented on #209
@SQHK
That's better! Thank you. I will have a look right now.

[2018-09-18 08:47] voltrue2 commented on #209
@SQHK I added more logging and changed the error message.
Would you mind git pull and run it again?
I apologize for the repeated tests on your end.

Cheers

[2018-09-18 08:52] SQHK commented on #209
throw error2;
          ^
Error: {"error":"invalid_grant","error_description":"Invalid JWT: Token must be a short-lived token (60 minutes) and in a reasonable timeframe. Check your iat and exp values and use a clock with skew to account for clock differences between systems."}
    at Request._callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules/in-app-purchase/lib/googleAPI.

[2018-09-18 08:55] voltrue2 commented on #209
@SQHK
Thank you. My calculation of exp nad iat was in milliseconds, but it needs to be in seconds.
My bad. Would you once again git pull and run it?

Cheers

[2018-09-18 09:01] SQHK commented on #209
throw error2;
          ^
Error: Status:403
    at Request._callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules/in-app-purchase/lib/googleAPI.js:96:27)
    at Request.self.callback (/Users/manlokwong/Desktop/BeastQuestServer/bq_server/node_modules/request/request.js:185:22)
    at Request.emit (events.js:182:13)
    at Request.<anonymous> (/Users/manlokwong/Desktop/BeastQue

[2018-09-18 09:03] voltrue2 commented on #209
@SQHK
It means that you do not have access to receipt validation API with this Google API account.
Google server is responding with a status code 403 indicates that.

Is this the same API account you used to validate your receipt with another library?

Cheers

[2018-09-18 09:14] SQHK commented on #209
I don't know how can I do.

[2018-09-18 09:14] voltrue2 commented on #209
@SQHK

What did you use to validate with another library?

[2018-09-18 09:42] SQHK commented on #209
I don't use any validate library

[2018-09-18 09:43] voltrue2 commented on #209
@SQHK you mentioned you were using another validation library before and it was work, right?

[2018-09-18 09:49] SQHK commented on #209
That is my another game. Not this project. I used the `iab_verifier` that can work in that project. But not work in this project

[2018-09-18 09:54] voltrue2 commented on #209
@SQHK So `iab_verifier` does not validate this project's receipt?

[2018-09-18 10:06] SQHK commented on #209
yes. But I don't know why cannot be valid.
The previous project is used the `cocos2d-x` and used the native code to implement the IAP.
And this project is used the `Unity` and used Unity IAP

[2018-09-18 10:09] voltrue2 commented on #209
That should not make any difference in terms of receipt validation.

Are you using the same Google API account as your other project?

[2018-09-18 10:29] SQHK commented on #209
Not work. It always return `Status: 403`

[2018-09-18 10:32] voltrue2 commented on #209
It means that you haven’t given this account enough permission to validate receipts.

I suggest you have a look at your google API account and make sure you have the right permissions.

Cheers

[2018-09-18 10:33] SQHK commented on #209
I check the Google API console many times. But I don't know where can set the permission.

[2018-09-18 10:37] voltrue2 commented on #209
I will test it with your data and see if I can find out what the problem is.

I’m in transit now, it might take some time for me to get back to you but I will have a look.

Cheers

[2018-09-18 10:39] SQHK commented on #209
No problem. I am off work now. So I will reply you in tomorrow.

[2018-09-19 00:48] voltrue2 commented on #209
@SQHK
I tried testing locally with your credentials.
As I expected, the error tells us that this account does not have the sufficient permissions to validate receipts.
You need to look at your account settings and give this account proper permissions.

Here is the log of what I get from Google:

[code]

[2018-09-19 01:06] voltrue2 commented on #202
Hello,

I has taken me a while to finally get to this, but it is here now!

Commit: 709ca127bb58087d14196a890cb06155956bdb52

If you don't mind having a quick look at it, it would be great!

Cheers

[2018-09-19 01:13] voltrue2 commented on #207
@liuzhen2008 @superandrew213

I finally got to work on this. Now you can validate your receipts using Google Service Account.
It means that you only need packageName, productId, and purchaseToken to perform the validation.
Here is the commit: 709ca127bb58087d14196a890cb06155956bdb52

[2018-09-19 01:34] voltrue2 commented on #209
@SQHK
You must give your account user the privilege of "View financial reports". This should enable the account to perform the purchase validation.

Cheers

[2018-09-19 01:41] SQHK commented on #209
Is it in Google Play Developer Console?

[2018-09-19 01:43] voltrue2 commented on #209
@SQHK
It is the Google Play Publish Page: https://play.google.com/apps/publish

[2018-09-19 01:44] SQHK commented on #209
I set that account can "View Financial Reports". Is the setting has the processing time?

[2018-09-19 01:45] voltrue2 commented on #209
That I am not sure.

[2018-09-19 01:46] SQHK commented on #209
I changed the permission. But the server still return the status code 401

[2018-09-19 01:46] voltrue2 commented on #209
@SQHK
What is the role of the account? It has to be "Finance".

[2018-09-19 01:49] SQHK commented on #209
I changed it to Finance

[2018-09-19 01:52] voltrue2 commented on #209
@SQHK
Hmmm it still gives me 401 error. I wonder what else you are missing.
I am curious, how did you manage to make this work last time?

[2018-09-19 01:53] voltrue2 commented on #209
@SQHK
Your problem might be solved by this: https://support.google.com/googleplay/android-developer/answer/6230247?hl=en&visit_id=636729188020068309-4129873868&rd=1

[2018-09-19 02:01] SQHK commented on #209
Do you mean the pervious project?

[2018-09-19 02:06] voltrue2 commented on #209
@SQHK
Since you where using this account for your previous project, you need to connect your current project to this account. The link I gave you should explain all of that.

[2018-09-19 03:02] SQHK commented on #209
Sorry, for late reply.
The previous project and this project is in same account.

[2018-09-19 07:42] SQHK commented on #209
Hello,
I just reverse my code.
Now I used

[code]
It is no any error return. And it has a response

[2018-09-19 08:55] voltrue2 commented on #209
@SQHK Great!

I am closing this is issue if there no more problem on your end.

Cheers

[2018-09-19 08:55] #209 closed

[2018-09-19 11:34] IchordeDionysos opened #210 "Typo in windows getPurchaseData"
Isn't there a typo in here?
https://github.com/voltrue2/in-app-purchase/blob/875ae40d91fa333bbf6ca286cd7529c2d2251288/lib/windows.js#L113

[2018-09-19 11:46] voltrue2 commented on #210
Hello

You’re right! Thank you for pointing it out. I will fix that!

Cheers

[2018-09-20 03:53] voltrue2 commented on #210
Done. Thank you for reporting it.

[2018-09-20 03:53] #210 closed

[2018-09-22 19:43] maxs15 commented on #202
That's awesome @voltrue2 !!!
The code looks good, I'll try to test it this week and will let you know if I find any issue.

Thank you again 🙏

[2018-09-22 19:43] #202 closed

[2018-09-24 15:05] matejthetree opened #211 "What keys do I need to set up with google to work?"
Hello,

[code]

All this are documentation keys in readme, but I dont understand what key do I need to add for google single purchase to work. No subscription, only coins purchase. (my apple IAP is working great).

The only Key I can find in google developer console is `Base64 public RSA key from binary` (translated from german)

Can you help me find this key please?

[2018-09-24 15:32] #211 closed

[2018-09-28 17:36] liuzhen2008 commented on #207
Awesome, i will test this out some time.
Thanks a lot

[2018-09-28 23:01] Allow2CEO opened #212 "Apple: Add support for exclude-old-transactions"
The latest API for apple includes a "exclude-old-transactions" param on the post request to apple. This is extremely useful for subscription handling and relatively easy to implement.

Perhaps add as an optional iap.validate param, or as a configuration on iap library or setup call.

[2018-10-01 22:10] voltrue2 commented on #212
Hello

Thank you for the suggestion. I will look into it very soon!

Cheers

[2018-10-02 09:59] voltrue2 commented on #212
Actually,

I was going through the code and it supports this by adding `appleExcludeOldTransactions: true` in the config object that is passed to `.setup()`.

I will update the documentation.

Cheers!

[2018-10-02 18:54] IsaiahJTurner opened #213 "Eslint dependency"
This package has a dependency on ESLint 4 which causes my app to break since it uses ESLint 5. See https://github.com/standard/standard/issues/1163. Is it possible to make ESLint a dev dependency?

[2018-10-02 19:04] IsaiahJTurner commented on #213
In the meantime, if anyone else experiences this, the solution is to use an older version of `in-app-purchase`.
Update the dependency in your package.json and `npm install`:
`"in-app-purchase": "1.9.10"`

[2018-10-03 00:30] voltrue2 commented on #213
Hello

Thank you for reporting this issue.

Yes. Eslint should be a dev dependency! I’ll make the fix!

Cheers

[2018-10-03 01:26] #207 closed, assigned to nobody

[2018-10-03 06:37] Allow2CEO commented on #212
Awesome! Love your work, thanks for that.

[2018-10-05 21:57] cnmongrel opened #214 "Google Service Account - Error when Validating"
I am receiving the following error when attempting to validate with the Google Service Account setup -

Error:
[code]

Here is the code (Keys and other sensitive info sanitized):
[code]

The service account has been granted read access to Financial data in the Google Developer Console.

I appreciate any insight as to what is causing the error. Thanks!

[2018-10-06 01:41] voltrue2 commented on #214
Hello

Thank you for reporting this issue. I haven’t seen this error before but according to the error discription, we are somehow sending the wrong value for the header content-type.
I believe the correct value for it is “application/x-www-form-urlencoded” which is standard.
Would you mind checking if the request sent from the library has the correct request headers?
I will test on my end also in

[2018-10-06 02:00] voltrue2 commented on #214
Hello,

I think I found an issue in my library. I think I have fix in my develop branch.
Would you mind trying it out and see if this fixes your problem?

Cheers!

[2018-10-06 20:29] cnmongrel commented on #214
Hi, Thanks for the quick response!

I updated the `googleAPI.js` file with your changes from the develop branch. Now I'm getting the following error:
[code]

Thanks for diving into this!

[2018-10-07 09:32] voltrue2 commented on #214
Hello,

Let me have a look at it again. Thank you for your patience.

Cheers!

[2018-10-07 12:33] cnmongrel commented on #214
Thanks @voltrue2, let me know if you need any other info from my side.

[2018-10-08 07:29] ghsdh3409 commented on #214
@cnmongrel @voltrue2
I make pull request #215 to fix this issue. Could you check again if it works?

[2018-10-08 17:35] cnmongrel commented on #214
@ghsdh3409 @voltrue2
I added the `json: true` change from @ghsdh3409's PR to the `googleAPI.js` and it's now working. Thanks guys for the fixes!

[2018-10-08 19:06] kevinEsherick commented on #134
I think it would be good to clarify in the documentation that this library handles only receipt validation. The name and description make it seem otherwise.

[2018-10-08 19:27] #134 closed

[2018-10-08 23:33] voltrue2 commented on #214
@ghsdh3409 @cnmongrel

Thank you guys so much for the help! I will make the proper monarch with   @ghsdh3409’s PR and publish the fixed version on non ASAP!

 Cheers to both!

[2018-10-08 23:34] voltrue2 commented on #134
Hello

Thank you for pointing it out! I’ll make sure to mention this in the doc!

Cheers

[2018-10-09 12:02] cnmongrel commented on #214
Hi @voltrue2, when do you expect the fix to be available via NPM?

[2018-10-09 15:34] voltrue2 commented on #214
Hello

I am hoping to do this within a few days. My another project (a paying project) is getting really close to a launch so I’m kind of in a crunch mode, but I will be getting back to this very soon.

Cheers!

[2018-10-10 07:12] #214 closed

[2018-10-11 21:56] cnmongrel commented on #214
Awesome, thanks @voltrue2!

[2018-10-16 22:47] IsaiahJTurner opened #216 "Support empty receipts"
I'd like to access the receipt data for empty receipts but https://github.com/voltrue2/in-app-purchase/blob/f014d852ba9d65bea65fa4b24a53e291ffc24049/lib/apple.js#L362-L388 prevents that. Any way a flag could be added to disable this behavior?

[2018-10-17 00:50] voltrue2 commented on #216
Hello,

Thanks for reaching out. What if I pass the decoded receipt data to Promise's reject function along with the error instead?
If you use the callback, it behaves that way already.

[2018-10-17 00:55] voltrue2 commented on #216
I made the change and pushed it to develop branch. Here is the commit: 14e43a6caae98c52e4272d75d373a387286b8653

If this works out for you, I could make a proper release with the change.

Cheers!

[2018-10-17 16:50] IsaiahJTurner commented on #216
Thank you! Going to try this out and report back. Should work fine.

[2018-10-21 00:51] datureezy opened #217 "Failing validation on 1.10.4"
Hello!

So I have been working on updating my IAP library of yours from 1.8.7 to 1.10.4.

I have Apple receipts that are validating fine from your test website, http://iap.gracenode.org.

But when I am validating from my own server, I'm having problems:

[1540082660015][VERBOSE] <Apple> Validatation data: { 'receipt-data': 'MIIT5gYJKoZIhvcNAQcCoIIT1zCCE9MCAQExCzAJBgUrDgMCGgUAMIIDhwYJKoZIhvcNAQcBoI

[2018-10-21 00:54] voltrue2 commented on #217
Hello

It looks like your server cannot reach internet.

Have you checked firewalls and other security settings of your server?

Cheers

[2018-10-21 00:55] datureezy commented on #217
Damn. You are so sharp. Thank you, I will check my server's connectivity.

[2018-10-21 00:58] #217 closed

[2018-10-23 05:14] cmendes0101 opened #218 "Google insufficient permissions w/ service account"
I'm setting up service account to use with realtime developer notifications.

I set the service account to have View Financial Data permission but when i perform validate() is failed with:
Status 401 - "The current user has insufficient permissions to perform the requested operation."

Is there additional permission that is required for this setup? I tried giving Administrator permission just to s

[2018-10-23 10:40] triplef commented on #137
I think this issue was fixed in #175 via this commit: https://github.com/voltrue2/in-app-purchase/commit/e0acff7ab5020e2f07739cf84399a78ed7938832

@jbgomez21 / @voltrue2 would be great if you can confirm.

[2018-10-23 10:43] voltrue2 commented on #137
Hello

Yes. You’re right it has been fixed with the commit you mentioned.

I’ll close the issue.

Cheers!

[2018-10-23 10:43] #137 closed

[2018-10-23 10:52] voltrue2 commented on #218
Hello

This link may help you if you’re still getting 401 error:
https://support.google.com/googleplay/android-developer/answer/6230247?hl=en&visit_id=636729188020068309-4129873868&rd=1

Also, please make sure you’re using the latest version of this package as the previous version had a bug related to the permission.

Cheers

[2018-10-23 12:30] cmendes0101 commented on #218
Yes, I'm currently on 1.10.4 which shows latest on NPM. I'll run through that link and permission settings again.

[2018-10-24 22:02] pattonjh opened #219 "Android purchase being tested against Amazon validation"
As the title says, my Android receipts seem to be detected as Amazon purchases. I don't even have Amazon set up in the config section.

Here is my iap.config with real values removed:
iap.config({
  appleExcludeOldTransactions: true,
  applePassword: 'applePassword',

  googleAccToken: 'AccToken',
  googleRefToken: 'RefToken',
  googleClientID: 'clientId',
  googleClientSecret: 'clientSecret',

[2018-10-24 22:37] voltrue2 commented on #219
Hello

As far as I can tell, your code seems fine.

I’d like to make sure that your receipt is an object not a string correct?

The receipt must be an object.

Also, it is not related but if you’re using googleServiceAccount in your config, you don’t need other google configs.

[2018-10-25 15:46] pattonjh commented on #219
Hello,

console.log(typeof receipt) outputs object. I commented out the other Google configs, but like you mentioned it isn't related to the Amazon detection.

Any other suggestions on what I can do? Happy to (privately) send you a fuller picture of the code and the data I'm submitting to see what's going on if you think that will help.

[2018-10-25 20:08] pattonjh commented on #219
@voltrue2 I got it working. Turns out I was a couple of versions behind, and something you did recently to fix Google service account fixed my issue as well. Sorry for the trouble!

[2018-10-25 21:52] voltrue2 commented on #219
Awesome. Glad it’s working now

[2018-10-28 18:41] danrevah opened #220 "'getPurchaseData' returns array instead of object in sandbox mode"
` iap.getPurchaseData` returns array with a single object while using `getPurchaseData()`.
meaning I can't use the `isExpired` & `isCanceled`.

It does work if i'm accessing the first element with `[0]`.

Any idea? in the docs it says it should return an object.

[code]

[2018-10-29 10:14] #218 closed

[2018-10-31 00:13] voltrue2 commented on #79
Closing as it has presumably been solved

[2018-10-31 00:13] #79 closed

[2018-10-31 00:15] voltrue2 commented on #117
Closing as there has been no response

[2018-10-31 00:15] #117 closed

[2018-10-31 00:16] voltrue2 commented on #122
The documentation has been updated. Closing

[2018-10-31 00:16] #122 closed

[2018-10-31 00:17] voltrue2 commented on #127
Closing as it has been resolved

[2018-10-31 00:17] #127 closed

[2018-10-31 00:18] voltrue2 commented on #136
Closing

[2018-10-31 00:18] #136 closed

[2018-10-31 00:19] voltrue2 commented on #138
Closing

[2018-10-31 00:19] #138 closed

[2018-10-31 00:19] voltrue2 commented on #139
Closing

[2018-10-31 00:19] #139 closed

[2018-10-31 00:20] voltrue2 commented on #141
Closing as the latest version resolves this issue by using googoleServiceAccount in configuration.

[2018-10-31 00:20] #141 closed

[2018-10-31 00:22] #170 closed, assigned to nobody

[2018-11-02 15:16] znegva opened #221 "Apple: testing expired subscription in sandbox-mode"
Hi.

While testing auto-renewing-subscription-validation for Apple I stumbled about iTunes returning with status 21006 for expired subscriptions.
Everything I do is done with sandbox accounts and in sandbox-mode.

My code is something like this:
[code]

While testing my subscription everything was fine as long as the subscription was NOT expired.
But as soon as it is expired I end up in the catch

[2018-11-03 13:45] runners4tme opened #222 "Cocoon support"
Does this library work with Cocoon?

[2018-11-04 20:57] stevecohenfr opened #223 "Apple - Purchase does not expires : "expirationDate: 0""
Hi,

Since few days, my purchase does not expire anymore in sandbox. If i check the validateData i get :

[code]

Why expirationDate is 0 ? Is there some news in Apple data that is not handled by in-app-purchase ?

Thanks

[2018-11-05 01:43] voltrue2 commented on #221
Hello,

I have updated develop branch. Would you mind testing it and see if your issue is now resolved?

Cheers!

[2018-11-05 10:30] znegva commented on #221
Hi, thanks for your quick answer.

Your fix is working fine!
Expired-sandbox-subscriptions can now be handled inside of the regular `iap.validate(..).then` 👍

---

As this issue is about expired subscriptions I would like to ask another question here:

I check if my subscription is expired in the following way:

[code]

I am not sure what exactly are the entries of the `purchaseData`-Array if ther

[2018-11-05 10:34] voltrue2 commented on #221
Hello

Thank you for following up! I’m glad it’s now working for you. I will publish a new version with this fix.

Regarding your question of multiple validated data, there are cases where you may have multiple purchased data but this is only true for iOS.

It would be better to check and remember each expiration instead of combining them as they would be separate purchased items.

Cheers

[2018-11-05 11:11] znegva commented on #221
ok, thanks.

I am building a validation server and i know which product/subscription the current request is about (`req.body.id`), for now only combining purchasedData of this product to get my expired-state for this very product.

[code]

[2018-11-08 06:35] Yusk1450 opened #225 "Failed to validate purchase - android"
Hi.
My receipt data and public key sent the Online Demo page.
getting following result. Is something wrong?

{
 "error": "failed to validate purchase",
 "response": {
   "status": 1,
   "message": "failed to validate purchase"
 }
}

Below is receipt:

{"data":{"orderId":"GPA.3353-0409-3995-57424","packageName":"jp.co.nlcc.AeruParty.Android","productId":"jp.co.nlcc.aerupartyandroid.tickets.1","purc

[2018-11-08 10:20] voltrue2 commented on #225
Hello

It means either the receipt data or the public key are incorrect.
The format of the receipt is fine though.

Cheers

[2018-11-08 23:58] bambato opened #226 "in a newly coded android app, how do i get the current receipt or purchase token from google play for that android user???"
in a newly coded android app, how do i get the current receipt or purchase token from google play for that android user???

[2018-11-09 00:00] voltrue2 commented on #226
Hello,

You will have to use Android APIs for in-app-billing to get purchase receipt or purchase token from Google Play server. Please read Android doc for that.

Cheers

[2018-11-09 00:03] bambato commented on #226
oh yea i read that already, i was just wondering if you know a way wherein if you don't have the recent purchase token of a user or the recent receipt to validate subscription
the old app whioch i didn't code did not store any information into database that such android user owns certain receipt or purchase token
so if there is a way wherein if you don't have that, you can pull up the receipt or p

[2018-11-09 00:08] voltrue2 commented on #226
If I understand your question right, I would highly recommend storing the purchase data into your database. I assume you want to know if there’s a safe way of handling purchases without having to store anything in your database?

This is obviously outside of the scope this library but like I said, it is generally considered a good practice to keep all of your users’ purchase data in your database.

[2018-11-09 00:10] bambato commented on #226
yea the previous "developer" didn't do any of that
so yea, i'm definitely doing that storing in dbase thing for sure
just finding a way wherein to solve this dilemma if anyone knows any
you got a cool module by the way
i like how simple it works and it works for all devices

[2018-11-09 00:28] voltrue2 commented on #216
Resolved!

[2018-11-09 00:28] #216 closed

[2018-11-09 00:29] #221 closed

[2018-11-09 00:31] voltrue2 commented on #204
No response for a while. Closing

[2018-11-09 00:31] #204 closed

[2018-11-09 14:10] stevecohenfr commented on #223
Hello, I updated your library (thanks for the update). But my issue still persist.

I tries a new subscription (monthly).

Now I have 2 subscriptions in the validateData :

[code]

The monthly subscription have an expiration date but the trimester subscription have NO expiration... Why ?

I think this bug does not depend on your library but maybe you have an idea ?

Thanks in advanced

[2018-11-09 14:14] stevecohenfr commented on #223
Ok I found my mistake, for trimester I created in app subscription not renewable instead of renewable...

But I don't understand, a NON renewable subscription must have an expire date to know when it's expired, or I don't understant how it works ?

Thanks

[2018-11-09 19:22] liorzam commented on #109
Its happen to me too, so its take longer to complete the validation
for those who use AWS-Lamda its cost much more money

[2018-11-13 07:36] voltrue2 commented on #109
Hello
My apologies for taking it long. I have now fixed this issue. The library will recheck the subscription information only when it had to refresh the google token.

The commit: 2ae36705f00f1ad9f6db7163ea9c0196fdbf5381

I will be releasing the new version on npm shortly.

Cheers!

[2018-11-13 07:45] voltrue2 commented on #109
The version is `1.10.6`

Cheers!

[2018-11-13 07:45] #109 closed

[2018-11-17 10:10] Dorgam opened #227 "The project id used to call the Google Play Developer API has not been linked in the Google Play Developer Console"
Hi

I intend to use this plugin to verify my Unity game users purchases using a cloud firebase function. I pass to the function the receipt object generated by unity when I do a test payment using Google Play Store.
Then, on server, after I call `iap.setup` using the following config:

`iap.config({
googlePublicKeyStrLive: 'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwpIm4BIlVprw114/pC7dZpDYfWxTrY

[2018-11-17 11:42] Dorgam commented on #227
@voltrue2

Thanks for the quick reply.

But it is already linked as you see in this image: https://prnt.sc/ljgv1k

I created the credentials using your tutorial, and I generated the access and refresh tokens. Is there another step I should do? and where exactly should I do it.

[2018-11-20 09:37] realivanjx opened #228 "expirationDate returns string instead of number"
After getting purchase data, variable `expirationDate` returns string instead of number (number type is suggested by vscode)

[2018-11-20 09:43] voltrue2 commented on #228
Hello

I believe you are referring to the expirationDate of Apple receipts.

This is how Apple gives us the expiration date.

It is as a string not as a number.

I am keeping the original data type of the validation response from Apple.

Cheers

[2018-11-20 09:45] stevecohenfr commented on #223
Hi,

What about my issue ? Why non-renewable subscription have "expirationDate": 0 ?

Thanks

[2018-11-20 09:54] voltrue2 commented on #223
Hello

When Apple does not give us expiration_date, or other related fields, the code sets 0 as expirationDate.

I do realize that it is inconsistent in terms of the data type it returns.
It should be either a null or a string of ‘0’...
I think null is better though.

Cheers

[2018-11-20 09:56] realivanjx commented on #228
No, i use android receipt and signature, expiration date returns data that should be number type (if you print to log it looks like for example 1549900123) which is i believe a timestamp

[2018-11-20 09:57] realivanjx commented on #228
it works when i do parseInt(expirationDate). btw what are the example values of both platforms? thanks

[2018-11-20 09:57] voltrue2 commented on #228
I see let me have a look at the code.

Thank you for pointing it out.

Cheers

[2018-11-20 09:58] voltrue2 commented on #228
Apple and Google Play do not have matching value types unfortunately which only makes our lives kinda hard... :(

[2018-11-20 09:59] realivanjx commented on #228
Here:

[code]

[2018-11-20 10:00] realivanjx commented on #228
if i dont use parseInt() the expireTime variable will contain 'Invalid date'

[2018-11-20 10:00] stevecohenfr commented on #223
Ok thanks, so I just ignore it in my code

[code]

Hope it will not break some unknown cases...

[2018-11-20 10:02] voltrue2 commented on #223
As far as I can tell it shouldn’t since expirationDate becomes 0 only when Apple does not give us expiration related fields.

Cheers

[2018-11-20 10:04] realivanjx commented on #228
thanks for your effort but do you have example values for both platform for `expirationDate`?

[2018-11-20 10:05] realivanjx commented on #228
are they always timestamp or could be a ISO string?

[2018-11-20 10:05] voltrue2 commented on #228
Google Play receipt may contain either `expirationTime` field or `expiryTimeMillis` field for subscription.
According to the documentation, `expiryTimeMillis` is a long. Since javascript cannot handle 64bit, it has to be a string.

[2018-11-20 10:07] realivanjx commented on #228
hmm, AFAIK `number` type in js is always a double (https://stackoverflow.com/questions/9643626/does-javascript-support-64-bit-integers)

[2018-11-20 10:11] voltrue2 commented on #228
Right now my code is simply taking the value from the validated receipt data and copying it to the return object, so I am assuming that it is a string value from the get-go, which means, Google gives it to us as a string.
I could try to look into this a bit more, but I cannot guarantee, if I could find anything meaningful.
I could, of course, consider doing `parseInt` on the value in the library..

[2018-11-20 10:12] realivanjx commented on #228
okay i will always use parseInt() then. thanks :)

[2018-11-20 10:12] #228 closed

[2018-11-20 10:12] voltrue2 commented on #228
By the way, `cancellationDate` may have the same issue, since I use `expiryTimeMillis` for it, when the cancellation reason is not by the user.

[2018-11-20 10:13] realivanjx commented on #228
yes i only care about expirationDate for now. thanks for the info

[2018-11-20 10:13] voltrue2 commented on #228
No Problem

[2018-11-22 15:46] edu4024 opened #229 "Error: Missing Package Name"
Hi.
My receipt data looks like
 { receipt:
   { signature: 'bLXiLRd9su/upLeQiziY5huQ8ii/Ij83p9Wg/VZqSnLfV+3KHWaA4dKt2RoshfeTnLqU4EBtTVhqE6wZP4iywuIiI+qKvS45miU0lib6BbWgTbAqQlD4YnPIKIrZVEQa4DD/L7NKwytORnTwSOpF07UJJ5W+DW343bTtIMASkoeYerKJq/R+YVvfqFiT/DT6ICa9m0R4Bu6L6F56ex4CIs+r9yb50pFWw1/8LWjFNOdltDthZ2xkjODsr5ReEzNgbLTNdSbYXCqrP/yp2qFfTxe193XGkIkGl3fVPuTGPc2l21owNWT08FA5gMRk5Shhsm6EgbQc2HySSCdgj3M4

[2018-11-23 02:43] voltrue2 commented on #229
Hello

Please read the documentation on the receipt object structure for Google. I believe the object structure you have there is not correct.

Cheers

[2018-12-04 00:00] voltrue2 commented on #229
Closing for no response

[2018-12-04 00:00] #229 closed

[2018-12-05 10:57] wade0317 opened #230 "Is there any Plans for other purchase?"
Hi guys, is there any plans for other purchase?

such as:  paypal ,  alipay，wechatpay，stripe .

[2018-12-06 00:30] voltrue2 commented on #230
Hello

At the moment there is no plan for implemented any of those mentioned as I haven’t the experience of using any of those services in the backend.

Also this package is a receipt valudation. I think it would make more sense to create another library for it.

Best Regards

[2018-12-12 00:35] #230 closed

[2018-12-17 22:04] kaansoral opened #231 "Apple: Consider handling app store app receipts - "The receipt is valid, but purchased nothing.""
So Mac App Store purchases have receipts too, as I learned, which is great, as it allows easily verifying the purchase - However the library processes them as errors:

`"{\"error\":{},\"status\":2,\"message\":\"The receipt is valid, but purchased nothing.\"}"`
<img width="326" alt="screen shot 2018-12-18 at 01 04 09" src="https://user-images.githubusercontent.com/170243/50118480-d7abfe80-0260-11e9

[2018-12-17 22:08] voltrue2 commented on #231
Hello,

The library does not suppose Mac App Store receipt at the moment, but I could try to add that in.

Regarding the persistent ID for the user, as you mentioned, original_transaction_id is the one to use.

Cheers

[2018-12-18 01:02] kaansoral commented on #231
Thanks,

For the purpose of only using the library for app purchase receipt verification, I modified this line: https://github.com/voltrue2/in-app-purchase/blob/develop/lib/apple.js#L377 - and reached the data without manually doing the call myself, would be nice to have a way to do just this, without having to modify the library

[2018-12-18 01:04] voltrue2 commented on #231
Hello

If you could show me what you changed and the results, I would be more then happy to update the library with it or you can send me a pull request with the change too!

Cheers

[2018-12-20 03:01] voltrue2 commented on #231
Thank you. I will have a look and see.

Cheers

[2018-12-20 18:57] githubowl opened #232 "doc.firstChild.getAttribute is not a function - Windows"
Hello there,

I am trying to validate a windows store receipt which seems to be properly formed xml, but I am getting the error:

 <Windows> Failed: TypeError: doc.firstChild.getAttribute is not a function

Could you tell me where I should look please?

Thank you

[2018-12-21 04:35] voltrue2 commented on #232
Hello

Would you please send me the stack trace of the error?

Cheers

[2018-12-21 15:17] githubowl commented on #232
Hello there,

thank you for responding so quick.

The trace is:

$
[1545325364606][VERBOSE] <Windows> Failed: TypeError: doc.firstChild.getAttribute is not a function
    at Object.module.exports.validatePurchase (/root/mediaplaylist/node_modules/in-app-purchase/lib/windows.js:43:33)
    at Object.module.exports.validate (/root/mediaplaylist/node_modules/in-app-purchase/index.js:146:21)
    at /ro

[2018-12-21 15:20] githubowl commented on #232
Hello there,
thank you for responding so quick.
The trace is:
$
[1545325364606][VERBOSE] Failed: TypeError: doc.firstChild.getAttribute is not a function
at Object.module.exports.validatePurchase (/code/node_modules/in-app-purchase/lib/windows.js:43:33)
at Object.module.exports.validate (/code/node_modules/in-app-purchase/index.js:146:21)
at /code/node_modules/in-app-purchase/index.js:125:28
at Ob

[2019-01-04 18:20] githubowl commented on #232
I have found the problem. My xml had <?xml version="1.0"?> as a header which caused it to fail. When I strip that off, it works.

[2019-01-05 12:14] jsitu opened #234 "No expirationDate field in the getPurchaseData response when testing subscription using test account for Android"
Quick question, when I send the receipt and signature from a test account to validate the google play subscription, I got the following response:
[code]
I don't see anything related to expirationDate, how can I tell if a subscription is expired or cancelled in this case? Is it by design for test account or I am doing something wrong?

Also if I have `googleAccToken` and `googleRefToken` configured

[2019-01-06 05:49] voltrue2 commented on #234
Hello?

How are you validating your receipts? It looks like the library does not know your validating a subscription receipts

[2019-01-06 06:10] voltrue2 commented on #232
Great! Thank you for reporting back

[2019-01-06 06:10] #232 closed

[2019-01-06 11:12] jsitu commented on #234
@voltrue2 Here are the steps I took to validate the Android subscription:
1. Call `restorePurchase` from https://github.com/AlexDisler/cordova-plugin-inapppurchase
2. Get the receipt and signature from the response array
3. Setup receipt validation on the backend with such config
[code]
4. Use your example code for the remaining part like this:
[code]

Then what I got from the response is the vali

[2019-01-06 11:33] jsitu commented on #234
@voltrue2 you rocked, that works! 👍

[2019-01-06 11:33] #234 closed

[2019-01-06 11:37] voltrue2 commented on #234
Awesome!

[2019-01-08 13:29] ksabariraj opened #235 "bad base64 decode"
Good Day,

I generated google public key as mentioned in the document. But, I am getting "error:0906D064:PEM routines:PEM_read_bio:bad base64 decode" error. Could you please help me on this?

    at Verify.verify (crypto.js:381:23)
    at validatePublicKey (/app/node_modules/in-app-purchase/lib/google.js:794:27)
    at validateMethod (/app/node_modules/in-app-purchase/lib/google.js:250:13)
    at

[2019-01-09 22:21] voltrue2 commented on #235
Hello,
This means that your public key is incorrect.
You will need to use the correct public key that you get from Google Play developer account.

Cheers

[2019-01-10 03:55] ksabariraj commented on #235
Thanks for your reply.

After getting the access token do we need to do any encoding? Please see the below image. I'm using the access token data for the API.

FYI, I try tried to decode/encode the access token in base64. But, got bad data error.

![screen shot 2019-01-10 at 9 19 31 am](https://user-images.githubusercontent.com/3765085/50945109-3871d400-14b9-11e9-98a4-8964509c4ede.jpg)

THanks,
Sa

[2019-01-10 20:57] benji101 opened #236 "Differentiate unavailability from failed validation"
First, thanks for this library, it's a lot of good work!

Maybe I'm missing something (I'm new to Node.js), but I'm trying to split between 3 cases that can happen when trying to validate a Google Play subscription:
- Subscription is valid
- Subscription is not valid (subscription canceled, expired or possibly someone hacking)
- Subscription could not be verified (Google down or other error)

Rega

[2019-01-10 23:34] voltrue2 commented on #236
Hello,

isValidated() is a function that I added when there was no subscription purchase available. It still gives you wheather your receipt is valid or not but cannot give you details.

The best approach to catch all cases is what you are doing at the moment.

It is a little messy as there are three possible routes...

Anyways, if you have suggestions, I am always open to new ideas.

Cheers

[2019-01-11 01:50] voltrue2 commented on #235
Hello,

Here is the steps you can take: https://github.com/voltrue2/in-app-purchase#google-play-store-api

[2019-01-11 01:55] voltrue2 commented on #231
Hello,

My apologies for late response on this.
The reason, you see this error is because the library is expecting `in_app` array in the response from Apple after validation. This is to prevent iOS purchase hacks.
As you mentioned, `in_app` array is empty in this case...
Now I am wondering if this is the intended Apple App Store's behavior or there's something missing...
If you have some insights

[2019-01-11 15:30] benji101 commented on #236
Ok, but my main question is still: How to differentiate a server error (for example, a 503 error) from an error because the purchase token doesn't exist (404 error from google). If I understand correctly, both error will cause the function .validate() to throw, so I do a differentiate them in the catch block? Is there a simple way to get the response code?

[2019-01-16 03:59] nushydude commented on #128
I wonder if it is the default behaviour of the Android Playstore. Makes sense, because although the original subscription was cancelled, it is still "active" until the expiry date is reached because you've paid for that subscription period. Don't make sense to have two active subscriptions for the same app. I don't think there is a refund for subscriptions right? Did the store charge for the 2nd o

[2019-01-16 05:22] voltrue2 commented on #236
Hello,

I missed the question there. Sorry about that.
At the moment, you cannot really tell them apart from expected error to HTTP error such as 503 etc...

[2019-01-22 01:07] nushydude opened #238 "Why is that the type of validation error is "String", and not an instance of "Error"?"
Thanks for this package. I'm currently testing the latest version (1.10.8) on nodejs version 11.6.

I'm trying to extract the **reason** for an Android subscription purchase validation failure (i.e. network down or malformed purchaseToken) and communicate it back to the client. Was thinking that I could do something like:

[code]

But `error.message` shows up as undefined. When I dug in deeper, I

[2019-01-22 09:36] voltrue2 commented on #238
Hello,
At the moment the error you will catch is indeed a stringified object that "contains" error message.
I think there was a reason behind this, but unfortunately I cannot remember why.
I will have a look at it more closely, but in the meantime, you would check the stringified value for error message.

Cheers

[2019-01-22 10:51] nushydude commented on #238
Alright. Like to know why it's stringified. Let us know if you would recall the reason.

[2019-01-24 22:23] nushydude opened #239 "Why is isValidated() helper function required?"
My understanding is that if the receipt/purchase token is invalid or if there is any error with the validation pipeline, iap.validate() will throw.

If that is the case, what's the purpose of `iap.isValidated()` helper? If `iap.validate()` doesn't throw, doesn't it mean it is valid?

Are there any cases where it does not throw for invalid receipts?

[2019-01-24 23:29] voltrue2 commented on #239
Hello

This function is a legacy. Way back when the validation was behaving differently.

Cheers

[2019-01-24 23:47] nushydude commented on #239
Perfect. Thanks.

[2019-01-24 23:47] #239 closed, assigned to nobody

[2019-01-29 08:13] LeeGeonho opened #240 "Upgrade google api v3"
There is a fatal problem in v2 that we can not confirm that the payment has been refunded.
Do you plan to upgrade to [v3](https://developers.google.com/android-publisher/api-ref/purchases/products/get)?

I tested it and found that the [purchaseState](https://developers.google.com/android-publisher/api-ref/purchases/products#resource) is always 0 in v2 for a refund made in Google Wallet.
But in v3,

[2019-01-29 10:55] voltrue2 commented on #240
Hello

Thank you for pointing it out. I am actually planning on updating the version to v3.

I am lacking testing materials though. Would you be able to run so tests or provide me with test materials?

Cheers!

[2019-01-30 19:59] Orloffyeah commented on #240
Hi, is there an estimated date of when it will be updated to v3?

I would like to keep using this module since it has been very helpful for our project.

Thanks in advance.

[2019-01-30 22:28] voltrue2 commented on #240
Hello

I am planning the update as soon as possible as I have been getting this question from many.

At the moment though I am looking for some help with testing as I am lacking test materials right now.

Cheers

[2019-01-30 22:53] Orloffyeah commented on #240
What testing materials would your require? I may be able to help in this regard.

[2019-01-30 23:39] voltrue2 commented on #240
Hello,

If you could help out that would be really awesome.

Basically I no longer have my google dev account right now, so if you don’t mind either testing the new version or provide me with test receipts it would be super!

Cheers!

[2019-01-31 00:01] Orloffyeah commented on #240
I will gladly help you testing the new version.

[2019-01-31 00:02] voltrue2 commented on #240
Great! I really appreciate the offer for help. I will be starting on it then!

Cheers

[2019-01-31 02:51] voltrue2 commented on #240
Hello

I pushed the new version that uses v3 API to develop branch.

Would you mind trying it out?

Cheers!

[2019-01-31 03:12] Orloffyeah commented on #240
Sure, I will download it now and get back to you with the results.

Thanks for your quick reply.

[2019-01-31 03:13] voltrue2 commented on #240
Great thank you

[2019-01-31 04:00] Orloffyeah commented on #240
After some tests, a product that has been refunded still returns the field purchaseState as 0.

I don't know if I'm testing incorrectly or did something wrong in the process.

Is there an email where I could send you some test receipts so that you can run some tests in your end?

[2019-01-31 04:02] voltrue2 commented on #240
Sure. Thank you for the help.

If you could send me your test results to voltrue2@yahoo.com

Cheers

[2019-02-01 01:02] voltrue2 commented on #240
Done! 885648c97773d9ce007db193beb785b1010cc31b
npm publish version: `1.11.0`

Thank you @Orloffyeah  for your help with testing!

[2019-02-01 01:02] #240 closed, assigned to nobody

[2019-02-01 02:56] #238 closed, assigned to nobody

[2019-02-01 08:07] skolesnyk commented on #240
@LeeGeonho could you share the code where you check if payment was refunded ?

[2019-02-01 08:39] LeeGeonho commented on #240
@skolesnyk I was checked using `google-auth-library`
[code]

If payment was refund, purchaseState is 1

[2019-02-01 09:40] firstguo opened #241 "[google] add data field when check fail"
when google check failure, the error message is drop.
![image](https://user-images.githubusercontent.com/3937038/52114872-2b737b00-2648-11e9-8332-eb3dfa7a39a9.png)

what about add data field in error information like this.
![image](https://user-images.githubusercontent.com/3937038/52114976-68d80880-2648-11e9-82da-0311daa4a8ea.png)

[2019-02-04 05:25] voltrue2 commented on #241
fixed: 8efacf428764de89bb8de55cf4bfa7b37dac07e1

[2019-02-04 09:04] #241 closed, assigned to nobody

[2019-02-06 09:01] #225 closed

[2019-02-06 09:01] #235 closed

[2019-02-08 12:40] stevecohenfr opened #242 "ios product name recently goes null"
All my product have null name and null description since 2 week and I don't know why...

### My code
[code]
### Console output

[code]

### Type of product you are working with consumable/non-consumable/subscription

I work with auto-renewable subscription

### Version of cordova

[code]

### Version of iOS/Android
iPhone 6S iOS 12.0

[2019-02-09 18:53] stevecohenfr commented on #242
Found the solution here : https://stackoverflow.com/a/23735832

[2019-02-09 18:53] #242 closed, assigned to nobody

[2019-02-13 04:12] firstguo commented on #241
thanks

[2019-02-13 08:25] firstguo commented on #241
![image](https://user-images.githubusercontent.com/3937038/52696993-614f2280-2fab-11e9-9a1a-6ec067fb947d.png)

/lib/google.js, in line 282:
when data is  as follow,  loss the error info
![image](https://user-images.githubusercontent.com/3937038/52697132-c0149c00-2fab-11e9-9ffa-bfd74ada8d65.png)

[2019-02-15 08:00] firstguo opened #243 "loss error info in google-play"
![image](https://user-images.githubusercontent.com/3937038/52696993-614f2280-2fab-11e9-9a1a-6ec067fb947d.png)

/lib/google.js, in line 282:
when data is  as follow,  loss the error info
![image](https://user-images.githubusercontent.com/3937038/52697132-c0149c00-2fab-11e9-9ffa-bfd74ada8d65.png)

_Originally posted by @firstguo in https://github.com/voltrue2/in-app-purchase/issues/241#issuecomment-

[2019-02-28 06:50] bander-saeed94 opened #244 "What is the difference between validate and validateOnce()"
What is the difference between validate and validateOnce function.
Can you please clarify more.

[2019-02-28 06:54] voltrue2 commented on #244
Hello,

`validate()` requires validation credentials such as shared password and/tokens provided via configurations. This makes this function a validation for one application only.
`validateOnce()` requires validation credentials as function arguments so that you need to "feed" these credentials when you validate a receipt. This effectively allows you to change validation credentials if necessary

[2019-02-28 07:32] bander-saeed94 commented on #244
Thanks. clear

[2019-02-28 07:33] voltrue2 commented on #244
Awesome.

[2019-02-28 07:33] #244 closed, assigned to nobody

[2019-03-08 22:38] Nalgmann opened #245 "[Solved] Sporadic errors when validating google receipts"
Hi. I write because I have seen a very annoying non-deterministic issue when I try to validate subscription receipts from PlayStore.

I use `googlePublicKeyStrLive` approach and sometimes the validation returns this:
[code]

Other times validation works like a charm. This is more common with recent and testing receipts. Production receipts are also affected.

I don't know why is this and it's real

[2019-03-08 23:34] voltrue2 commented on #245
Hello,

In order to validate subscription receipts correctly, you need to use google API instead. I may need to update the documentation on this to clarify this point.

Let me know if this helps.

Cheers

[2019-03-08 23:37] Nalgmann commented on #245
You mean, instead in-app-purchase? I use google API to get info about a subscription, but once validated via in-app-purchase

[2019-03-08 23:40] voltrue2 commented on #245
No. in-app-purchase module has that ability.

You simply feed the right configurations to it.

It’s on the documentation.

 https://github.com/voltrue2/in-app-purchase/blob/develop/README.md#how-to-use

Please have a look at googleServiceAccount in the documentation.

[2019-03-09 00:08] Nalgmann commented on #245
I see the fields for google service account. Tried but throws me a new error:

[code]

I don't know where to put it. I tried inside `googleServiceAccount` object and outside at the moment of config

[2019-03-09 00:26] voltrue2 commented on #245
The receipts must follow the format shown below:

 https://github.com/voltrue2/in-app-purchase/blob/develop/README.md#google-play-using-google-service-account-with-unity-receipt

[2019-03-09 14:14] Nalgmann commented on #245
Thanks a lot! I haven't noticed the requirements for service accounts. Specially because this hasn't been necessary. Just for clarity, I used format for google service account, not unity.

https://github.com/voltrue2/in-app-purchase/blob/develop/README.md#google-play-using-google-service-account

I use this approach in case the traditional method fails.

I repeat. Thanks a lot, and sorry the hassl

[2019-03-09 14:14] Nalgmann commented on #245
I'll close this issue.

[2019-03-09 14:14] #245 closed, assigned to nobody

[2019-03-09 14:15] voltrue2 commented on #245
No worries!

Cheers

[2019-03-15 09:32] mrpuzzler opened #246 "Amazon getPurchaseData always empty"
Amazon getPurchaseData always empty IF:

var options = {
 ignoreCanceled: true,
  ignoreExpired: true
};
var purchaseData = iap.getPurchaseData(validatedData, options);

AND Amazon IAP which with cancelDate: null

This check at amazon2.js is wrong, as it does not check for null and should only process SUBSCRIPTIONS, but not CONSUMABLE

    if (options && options.ignoreExpired && purchase.cancelDat

[2019-03-15 09:43] mrpuzzler commented on #246
This is how validatedData looks, and we get empty purchaseData for it.

Validation successful: { betaProduct: false,
  cancelDate: null,
  parentProductId: null,
  productId: 'mundus.coins.pack9',
  productType: 'CONSUMABLE',
  purchaseDate: 1552594408669,
  quantity: 1,
  receiptId: 'LONG STRING=:1:21',
  renewalDate: null,
  term: null,
  termSku: null,
  testTransaction: false,
  status: 0,
  s

[2019-03-15 09:49] mrpuzzler commented on #246
Suggested fix is:

if (options && options.ignoreExpired && purchase.cancelDate && purchase.cancelDate <= now) {
    return [];
}

[2019-03-17 10:47] #246 closed, assigned to nobody

[2019-03-17 10:48] voltrue2 commented on #246
Here is the fix: 93ccad796e62d9e80d2eb4db8599a500506118a5

Thank you again for reporting the issue.

Cheers!

[2019-03-17 11:47] mrpuzzler commented on #246
Great, thanks a lot.

On Sun, Mar 17, 2019 at 1:48 PM Nobuyori Takahashi <notifications@github.com>
wrote:

[2019-03-22 04:51] voltrue2 commented on #243
@firstguo

My apologies for getting back so late.
By “loss of error I info”, do you mean the receipt data that is supposed to be passed with an error?
If that is what you mean, I found a bug in createErrorData that the data of errorred receipt is returned always null.

I’ll fix this bug but please let me know this if the same issue you’re reporting it not.

Cheers!

[2019-03-22 06:37] voltrue2 commented on #243
Fix of the above mentioned: 13505ba2b7a80d0d2a9a1f2d32e2681da47cb034
Published npm version: `1.11.3`

[2019-03-24 06:51] kcfamilyguy opened #247 "RangeError when validate frequently"
Hi! Many thanks for the library!
**System:** Ubuntu 16.04
**Nodejs:** 10.13.0
**in-app-purchase:** 1.10.8
After couple of hours in my production, I got this error when call `await iapPurchase.validate(receiptData);`. I think it appears after validate too much times.

[code]

[2019-03-25 00:00] voltrue2 commented on #247
Hello,

The issue does not seem to be the library here...

Judging by the stack trace, it seems the stack overflow is caused by whatever is happening in node_modules/extend/index.js which is not part of in-app-purchase library. This code seems to be calling something from request module and that is causing the issue.

Cheers

[2019-03-27 02:48] voltrue2 commented on #247
Closed for no response

[2019-03-27 02:48] #247 closed, assigned to nobody

[2019-03-27 02:48] #243 closed, assigned to nobody

[2019-04-03 00:40] comtaler opened #248 "Cannot tell whether a google store purchase is a test purchase"
When validating a receipt from Google store, the validatedData does not contain information about whether this is a test purchase or not.

On google store, we can specify licensed users, and whichever device is logged into the licensed account can make in app purchase without being charged. That messes up our analytics data. We need a way to tell the purchase is a test purchase.

According to this

[2019-04-03 00:46] voltrue2 commented on #248
Hello

the library passes the validated receipt as is (getPurchaseData changes the validated data).

If you do not have purchaseType in the validates data, according to the Google documentation, the purchase was made with the standard in-app billing flow.

PurchaseType: Quote “This field is only set if this purchase was not made using the standard in-app billing flow.   “

Cheers

[2019-04-03 18:04] comtaler opened #249 "Unable to validate against Google service account"
With the receipt:

It works when validating with a public key. But when I enabled googleServiceAccount setting in the config, and calls iap.validate(receipt), it says packageName is missing.

[2019-04-03 18:07] comtaler commented on #248
I think it's because I didn't enable google service account settings. However, when I enabled it, it says my receipt is missing packageName. I opened a separate issue: #249

I will update this once #249 is resolved.

[2019-04-03 22:14] voltrue2 commented on #249
Hello

Please read the documentation:   https://github.com/voltrue2/in-app-purchase/blob/develop/README.md#google-play-using-google-service-account

The receipt format for Google service account is different.

Cheers

[2019-04-03 22:47] comtaler commented on #249
I also tried that as well by passing data field as parsed json object from the original receipt. But It seems it failed to detect the proper service type from the receipt.

Can I know why we need to have a different receipt format for using google service account? Why can't it take the original receipt and use the data field as the receipt for google service?

[2019-04-03 22:50] voltrue2 commented on #249
Hello

The format is as follows:

  { packageName: 'The packge name of the item purchased',   productId: 'The product ID of the item purchased', purchaseToken: 'PurchaseToken of the receipt from Google', subscription: true/false // if the receipt is a subscription, then true }

 Cheers

[2019-04-03 23:59] comtaler commented on #249
Thanks for the quick reply. I understand that the receipt format is different when using google service for validation, but for both using or not using google service:
[code]
or
[code]

They both fail. The second one tries to validate the receipt through Amazon service instead of Google service.

[2019-04-04 00:02] voltrue2 commented on #249
Hello

I assume you have the proper configurations for using Google service account? I mean the configurations for this library?

If both configurations and receipt format are correct, this is the first time I heard about any issue. I would like to track it down if possible.

Cheers

[2019-04-04 00:18] comtaler commented on #249
Thanks for your reply. It was my mistake that I pass in string instead of object to the validate function. It works now by passing in an object instead. Please feel free to close the issue.

[2019-04-04 00:19] voltrue2 commented on #249
Awesome.

[2019-04-04 00:19] #249 closed, assigned to nobody

[2019-04-04 00:22] comtaler commented on #248
The reason I am using google service for validating is to know whether it is a test purchase or not. Since it's an external service, there is a chance that it can go down or has temporary outage that would affect IAP, which is an essential part of our app. Is there a way to allow fallback to validate with public key if google service validation fails?

[2019-04-04 00:24] voltrue2 commented on #248
Hello,

There isn’t fallback like that at the moment, but I think it is a valid point. I will try to add fallback to public key validation if provided!

Cheers

[2019-04-08 17:36] comtaler commented on #248
@voltrue2 I can get PurchaseType from the validated result now for test purchase. This one can be closed. Would you like to to open another feature request ticket regarding the fallback validation feature or just leave this one open?

[2019-04-08 21:17] voltrue2 commented on #248
I’ll close this issue. As for the fallback feature, I will need to think about it as it may cause unwanted behaviors when you are validating subscriptions.

[2019-04-08 21:17] #248 closed, assigned to nobody

[2019-04-09 19:43] comtaler commented on #248
You can also leave this to the developers. I am ok to handle this on my own. But currently, once google service is set up, it will only use google service. If it can dynamically allow us to choose whether to use google service or local validation, that will work for me as well.

[2019-04-14 04:09] ryanbex opened #250 "testMade incorrectly handles stringed booleans"
If config.test equals a string of "false", the output erroneously prints the test mode is false.

One solution is to check for "false" or "true explicitly.
Second solution is to throw an error if a non-boolean is provided.

[2019-04-18 01:28] voltrue2 commented on #250
Hello,

Thank you for pointing it out. I will have make the necessary change!

Cheers!

[2019-04-23 22:50] Marc477 opened #251 "Sandbox mode for Unity IAP ??"
Is there a way to test Unity IAP ??

There's not much about Unity in the doc.  When I tried iap.validate(receipt) it always try to validate as Amazon. Until I realized you need to put iap.validate(iap.UNITY ,  .... )   but this is nowhere in the doc.  I had to check the tests.

Now I'm wondering if there's a way to validate a fake receipt generated by the Unity editor.
What i receive on my server

[2019-04-23 23:48] voltrue2 commented on #251
Hi,
The documentation on Unity is somewhat lacking as you pointed out.
I need to do better in that regard.
Anyways, if you have Apple sandbox receipt, you can use that as Unity receipt as its payload to test the validation. You may do the same with google play as well.
Cheers!

[2019-04-24 02:01] Marc477 commented on #251
Thanks for your reply !   I'm not sure how to get a Google Play sandbox receipt.  I tried the one in your test folder and it doesn't seem to work.

I would like to generate a sandbox receipt with my products ID. Unity generates a "fake" receipt when done from the editor.

[2019-04-24 02:07] Marc477 commented on #251
What I get is that with the receipt from your test folder: {"error":{},"status":1,"message":"client_id, client_secret, access_token and refres_token should be provided"}

Maybe because the receipt is a subscription? maybe that not the sandbox receipt I'm looking for, I'm just looking for a consumable receipt example.

[2019-04-24 03:08] voltrue2 commented on #251
I don’t think you can create a fake receipt as all receipts are signed.
Unless you recreate signing of your fake receipts the same way as google does, you will not be able to validate your fake receipts I’m afraid.

[2019-04-25 15:45] ohbibi-bhallion commented on #231
Hello there !

I came accross the same issue today while inspecting some transactions made by our users.
One of our user have tried to validate 2 purchases in a row.

The first response we got:

The second:

Note that in the second you can see transaction ID of the first request...

I retried the requests and they always return the same response.
A also checked here https://www.revenuecat.com/appl

[2019-04-25 21:48] voltrue2 commented on #231
Hello

The first purchase has an empty in_app array which is an indication of possible cheating or bug(s) in the purchase flow (usually client side) because you cannot get a receipt when you purchase nothing. The library successfully detected that and sending the application status 2, which is an error.
The second receipt came back with an error claiming there is no such transaction, which means t

[2019-04-29 08:06] triplef commented on #231
I don’t think that’s quite true: afaik downloading a free app also yields a receipt.

[2019-04-29 11:15] voltrue2 commented on #231
Hello, what I meant by it is you cannot get a valid Apple receipt with empty in_app field unless you are hacking the app.

[2019-05-02 12:36] galeksic90 opened #254 "Unity iAP google subscription validation failure"
Hello,

We have implemented Unity iAP validation and everything works fine except google subscriptions. It always back the same Error: Status 400, 'Invalid Value'.

We are testing in sandbox mode, and here is our module configuration.

[code]

And here is a log output as well.

[code]

[2019-05-07 01:10] voltrue2 commented on #254
Hi, apologies for getting back to you late. Do you get the same error if you validate the Google Play as is?
Looks like the error object isn’t printing all in verbose mode. I will make a change so that we see the error at least.
Cheets

[2019-05-07 04:34] cjroth opened #255 "expires_date is before original_purchase_date?"
I'm getting this back from Apple for `latest_receipt_info` in sandbox environment:
[code]

Notice that `original_purchase_date` is before `expires_date`. Am I crazy or is this a bug with Apple?

[2019-05-07 06:21] voltrue2 commented on #255
Hello,
I know that Apple's sandbox is not really well maintained... but this looks indeed odd.
When I look at `purchase_date_ms` and `expires_date_ms`, they seem to be correct.
It might actually be a bug in Apple sandbox.

Cheers

[2019-05-07 09:36] galeksic90 commented on #254
Hi, how do you mean if we validate the Google Play as is?

The non-renewable (consuming) products are working fine, the problem is only with subscription.

[2019-05-07 17:27] cjroth commented on #255
Thanks for the reply. I figured as much... its reassuring that my code isn't broken, but holy shit Apple.

[2019-05-07 17:27] #255 closed, assigned to nobody

[2019-05-07 23:44] voltrue2 commented on #254
Hi, what I meant by try validating as is was to use the receipt from Google Play instead of Unity receipt. It should not change the way validation works but I just wanted to see if the issue comes from Unity receipt or not.
Cheers

[2019-05-17 02:37] sardon commented on #236
+1 !!

I agree that this is a desirable feature - it would allow to distinguish a system failure from a hacking attempt.

If a system failure, you may want to grant entitlements (depending on your use case), if hacking attempt you don't want to grant entitlements.

[2019-05-27 18:19] worapolburaphan opened #256 "The current user has insufficient permissions to perform the requested operation"
[code]

my receipt
[code]

What wrong with receipt or google account service.
Have any suggestion??

[2019-05-28 00:41] voltrue2 commented on #256
Hello, it looks like you need to set up your Google service account permissions properly. The account use you use should have full access to financial APIs.
Please read Android dev documentation on this.

Cheers

[2019-05-28 00:41] #256 closed, assigned to nobody

[2019-05-28 08:19] worapolburaphan commented on #256
![image](https://user-images.githubusercontent.com/12433101/58462338-dcec6e00-815b-11e9-865a-8e950f2df1af.png)

@voltrue2
I already to do that. It not work!

[2019-05-28 12:37] worapolburaphan commented on #256
And I tried to use google acc token, ref token, clientId, clientSecret.
I was get this error instead.

![image](https://user-images.githubusercontent.com/12433101/58478254-cd7f1c00-817f-11e9-977f-39c536e5f11b.png)

But!!
I can use my 4 token on OAuth 2.0 playground normally.

[2019-05-28 14:50] Beckmi2 opened #257 "Can't find module 'net'"

[2019-05-28 14:57] Beckmi2 commented on #257
I work with NativeScript Sidekick and would like to use this plugin.
But when I 'run on device' on IOS the app starts and closes instantly.
The device control says:

[code]

On Android there is a similar error.

Can anybody help, please?!

[2019-05-28 18:30] emberTrev opened #258 "Still using v2 on some google api calls"
In google.js all of the urls are still ```'https://www.googleapis.com/androidpublisher/v2/applications/'```. Since the urls in googleAPI.js have been updated to v3, i think these urls should also be updated.

[2019-05-28 20:43] worapolburaphan commented on #256
Okay I can solved this.

Every my google play / google service account setting is okay.
But!!! My app release run on alpha / close / internal testing mode. It make google service account can access only in production but my app in alpha release.

Solution.
![image](https://user-images.githubusercontent.com/12433101/58510798-b4985a00-81c3-11e9-9fe7-3263c501bef1.png)

Go to Google play console Setti

[2019-05-29 01:18] voltrue2 commented on #258
Just merged your PR for this issue! Thank you for the help.

Cheers!

[2019-05-29 01:18] #258 closed, assigned to nobody

[2019-05-30 09:06] bit-crafter commented on #254
@voltrue2 in the googleAPI.js file _getValidationUrl  checks receipt.subscription and now that parameter is not available so instead of checking subscription it checks a product which causes HTTP error.

[2019-05-30 09:23] voltrue2 commented on #254
I see. Thanks for pointing it out. I’ll havd a look at it!

Cheers!

[2019-05-31 19:16] ghost opened #260 "Provide type definitions"
I miss typing when using this library with TypeScript.
There's [this](https://www.npmjs.com/package/@types/in-app-purchase) typing definition package, but I don't know whether it is official or not, and it is way outdated.

[2019-06-02 19:26] bander-saeed94 opened #261 "This receipt is a production receipt, but it was sent to the sandbox service for verification."
I need your support.

This receipt is a production receipt, but it was sent to the sandbox service for verification.

[2019-06-02 19:27] bander-saeed94 commented on #261
constructor() {
    this.configObject = {
      requestDefaults: {
        /* Please refer to the request module documentation here: https://www.npmjs.com/package/request#requestoptions-callback */
      },

      /* Configurations for Apple */
      appleExcludeOldTransactions: true, // if you want to exclude old transaction, set this to true. Default is false
      applePassword: process.env.IAP

[2019-06-04 18:38] jshanman commented on #130
I'd like to +1 this. It is critical to know exactly what the request error was so we can determine whether a retry is possible or know if 3rd party servers are having issues.  For example, Apple occasionally responds to iap and subscription responses with a 500 error and there is no exposure for us to capture that, we just get "Unknown".

In apple.js I'd suggest adding both "res" and "data" to the

[2019-06-06 01:27] voltrue2 commented on #130
Hello,
Apologies for getting back on this issue so late...
I will be looking at this issue early next week, also I will consider exposing the request object as @jshanman has suggested.

Cheers!

[2019-06-06 01:29] voltrue2 commented on #261
Hello,

I assume you are trying to validate Apple receipts?
Would you please give me the error log that you get so I have better understanding as to what is happening?

Cheers

[2019-06-06 02:30] jcurlier commented on #175
We have the following comment in the code:

[code]

It doesn't seem to match the Apple documentation:

[code]

The behavior is different between Apple and Google. This is creating an issue with several customer subscriptions. Shouldn't we ignore all canceled subscription when the flag is set regardless of the expiration?

[2019-06-06 07:25] voltrue2 commented on #175
Hello,
There might have been a reason for this. Let me have a look.

Cheers

[2019-06-06 16:40] ghost opened #262 "in_app is not in the response. (Apple)"
I'm trying to get all receipts while validating one and thought it could be achieved using this package since a lot of other issues include `in_app` somewhere (the array of all receipts as defined in Apple's doc https://developer.apple.com/library/archive/releasenotes/General/ValidateAppStoreReceipt/Chapters/ReceiptFields.html)

Our App is subscription based.

My code looks like this, I was expect

[2019-06-08 05:22] RodolfoGS commented on #196
Hi @jenni-divvito, Could you fix the issue? I'm using **react-native-iap** too and I have the same problem. Thanks!

[2019-06-10 11:29] galeksic90 commented on #254
Hey @voltrue2

Any news about the issue?

[2019-06-10 22:44] jaimegmx8 commented on #261
I'm getting the same error, it was working fine during Apple Certification.

{"error":{"validatedData":{"sandbox":true,"status":21008,"message":"This receipt is a production receipt, but it was sent to the sandbox service for verification."}}

[2019-06-10 23:39] voltrue2 commented on #254
Hello

I’m still in the process of going through issues.
Maybe it’s time for me to ask for help and support from the community as issues are piling up recently.
Anyways, I should be able to get to this later this week or early next week.

Cheers

[2019-06-10 23:42] voltrue2 commented on #261
Hello,

This error comes from Apple server telling us that the receipt is a production receipt.
I need to know your setup in order to properly tell what is happening.

Cheers

[2019-06-11 03:44] jaimegmx8 commented on #261
While writing my answer I discovered that the environment variables weren't being parsed correctly, and we were actually setting test to true.

This looks like the same problem @bander-saeed94 was having.

Thank you @voltrue2.

[2019-06-11 03:57] bander-saeed94 commented on #261
Yes, This is totally correct.

I was able to overcome it by:

[code]

[2019-06-11 03:57] #261 closed, assigned to nobody

[2019-06-11 16:00] dsullivan7 opened #263 "Support for specifying google service account by file path"
I would be great to support specifying the service account json by file path rather than explicitly passing in the private key and client email. Something like:

[code]

This would avoid having to store the whole private key in an environment variable.

[2019-06-11 23:56] voltrue2 commented on #263
Hello,

Yes. I have been considering this also.

Thank you for the input. I’ll make sure to have a go.

Cheers

[2019-06-14 09:28] MoonCha opened #264 "support for Facebook Payment Lite"
I worked on In App Purchase for Facebook web game, and made an in-house in-app-purchase module to validate Facebook Payments Lite receipt.

I used the module about an year, and it seems work well.

If you're interested in supporting Facebook Payments Lite, I'd like to make a PR.

[2019-06-16 09:18] voltrue2 commented on #264
Hello,

That would be awesome! Let's make it happen.
Looking forward to your PR

Cheers!

[2019-06-17 03:42] MoonCha commented on #264
I'm glad you like it! I'll make PR in a few days.

[2019-06-18 02:54] voltrue2 commented on #264
Awesome! I am looking forward to it.

Cheers!

[2019-06-23 12:44] mifi commented on #255
I'm having the same issue, glad to see it's not just me

[2019-06-24 09:35] vincent-ogury opened #266 "multi accounts support"
Hi,

Are they a way to handle multiple accounts configuration with your module?

As explained in the documentation and as I see in the code, you can only enter one configuration and validate payment against it.

If I have several account I can't do that:

[code]
and
[code]
in the same node process because "config" are shared on the module as a global static variable.

Something like:
[code]
Would

[2019-06-24 10:37] voltrue2 commented on #266
Actually validateOnce() is exactly for that.

Cheers

[2019-06-24 12:04] vincent-ogury commented on #266
Oh, yes sorry, I have missed that part:
https://github.com/voltrue2/in-app-purchase#validate-receipts-from-multiple-applications

Thanks, I go with it.

[2019-06-24 12:04] #266 closed, assigned to nobody

[2019-06-24 17:17] MoonCha commented on #264
I've completed revising in-house facebook module to be used as public module and writing some tests.

However, I'm having difficulty in finding sample receipt for test and its validation token.

I tested with my live product's receipt and token, but I can't show them to public.

I think we can choose two ways to resolve this problem:

1. mocking validation api call to facebook server
2. create dum

[2019-06-25 13:06] vincent-ogury opened #267 "isCanceled with googleApi"
Hi,

We have created an app with a one-time in-app purchase.
Then the developer has canceled the payment

I've got this purchase data:
[code]

We don't have cancelReason here. But the "purchaseState" === "1", which mean according to the documentation: "Cancelled"

https://developers.google.com/android-publisher/api-ref/purchases/products

So I have made a flow like this:
[code]

Can you handle the

[2019-06-25 13:36] vincent-ogury opened #268 "getPurchaseData return bundleId (ios) or packageName (google)"
When I retrieve a purchase from iOS or Android, we got a different name for the bundle of the app. (getPurchaseData)

In the code of apple.js:
[code]

We have not such behavior of google app
Can we add something like:
[code]

Thanks

[2019-06-25 16:47] runloop opened #269 "Validating iOS receipts for paid apps with no in-app purchases."
I understand this is called in-app-purchase and is used for validating in-app purchases, but is there a good reason why it cannot also be used to validate receipts of paid apps without in-app purchases also?

Currently when I try this I just get the follow 'error':
`{"error":{},"status":2,"message":"The receipt is valid, but purchased nothing."}`

I went through the code and found that this is rel

[2019-06-26 10:19] voltrue2 commented on #269
Hello

That logic is there so that “faked” receipts can be detected and rejected. There are people who use receipts with an empty in_app array to try to pass by the validation.
I suppose we could add an option to switch this check off.

Cheers

[2019-06-26 11:49] runloop commented on #269
That would be really great. I forked the repo and added this myself for the time being and it works great.

[2019-07-01 16:39] bander-saeed94 opened #271 "Google receipt"

[2019-07-01 16:43] bander-saeed94 commented on #271
"rootErrorHandler:Invalid value { data:\n   { orderId: 'GPA.3371-1238-8496-69215',\n     packageName: 'com.dhad.pnf.urdu_app',\n     productId: 'open_library_one_month',\n     purchaseTime: 1561921536964,\n     purchaseState: 0,\n     developerPayload: 'subs:open_library_one_month',\n     purchaseToken:\n      'fhebgdfpobcbgkkabnhpdgoa.AO-J1Oz__3jsedZoNzmo7dgEQI4lqqNsOKa6lAi6brGM8QvYDLIHh7Q8g986oC

[2019-07-03 16:13] #271 closed, assigned to nobody

[2019-07-12 11:01] Namoow opened #272 "Error validation fail"
Hi, when I validate my receipt and secret key on your site it works. But when I try to validate my ionic IOS app with same parameters it returns this error :

--- CODE ---

I am totally stuck for several days, can you help me please.

[2019-07-17 11:06] dvdbackend opened #273 "Apple. Cancellation Date"
How do I get the Cancellation Date?
cancellationDateMs?

Example with Expiration Date:
{expiresDate: '2019-07-17 07:21:43 Etc/GMT',
expiresDateMs: 1563348103000,
expiresDatePst: '2019-07-17 00:21:43 America/Los_Angeles'}

[2019-07-18 05:12] voltrue2 commented on #272
Hello,

It looks like your server uses proxy of some sort?

Cheers

[2019-07-18 07:26] chintan100 commented on #262
I have the same question as well.

If we set `verbose: true` , the `in_app` array is logged in console with "`Sandbox validation successful:`" but I couldn't find a way to access `in_app` array to store each renewal transaction in database.

[2019-07-19 15:04] Namoow commented on #272
hi,

I don't think so, but I decided to directly do the http request without the plugin and it works.

thanks anyway

[2019-07-23 09:01] kodekq opened #274 "<Google> Failed: malformed receipt"
Hello. I have a problem here. When I try to verify json, I get an error (<Google> Failed: malformed receipt), but if the received json is output to the log, copy and paste it onto the web service (http://iap.gracenode.org/), then it passes verification without any problems and there are no errors. In this situation, I do not even know which side to look for the problem.

[2019-07-23 10:16] kodekq commented on #274
I figured out, it was necessary to get the resulting json through JSON.parse

[2019-07-24 08:35] #274 closed, assigned to nobody

[2019-07-30 13:29] dancherb commented on #196
Any updates on this @voltrue2 @jenni-divvito? I'm also using react-native-iap and having this problem - thanks for all the work :)

[2019-08-03 07:06] chintan100 commented on #262
Figured out soon after my comment. You can access in_app array by using:

`let allTransactions = appleReceipt.receipt.in_app;`

[2019-08-07 14:39] MoonCha commented on #264
Finally Facebook resolved the issue above, thus I could put real test data in my commits.
I'll make PR soon.

[2019-08-16 10:49] chanind opened #276 "http proxy support"
The `request` library that's being used here supports setting a http proxy via the `proxy` parameter when sending requests, but there's no way I can see to configure that parameter in this library. We need to be able to set this parameter because our servers are located inside of China, and Apple's servers are outside of China, so if we don't go through a proxy the requests will frequently get blo

[2019-08-16 13:02] chanind commented on #276
I am dumb, the `requestDefaults` parameter allows this to work!

[2019-08-16 13:02] #276 closed, assigned to nobody

[2019-08-21 15:14] galeksic90 commented on #254
@voltrue2

Thanks for response. I would like to help, but i am not nodejs developer.
Please let me know when it is fixed.

Regards

[2019-08-22 11:00] jjantschulev opened #277 "Validation is successful for pending in app purchases Google"
On the android in app purchase screen, I am allowed to choose a slow successful test card or a slow declining test card. With both of these cards, the receipt is always validated successfully, even though the payment is still `pending` in the google play console. Is there any way to check wether a payment is pending or successful or unsuccessful using this library.
The purchase status in the valid

[2019-08-22 11:00] jjantschulev opened #278 "Validation is successful for pending in app purchases Google"
On the android in app purchase screen, I am allowed to choose a slow successful test card or a slow declining test card. With both of these cards, the receipt is always validated successfully, even though the payment is still `pending` in the google play console. Is there any way to check wether a payment is pending or successful or unsuccessful using this library.
The purchase status in the valid

[2019-08-22 11:00] jjantschulev opened #279 "Validation is successful for pending in app purchases Google"
On the android in app purchase screen, I am allowed to choose a slow successful test card or a slow declining test card. With both of these cards, the receipt is always validated successfully, even though the payment is still `pending` in the google play console. Is there any way to check wether a payment is pending or successful or unsuccessful using this library.
The purchase status in the valid

[2019-08-22 19:16] svzi opened #280 "[iOS] iap.isValidated() returns false for receipt with "Sandbox validation successful""
Hi there!

I'm trying to use this plugin to validate my in-app-purchases. For Android receipt validation my code is working as expected, but for Apple Sandbox receipts it fails, even when the verbose debug output of the plugin tells me, the the receipt has been validated successfully.

I'm using this code (simplified for demonstration purposes):
[code]

This is what my console output returns when

[2019-08-22 22:44] voltrue2 commented on #280
Hello,

`iap.isValidated()` expects the returned object of `iap.validate()`.

The code below needs to be removed.
[code]

Cheers

[2019-08-23 06:42] svzi commented on #280
Just to be clear, this code would be sufficient:

[code]

No need to call `iap.getPurchaseData(googleRes, options);` and validate each of the returned objects?

[2019-08-25 11:01] jjantschulev commented on #277
Duplicate issue.

[2019-08-25 11:01] #277 closed, assigned to nobody

[2019-08-25 11:01] jjantschulev commented on #279
Duplicate accidental issue.

[2019-08-25 11:01] #279 closed, assigned to nobody

[2019-08-25 23:39] jjantschulev commented on #278
I am so stupid. A purchase state of 2 does not mean validated. [Source](https://developers.google.com/android-publisher/api-ref/purchases/products) It means pending. So silly. A purchase state of 0 means successfully purchased. And 1 means canceled.

[2019-08-25 23:39] #278 closed, assigned to nobody

[2019-08-26 04:29] voltrue2 commented on #280
Hello,
Yes the code you pasted above is sufficient.
getPurchaseData() is just a support function that may help make your life simpler but not required.

Cheers!

[2019-08-26 08:45] svzi commented on #280
Thanks a lot for clarification @voltrue2 !

[2019-08-30 13:51] booboothefool opened #283 "Which fields are recommended to check if subscription hasn't expired and will renew?"
I see the fields:
[code]

I noticed they all have a way of doing it. For `latest_receipt_info` seems like have to sort by date then use the expiration, `pending_renewal_info => auto_renew_status` and `purchaseData => expirationDate`, etc.

I am not sure what they specify exactly because they seem really similar. What is the difference between `latest_receipt_info` and `purchaseData` for example?

[2019-09-02 07:24] jvandenaardweg commented on #260
Yeah, that package is not reliable anymore

I'm trying to update the types. Think it's good if the type definitions are just added to this project, as it's easier to keep it in sync with the code.

I've just started this fork: https://github.com/jvandenaardweg/in-app-purchase/blob/develop/index.d.ts

Feel free to help. Types are not finished yet.

Only using the Android and Apple subscriptions par

[2019-09-09 18:18] spedalilama opened #285 "Google Service Account"
I am trouble validating for Google with a Google Service Account was wondering if in index.js  (line 107) the check for receipt.purchaseToken should be parsed.purchasedToken (code snipet from index.js below)

`try {
        // receipt could be either Google, Amazon, or Unity (Apple or Google or Amazon)
        var parsed = JSON.parse(receipt);
        if (isUnityReceipt(parsed)) {
            retu

[2019-09-13 14:23] #272 closed, assigned to nobody

[2019-09-13 22:51] comtaler opened #286 "Support toggling Google service on/off with validateOnce"
We are trying to integrate a new receipt verification service called Flexion. It is a portal for various stores (amazon/samsung/...), it generates receipts in the same way as Google's receipt format except that it adds an extra field in the payload to indicate that it is signed by Flexion. And it uses public key to validate the receipt the same way as Google.

I have tried different ways to use th

[2019-09-14 02:48] bmueller opened #287 "Implement iOS subscription grace period"
Add support for the new iOS subscription grace period. When opted in, subscribers get an extra 6 or 16 days to renew if there's a billing issue with their iTunes account. Just need to account for this in the receipt from Apple. More details here: https://www.revenuecat.com/2019/09/13/supporting-ios-billing-grace-period

[2019-09-23 13:50] kodekq opened #288 "RangeError: Maximum call stack size exceeded"
When deploying the plugin on the server, everything is fine at first, but over time (several thousand verifications), when I try to validate
iap.validate(objectReceipt).then(onSuccess).catch(onError);

I get error:
RangeError: Maximum call stack size exceeded

Any attempt to validate, I get this error until I restart the server, time passes and everything repeats again.

[2019-09-25 17:48] svzi commented on #280
Sorry, I need to bother you again @voltrue2 !

With the code I mentioned here (https://github.com/voltrue2/in-app-purchase/issues/280#issuecomment-524193545), my validation returns true for a sandbox receipt that should not be true in my opinion:

[code]

That receipt is canceled and has expired about 6 days ago. Any idea why this receipt is reported back as valid???

Best,
Sven

[2019-09-27 07:10] nushydude commented on #285
Are you getting an error?

Verifying with Google Service account is now not working for me. I get the error `Failed to get token: [object Object]` when trying to verify. I'm wondering if it is something Google changed because I didn't change my code or upgraded in-app-purchase package at all.

[2019-10-02 09:53] Jaydip2711 opened #289 "what is applePassword?"

[2019-10-09 19:48] doomsower opened #290 "Feature request: google purchase acknowledgement"
There's an API method for server-side purchase acknowledgement: https://developers.google.com/android-publisher/api-ref/purchases/products/acknowledge

Is there any chance to get this added to `in-app-purchase`?

[2019-10-16 10:01] naciriii opened #291 "Apple cancellationDate is not in ms"
### Summary:
When trying to validate a receipt of a cancelled subscription the cancellation date is returned in datetime str format instead of epoch for this , we need either to transform cancellation_date to epoch or use the cancellation_date_ms which exists in the receipt attribute .
I'll create a PR for that today
### Code sample
#### Properties declaration
 Update the **PURCHASE _DATE** to **P

[2019-10-23 07:35] Baskerville42 commented on #254
@voltrue2 I have the same problem
one-time purchases always validated well, but subscriptions are not
as I know, the problem can be with `purchaseToken`
but I'm not sure what is the difference between `purchaseToken` for subscription and product

[2019-10-23 07:46] Baskerville42 commented on #254
oh, I missed it
https://github.com/voltrue2/in-app-purchase#google-play-using-google-service-account
sorry for my fault :)

[2019-10-25 13:59] Baskerville42 commented on #289
that's special token which allows you get access to API

[2019-10-27 15:05] galeksic90 commented on #254
@voltrue2 Any update on this?

[2019-10-30 15:35] 92Harsha opened #293 "Error: Missing public key"
let receipt = {
        "data":  '{"orderId":"GPA.3688-7453-9084-04836","packageName":"com.myapp","productId":"com.myapp.coins.10coins","purchaseTime":15724436038097,"purchaseState":0,"purchaseToken":"edgbpfkacopakokjllfoohgg.AO-J1Ow2MCW-baqvROp-IvUzbyMBjJefAe9b34f3w"}',
        "signature": MYSIGNATUREKEY
      }

    const response = await iap.validate(receipt);
    iap.setup(async function(){

[2019-10-31 21:17] MarcARoberge commented on #260
@jvandenaardweg did you update the @types/in-app-purchases ? looks like it has been updated not so long ago

[2019-11-01 13:49] elidrissizakaria6 commented on #283
Hello, i want to know if you found the best way to do this ? thanks u a lot !

[2019-11-08 10:47] muslemomar opened #294 "detect when the subscription is cancelled ?"
Is there a way to let the Nodejs server know that the subscription is cancelled, for example getting a notification or something?

If not, how should I manage the cancellation of the user subscription 😕

[2019-11-14 00:36] Dellybro commented on #294
Cancellation date should be attached as far as i know

[2019-11-14 00:37] Dellybro opened #295 "Question: Unique Identifier across all subscription renewals"
Is there anyway to uniquely identify a specific Google ID or Apple ID's subscription across all renewals, cancellations etc?

[2019-11-14 10:20] ShellsOfSilver commented on #289
https://www.appypie.com/faqs/how-can-i-get-shared-secret-key-for-in-app-purchase

[2019-11-18 06:39] jayna456 commented on #280
Hello @svzi , Have you resolve this issue? I am facing similar issue. I am always getting true from isValidate()

[2019-11-19 07:13] svzi commented on #280
@jayna456 It probably depends on what you're trying to verify. To you validate subscriptions or simple purchases, or both?

[2019-11-19 16:43] jayna456 commented on #280
Hello @svzi , I want to validate subscriptions. I figured out the problem. in getPurchaseData() I am passing ignoreExpired as true. Just removed that and problem solved..

[2019-11-20 09:09] svzi commented on #280
@jayna456 👍

[2019-11-22 01:50] jeebus3000 commented on #294
Call iap.isCanceled on purchase data.

[2019-11-23 01:14] anshul-kai commented on #107
This happens to me from time to time too. Would be nice to actually catch this and return gracefully. Below is the `error` output.

[code]

[2019-11-26 02:12] howg0924 opened #296 "Weird iOS validation result"
One of our customer complained he paid but didn't get the product. After check the log, I found the initial validation failed with the following error:

{"error":{},"status":-1,"message":"Unkown"}

But when I validate the receipt again now, it can be validated correctly.

What does this error mean? Does this mean some sort of network communication error?

Besides, I also found another validation e

[2019-11-29 07:44] fndppx commented on #294
Non-renewable subscription is support  detect isCanceled??

[2019-12-04 17:21] stephenDyksen commented on #296
@howg0924 I see the exact same error, and I confirm the same thing... that when I retry the receipt validation a second time later, it works perfectly. Is it possible it is some issue with apple's validation endpoint?

[2019-12-05 10:56] chr4ss1 commented on #296
Change this line:

[code]

to

[code]

There are also few error codes that are not in the `errorMap`, namely:

[code]

I believe it could very well be problem with Apple endpoint. Ideally your infrastructure has built a queue system that works followingly:

If we can't process the receipt for whatever reason (eg network connection failed or Apple gave us some random bullshit), queue the receipt to

[2019-12-05 12:05] chr4ss1 commented on #294
ios and android both have server-to-server hooks that will notify you when user cancels. In order to check if it is cancelled, you just need to check if cancellationDate has been set.

```if(receipt.cancellationDate) { /* it has expired */ }```

[2019-12-05 14:25] chr4ss1 commented on #285
I don't know if the answer to your question is yes, but for google service account, I pass the receipt as an object (not a string) (thus the code you see will work).

[code]

[2019-12-05 14:30] chr4ss1 commented on #283
Use cancellationDate & expirationDate that you get from this package.

[code]

You will then need to implement cron job that runs every hour on server side that starts to refresh existing receipts in the database when it is close to expiring. Once every hour for day before and after.

[code]

[2019-12-05 14:36] chr4ss1 commented on #293
have you set GOOGLE_IAB_PUBLICKEY_LIVE and GOOGLE_IAB_PUBLICKEY_SANDBOX environment variables that you get from developer.android.com -> google play console?

[2020-01-09 14:03] #293 closed, assigned to nobody

[2020-01-09 21:40] tlynchlaw opened #297 "iap.validate(receipt) stopped going to onSuccess"
I'm validating receipts for Apple's IAP.

I have been testing all day and did not change my code that validates the receipt and goes to `onSuccess`.  I was working with other code to retrieve information from `purchaseData`.  But now I no longer get to `onSuccess` and I don't get to `onError` either.

The in-app purchase works fine on the device, but the receipt checking seems to be very slow now.

[2020-01-10 23:05] kinex opened #298 "[Apple] getPurchaseData may give wrong result"
I was looking at the function `getPurchaseData` in apple.js. I don't understand this piece of code:
[code]
Code is not doing what the comment says as it should in my opinion. It looks like it is now including a random item and filtering out the rest with the same `original_transaction_id`. Or did I miss something..

[2020-01-10 23:18] kinex commented on #298
Never mind, I guess sorting the list by `purchase_date_ms` (descending) makes it work correctly. There is just some obsolete comment which confused me.

[2020-01-10 23:18] #298 closed, assigned to nobody

[2020-01-13 09:50] triplef opened #299 "Apple: getting receipt data if IAP list is empty"
We have a use case where we want to process Apple receipts without IAPs and access metadata like "original_application_version".

Unfortunately the following code in apple.js currently causes the library to throw an exception for this case:
https://github.com/voltrue2/in-app-purchase/blob/65b058f0c764fcbe7f5c86082bea3dddb2474f90/lib/apple.js#L377-L390

Is there a way to call `iap.validate()` with

[2020-01-15 03:06] BabyToy opened #300 "Cannot Find Attribute "sandbox" in validate() result"
As stated, I need to find out if the validated receipt is a sandboxed purchase, but I cannot find the attribute "sandbox".

This is my code:

    validatedData = await iap.validate(receipt);
    if (!iap.isValidated(validatedData)) {
      throw new Error("Purchase validation error");
    }
    if (validatedData.sandbox) {
      throw new Error("Sandbox receipt used in production");
    }

I have

[2020-01-21 08:30] fitmax-project opened #301 "missing package name (google play)"
hey.
i am trying to validate iap for subscription product on google play.
but i am getting **Error: Missing Package Name**
my edited recipe look like that:
[code]
my iap settings:
[code]
means - all is set...

any idea what could go wrong??

btw - signature prop and googlePublicKeyStrLive are same, isnt?
p.s apple works great

[2020-01-27 14:28] triplef commented on #299
I was able to achieve the above by passing my own callback function to validate() like this:

[code]

[2020-01-27 14:28] #299 closed, assigned to nobody

[2020-02-08 15:07] husmen73 opened #302 "RangeError: Maximum call stack size exceeded"
Ref: https://github.com/voltrue2/in-app-purchase/issues/247

Versions:
node v10.15.3
pm2 v4.1.2
in-app-purchase ^1.11.4
request 2.88.0

Some of our users receipts could not validate their receipts. This error only occurs in Apple receipts.

What can cause this error?

Log:
`iapService.validate(receipt) onError:  RangeError: Maximum call stack size exceeded
0|Server  |     at String.toString (<anon

[2020-02-08 15:08] husmen73 commented on #288
Same on Ref: https://github.com/voltrue2/in-app-purchase/issues/302

[2020-02-08 15:10] husmen73 commented on #302
Please check https://github.com/request/request/issues/2828

[2020-02-08 18:38] anshul-kai opened #303 "validate missing documentation"
@voltrue2 I think we should add some documentation for the `validate` method. I'm also happy to submit a PR for this. I'm receiving the following errors sometimes and it is unclear without investigating the code whether this means the request failed or if the receipt is invalid. In my particular case, both of these failures were for valid receipts.

[code]

[code]

Is it safe to assume that if `va

[2020-02-09 19:53] triplef commented on #303
An ECONNRESET error happens when the TCP connection was abruptly closed by the server, e.g. because it was overloaded. I’ve recently seen these errors happen with Apple’s servers as well. Catching them and adding a one-time retry fixed these in almost all cases for me, and this seems to be a common practice in other Node modules as well. Maybe it’s something the validate() method could do internal

[2020-02-10 15:29] anshul-kai commented on #303
That's definitely a possible solution, although, this issue is to suggest better documentation for the `validate` method. It is unclear whether all errors are failures in the execution of the validate method or if invalid receipts sometimes throw an error too. As can be seen above, there were two separate valid receipts that ended up with two different errors.

[2020-02-20 13:14] blaur opened #304 "String receipts for Google Service Accounts not interpreted correctly in getService"
When providing a **string** receipt with following elements:
`
{"packageName":"com.hehe","productId":"com.hehe.subscription","purchaseToken":"TOOOOKEN","subscription":true}
`

It wont properly understand it is google because of the below looks at the original string and not the parsed receipt:
![image](https://user-images.githubusercontent.com/3765959/74936813-1ef4c880-53eb-11ea-8a0f-8c3b423a926c.

[2020-02-21 12:01] imryaaan opened #305 "Unknown message digest"
Im using this app on IOS and it works perfectly but with Android the iap.validate() function is retuning 'Unknown message digest', i have validated the receipt and public key on http://iap.gracenode.org/#validate-android and all is looking good so im not sure why this error is appearing. I have `<Google> test mode? true` and my code goes as follows
[code]

Any information on this would be much app

[2020-03-05 06:57] bilalsha opened #306 "Unity iAP google subscription validation failure"
my Android receipts seem to be detected as Amazon purchases. I don't even have Amazon set up in the config section.

Here is my iap.config with real values removed:

const config = {
	verbose: true,
	test: true,
	requestDefaults: {
		//apple settings
		appleExcludeOldTransactions: true,
		applePassword: 'secret',
		googleServiceAccount: {
			clientEmail: 'email,
			privateKey:'key',
		},
		googleR

[2020-03-13 11:47] nickbullll opened #308 "Is comparing endDate and current the right way to validate if subscription active?"
Hey, if I understand right, the only way to check if user subscription is active is to compare `expiresDateMs` with current date (I have only ios subscriptions)

If I'll call `deliverSubscriptionReceipt` on every app launch, will this code handle all situations? Like free trails, Introductory Offers and etc for ios subscriptions

[code]

[2020-03-19 10:04] 0x80 commented on #304
@blaur Where did you find this code? I think I ran into this issue as well, but if I search for `receipt.purchaseToken` in the codebase nothing turns up in the master or develop branches.

[2020-03-19 10:34] blaur commented on #304
@0x80 You can find it here: https://github.com/voltrue2/in-app-purchase/blob/develop/index.js

On line 107 you can see that it says receipt.purchaseToken but it should be looking at the parsed token. I've highlighted it below.

![image](https://user-images.githubusercontent.com/3765959/77058324-92cbc600-69d5-11ea-8e0e-ce936a26cc1b.png)

[2020-03-25 18:16] rodrigopasc opened #310 "Validate"
I'm facing the trouble:

[code]

When I try to invoke (for Android):
[code]

Am I missing something?

My config is:
[code]

As I just want to validate and it's only needed packageName, productId and purchaseToken I didn't give any Google Key in the `config()`.

What am I doing wrong?

[2020-03-27 12:50] #310 closed, assigned to nobody

[2020-04-07 06:08] Tekrajs opened #312 "Signature is not provided in google receipt"
The sample data shows that signature along with data is required,
        {
            "data": {Signed Data JSON},
            "signature": "Base 64 encoded signature string"
      }
But in my purchase receipt I only get the following things

`{"orderId":"xxxxxxxxxxxxxxxx","packageName":"xxxxxxxxxxxx","productId":"xxxxxxxxxxxxxx","purchaseTime":1586239152181,"purchaseState":0,"purchaseToken":"xxx

[2020-04-07 12:48] ManalLiaquat opened #313 "paymentState not found in subscription validation response"
Hello! I want **paymentState** in validation response for auto-renewable subscription, to check that subscription is in a trial period or not. Can I get this object in response as in the [official docs](https://developers.google.com/android-publisher/api-ref/purchases/subscriptions).

My Code:

[code]

Similar Issues don't help me!
[#94](https://github.com/voltrue2/in-app-purchase/issues/94)  [#12

[2020-04-23 11:27] Bazm0 commented on #302
Seeing the same issue occur, the underlying issue with the Request module appears to be related to `reqeust.defaults`. Suggest explicitly ensuring that `requestDefaults` is  not included in the configuration object used in `iap.config(config)`
This should avoid the issue.

[2020-04-24 09:54] ramirobg94 commented on #306
+1 i have the same problem here it looks related with https://github.com/voltrue2/in-app-purchase/issues/219

[2020-04-24 10:20] ramirobg94 opened #314 "Error with google play"
My code works perfect on Apple but I have troubles with Android:

this is the response `<Amazon> Validation failed: { status: 498, message: 'Invalid Purchase Token' }`

the code:

[code]

I have this file from Android:

[code]

I used GOOGLE_CLIENT_EMAIL the client_email and GOOGLE_PRIVATE_KEY for private_key.

Any idea?

this is a purchase:
[code]
Thanks!

[2020-04-26 09:54] rylax commented on #287
+1 Would love to see this too!

[2020-05-14 04:55] AntonERG opened #315 "Will it validate Apple (iOS) paid app receipt?"
Hi, I'd like to try this nice solution for validation Apple (iOS) receipts.
Just nee to know, will it works with iOS paid apps?
Will it validate iOS paid app receipt?

[2020-05-15 13:47] triplef commented on #269
I found a workaround for this as outlined here: https://github.com/voltrue2/in-app-purchase/issues/299#issuecomment-578773302

You can use this to catch the error and check for the following in the error hander:
`error.validatedData && error.validatedData.status == 2 /* VALIDATION.POSSIBLE_HACK */`

If this is the case the receipt was valid, but contained no in-app purchases.

[2020-05-15 13:48] triplef commented on #315
Generally yes, i.e. it will send the receipt to Apple and parse the result, but it will throw an error `VALIDATION.POSSIBLE_HACK` if the list of in-app purchases is empty.

See https://github.com/voltrue2/in-app-purchase/issues/269#issuecomment-629245537 for a workaround.

[2020-05-20 13:37] kmentrobin opened #316 "Vue.js - iOS"
Hi I'm newbie in Web development but experienced in iOS development and I tried find the way how to implement this but without success. I have web app in Vue.js and need to validate the receipt from my iOS app and really don't know where I can access this. I installed this module but that's where my skills ended :D If you please can provide me some useful link where I can read how to make it that

[2020-05-26 12:47] svzi commented on #130
@voltrue2 Any update on this?

I'm currently getting this error message back from my validation, but it's not that helpful to me:
`{"error":{},\"status":1,"message":"Status:400"}`

I wonder what it means? 🤔

[2020-06-02 15:06] ghost commented on #286
Hi, I have the same problem. When i use iap.reset() the variable 'useGoogleApi' still has its old value. Would you change this?

Thanks for your time

[2020-06-04 10:14] DrowsyDormouse opened #318 "The validation response log of Apple payment is weired."
Hello,
We found something strange while we were checking the payment log.

On May 30th, there was a log that the result of iap.validate was onError.
However, when we tried iap.validate with that log’s receipt, we were able to see onSuccess.
We thought this was weird, so we tried it again.
Below is the log from server console:

`[1590849547316][VERBOSE] Parse Unity receipt as undefined
[15908495473

[2020-06-08 03:31] DrowsyDormouse commented on #318
I was advised to pay attention to:
"[1590849547316][VERBOSE] Parse Unity receipt as undefined"

After checking our source code, we found that receipt was not JSON, it was String type.
(To be honest, it's amazing that this has worked without any problems so far.)

We modified that part. Therefore, we will close this issue.

[2020-06-08 03:31] #318 closed, assigned to nobody

[2020-06-09 19:00] bilalsha commented on #306
The issue is with the `config`. we need to put google or any account info in `config` object instead of `requestDefaults`. In documentation it is confusing as it look like that we need to put it in `requestDefaults` until we scroll from and saw that we need to put info in config object

`const config = {
	// Configurations all platforms
	test: process.env.APPLE_IAP_TEST == 'true' ? true : false, /

[2020-06-09 19:00] #306 closed, assigned to nobody

[2020-06-15 21:59] emersonhsieh commented on #314
I have the same issue. For me, it was because that my Google Play receipt were being interpreted as Amazon receipts due to a missing signature field.

https://github.com/voltrue2/in-app-purchase/blob/e966ee1348bd4f67581779abeec59c4bbc2b2ebc/index.js#L107

[2020-06-15 22:13] emersonhsieh commented on #312
I also have the same problem. I have submitted a pull request that will hopefully fix this problem.

https://github.com/voltrue2/in-app-purchase/pull/319

[2020-06-22 21:56] rodrigopasc opened #320 "App-Specific Shared Secret"
Is it the "applePassword" the "App-Specific Shared Secret" on AppStore Connect?? Is it the same password for both development and production?

Where do I get the "applePassword"?

Thank you!

[2020-06-26 01:12] FiratSusan opened #321 "googlePublicKeyStrSandBox still required?"
Hello folks,

I wanted to tryout this package for a project to verify subscriptions.
So far I have setup a service account with a privat key file + the live license key from the Play Console. Currently I am struggling to find any sandbox key for my app.

Theres no real information out there on how to get a "sandbox" key from the Google Play Console/API.
Could it be possible that the googlePublicKe

[2020-07-01 19:39] svzi commented on #130
Any update on this @voltrue2 ? I'm still seeing this error in my logs, and It's really annoying to me, because I don't know why this is happening sometimes...

[2020-07-08 10:38] prundianudaniel commented on #313
same here any news on this? @ManalLiaquat ?

[2020-07-13 05:20] bmueller opened #322 "404 errors when trying to validate for Play Store"
I recently started getting 404 errors when trying to validate a subscription from the Play Store. I didn't make any changes inside the app or server-side, so I'm not sure what's going on here. Has anyone else experienced something similar?

[2020-07-23 18:53] rogerkerse opened #324 "Project id not linked Google Validation"
[code]

I have Firebase project (under account A) linked with Play Store Publish (under account B). In config function I use `googleServiceAccount` properties from Firebase Service account.

Whenever I try to validate receipt I get the error `403`
What am I doing wrong?

[2020-07-23 21:33] mifi commented on #306
I had the same issue. Turns out if you call `validate` with an object, and the object does not contain `purchaseToken` or `signature`, then it defaults to `amazon`. May have been better to throw an error in that case.

See https://github.com/voltrue2/in-app-purchase/blob/e966ee1348bd4f67581779abeec59c4bbc2b2ebc/index.js#L72

[2020-08-12 15:36] Spar9a opened #325 "Multiple Instance"
Can't create multiple instance of iap object with different service account.

Example of my code:

[code]

After initialization all objects links to one service account, that was initialized first.

[2020-08-18 18:52] jphilipstevens opened #326 "Documentation Question: setup"
I'm looking at the documentation and I am not sure if the iap.setup call can/should be called before every validation or if its needed once and can be done with multiple validation calls?

[2020-08-26 16:33] MobileVet opened #327 "Error in `internal/crypto/sig.js:80`"
## Setup
[code]

## Output
[code]

[2020-08-26 16:49] MobileVet commented on #327
Resolved... had to replace the `\n` in the private key.
See here: https://github.com/auth0/node-jsonwebtoken/issues/642

[2020-08-26 16:49] #327 closed, assigned to nobody

[2020-09-15 01:25] mrowles commented on #320
@rodrigopasc Did you figure this out mate?

[2020-09-15 01:27] rodrigopasc commented on #320
Not yet. Can you help me out, please? Thank you!

[2020-09-15 01:41] matthew-devika commented on #320
We're going to try with the App Store Connect > In-app Purchases > Manage > App-Specific Shared Secret (generate this). Will let you know how we go!

[2020-09-15 01:42] mrowles commented on #320
We're going to try with the App Store Connect > In-app Purchases > Manage > App-Specific Shared Secret (generate this). Will let you know how we go!

If this doesn't work, I am thinking we will just write our own Apple specific service.

[2020-09-15 09:24] mchhaily commented on #321
@FiratSusan I got the same issue, validating using the public live key failed. Do you have any solution yet?

[2020-09-19 16:39] sabinayakc opened #328 "isCancelled() is returning false for Android Subscription"
## Cancellation Issue:

### Platform: Android

#### Description:
When an android subscription is cancelled, `iap.isCancelled()` returns false. Looking at the PurchaseItem response, there is no field called cancellationDate for android. Shouldn't the code below be checking for `userCancellationTimeMillis` for Android instead of cancellationDate? Same goes for isExpired() function.

_I haven't check

[2020-10-28 17:40] waltermvp opened #330 "Empty array returned from purchaseData"
I always get an empty array when calling `getPurchaseData` with a validated receipt. I am using a sandbox account + actual device for testing.

[code]

[2020-11-02 22:21] panki opened #332 "Is project alive?"
Last commit more than year ago, a lot of pull requests awaiting, @voltrue2 do you need help with maintaining?

[2020-11-03 16:47] NLueg commented on #330
I have the same issue for iOS.

[2020-11-17 10:51] KochMario commented on #328
You're absolutely right. I was wondering the same thing while validating my Android subscriptions.
Possibly the Google API changed and @voltrue2 hasn't noticed or hasn't had the time to update.

For the time being, I added an additional validator for android.

[2020-11-17 10:53] KochMario commented on #324
Did you create your purchases / subscriptions BEFORE linking your project?
If so, try creating new purchases / subscriptions or edit the existing ones (update their description, etc.).

I had the same issue and for me it was becasue I created my subscription before linking the project to Google Developer API.
Besides that you should check that you've proper Google Service Accounts setup and allowe

[2020-11-19 17:56] jackywxd commented on #320
@mrowles You are correct, that's the right place to find applePassword.

[2020-11-20 14:41] marcelo-amorim-mobrj commented on #322
@bmueller do you known what's going on?
I have the same problem and nothing was changed at our server-side.

[2020-11-20 16:25] bmueller commented on #322
No, unfortunately I never figured it out.

[2020-12-17 15:38] fierysolid commented on #332
We may want to fork this and maintain it as a community elsewhere.

[2021-01-04 13:07] ben-walters commented on #314
Hi! Im having the same issue. How was this resiolved?

Thanks

[2021-02-04 23:22] liambolling commented on #332
+1

[2021-02-05 06:23] NLueg commented on #332
Doesn't seems like he's active at all here.
Is there already a fork out there that is actively maintained?

[2021-02-20 11:14] RonaTross commented on #326
+1

[2021-02-25 01:56] comtaler commented on #332
I was using the package for a long time. It's sad to see it's not maintained anymore. Does anyone know an equivalent or better alternative?

[2021-03-12 21:41] lincolnthree commented on #231
@voltrue2 I am not sure that's the case. As @triplef said, downloading a free app also produces a receipt with no entitlements/in_app elements. So far we are checking for this error code and returning a "success" status instead if the customer is not in a purchase process.

In order to do this we have to `JSON.parse(err)` the error which is returned from `in-app-purchase` as a `string`', then chec

[2021-03-13 08:58] triplef commented on #231
Yes I can confirm that’s definitely the case that a free app downloaded from the App Store has a receipt without any In-App Purchases. Unfortunately I don’t think there’s a way to reproduce this without a live app on the store, but at least for macOS apps one can quite easily confirm this by downloading any free app from the Mac App Store and looking in the app bundle, which will contain a receipt

[2021-03-24 19:38] gusilveiramp commented on #332
Any problem with package?
It's been working well on our project so far.

[2021-04-12 05:16] fuadchonora opened #339 "[Security] Improper Key Verification on package `xml-crypto`"
it uses vulnerable version of `xml-crypto`

[code]

[2021-04-15 11:08] bushev commented on #301
Hey @fitmax-project!

Same here, did you able to find a solution?

[2021-04-20 02:52] jtich commented on #332
Any updates on this project? @voltrue2

Are you looking for maintainers? This looks like a fantastic solution, but I'm hesitant to incorporate an abandoned project.

[2021-05-15 05:32] aadityapaliwal94 opened #341 "Payment successful but library showing it as canceled."
I have a react native app and using [react-native-iap](https://github.com/dooboolab/react-native-iap/) library to communicate with Apple/Google server to buy the subscriptions. The subscription got successful and it returns a transaction as well but when I try to use that receipt to validate [here](https://github.com/voltrue2/in-app-purchase) in the library, it returns with **cancelReason: 1**. I

[2021-05-19 17:32] aadityapaliwal94 commented on #341
It's because of this change of Google play https://tech.hindustantimes.com/tech/news/google-play-to-pause-auto-renewing-subscriptions-free-trials-in-india-report-71619875378816.html

Closing.

[2021-05-19 17:32] #341 closed, assigned to nobody

[2021-05-22 23:09] tkafka opened #342 "Note: Always set ignoreCanceled: true for Apple, otherwise you might reject valid purchases (this is not obvious from current documentation!)"
For Apple, purchases are sorted by `purchase_date` (latest one goes first) ([here](https://github.com/voltrue2/in-app-purchase/blob/develop/lib/apple.js#L279)), and then deduplicated by `original_transaction_id` ([here](https://github.com/voltrue2/in-app-purchase/blob/develop/lib/apple.js#L306)).

This might seem innocent enough, but when the user upgrades eg. from monthly subscription to yearly,

[2021-05-27 01:41] Byeong-jun-Kim opened #343 "Facebook api v3.3 will be deprecated in August"
Facebook api v3.3 will be deprecated in August

[2021-06-02 12:12] ivanviskovic commented on #301
I called validate app like this:
[code]
and i got the same error:
``` {"error":{},"status":1,"message":"Missing Package Name"}```

After looking through the code of the module i found that the validate function should be called a bit differently:
[code]
It looks like that it's using different parameters if the `googleServiceAccount` is provided in config

[2021-06-28 10:53] desmeit opened #344 "Error: Functions did not deploy properly with Firebase Cloud functions"
I try to implement it to Firebase Cloud functions but I'm always getting this error message:

`Error: Functions did not deploy properly.`

My code is very simple and the error comes as soon as i implement in-app-purchase. with or without configs.

[code]

[2021-07-04 03:41] famictech2000 opened #345 "Setup for Google Play store"
Sorry I'm new to android and Play store.

I am having difficulty with what I need to provide in the following configurations:

What is meant by client email???
    googleServiceAccount: {
        clientEmail: '<client email from Google API service account JSON key file>',
        privateKey: '<private key string from Google API service account JSON key file>'
    },

also what privatekey is this r

[2021-07-04 03:59] famictech2000 commented on #321
Hello

I am facing the same issue, my first question is how did you setup a service account with a private key file?

I have been able to obtain my live license key from the Play Console but there is no indication for sandbox?

[2021-07-04 04:01] famictech2000 commented on #314
Sorry, but can someone tell me where I can find the following:

const googleConfig = {
  googleServiceAccount: {
    clientEmail: ,
    privateKey:
  },

[2021-07-04 04:03] famictech2000 commented on #301
Can you please let me know where you were able to get the following info:

googleServiceAccount: {
    clientEmail:
      'xxxxxxxxxxxxxxxxxx,
    privateKey:
      'xxxxxxxxxxxxxxxxxx'
  },

Where is the google Service account located!?

  /* Configurations for Google Play */
  googlePublicKeyStrSandBox:  'xxxxxxxxxxxxxxxxxx, // this is the google iap-sandbox public key string
  googlePublicKeySt

[2021-07-04 04:05] famictech2000 commented on #285
Can you please let me know where I can get the following information from?

googleServiceAccount: {
    clientEmail:
      'xxxxxxxxxxxxxxxxxx,
    privateKey:
      'xxxxxxxxxxxxxxxxxx'
  },

[2021-07-09 20:19] famictech2000 commented on #344
Thy this:

// Init cloud functions
const functions = require('firebase-functions');

const admin = require('firebase-admin');
admin.initializeApp();

var IAPVerifier = require('in-app-purchase');

IAPVerifier.config({

    // Configuration variables go here

});

[2021-07-09 20:54] famictech2000 commented on #274
Can you please elaborate the solution? ow do you get the info through JSON.parse?

[2021-07-10 01:26] famictech2000 opened #346 "How do you get the Receipt Info for In app purchases"
{
  data: '{
    "orderId":"GPA.xxxx-xxxx-xxxx-xxxx",
    "packageName":"aaa.bbb.ccc",
    "productId":"aaa.bbb.ccc.sub",
    "purchaseTime":1498002890901,
    "purchaseState":0,
    "developerPayload":"xxxxxx",
    "purchaseToken":"edgcacfhmkpekcilnihgdjkb.AO-J1OxnZr_-c4xGioV-wbb9YI4w7gtRzY87CRLsa6CrHuP_nF97WNzHaBjbqCyZeYYf_sZByLD1DKxkMOFlpIsiOJnSeHxu5XIwa303DbJwFQ7Lo-sM6dgY4-4DCEqk61C9qgUx0GsLaO

[2021-07-13 20:32] #346 closed, assigned to nobody

[2021-07-14 01:25] famictech2000 opened #347 "Getting 'Failed to validate purchase' on all my receipt data for Android"
I am able to get the proper validation for Apple IAP but I can not get a single one for Android.

I get the following
<img width="1365" alt="Screen Shot 2021-07-13 at 9 21 11 PM" src="https://user-images.githubusercontent.com/1313417/125545803-3a571c33-47f8-45e9-83c9-3f0dc5a2c83a.png">

Can anyone please let me know if I am doing something wrong!!

[2021-07-14 01:45] famictech2000 commented on #347
I am noticing that the signature is "captured/outputted" as seen above, but in the portion where [VERBOSE] <Google> Auto stringified data.... it does not stringfy the signature!? So I am wondering if that is my issue!?

[2021-07-14 14:39] MatheusMoura17 commented on #345
@famictech2000  you can find `clientEmail` and `privateKey` in Google Service Account,

Service Account is part of IAM GCP, to improve security beteween services.

1  - Find/create project in [Google Cloud Console](https://console.cloud.google.com/)
2 -  Go to IAM option in left menu.
3 - Create a new Service Account and download `JSON` file.

Read this [article](https://cloud.google.com/iam/docs/

[2021-07-14 17:09] MatheusMoura17 commented on #345
@famictech2000 I found this link recently, it should help you

https://stackoverflow.com/a/56390408

[2021-07-14 18:03] famictech2000 commented on #345
Awesome thanks!! I'll take a look at it later today!

Now I just need to understand why my receipt validation always fails, with my other issue I opened up ;)

[2021-07-30 08:36] lelzd3 commented on #347
Hello, @famictech2000,

Have you found any solution yet, currently I am facing the same issue?

[2021-07-30 20:10] famictech2000 commented on #347
@lelzd3 I have not... I am looking to possibly do other receipt validation, which is a shame cause it works for iOS. I will keep you posted on any progress, please do the same if you find a solution.

[2021-08-05 13:57] lexmihaylov commented on #347
@famictech2000 @lelzd3
This is an issue with google play services. Resetting the client secret and tokens should fix the issue.

[2021-08-05 15:55] famictech2000 commented on #347
@lexmihaylov sorry im new to Android and their Play store, how does one reset the secret and token?

[2021-08-06 07:42] lexmihaylov commented on #347
@famictech2000 you can follow this guide https://developers.google.com/android-publisher/authorization, but instead of creating a new project you should select your project from the Google Play Console. You will be redirected to the Google Cloud Console where you should find the clientID that you are using it and click on it. A management page will popup for this clientID. At the very top you shou

[2021-08-06 14:01] desmeit opened #349 "Invalid Purchase Token"
I try to validate with firebase cloud functions. Apple is working well but with Android I get an error. This is my functions code:

[code]

this is my receipt at flutter:

[code]

I get the following error: Unhandled error

`<Amazon> Validation failed: { status: 498, message: 'Invalid Purchase Token`

and it seems to check the receipt against Amazon and not against Google. What am I doing wrong?
h

[2021-08-06 14:19] desmeit commented on #314
did somebody solve it? I tried everything but I still get this issue.

[2021-09-14 22:41] tgreco commented on #349
I'm having the same issue.

[2021-09-15 07:00] desmeit commented on #349
The issue  comes when something is wrong with the JSON.

[2021-09-29 13:39] triplef commented on #332
Looks like the website http://iap.gracenode.org which is [referenced](https://github.com/voltrue2/in-app-purchase#online-demo-and-documention) from the readme is also defunct.

[2021-10-06 10:50] traviswimer commented on #332
Does anyone know if there are any reliable forks for this package that are being maintained?

[2021-10-06 14:29] champie commented on #332
Most active one seems to be https://github.com/FlatIO/in-app-purchase which is at least keeping up with dependency security patches.
BTW, there's a handy page to sort forks by activity, and more, here https://techgaun.github.io/active-forks/index.html

[2021-11-15 19:03] dataxpress commented on #342
Thank you for posting this and your analysis! I'm running into this issue as well - lots of users who switch from monthly to annual complaining of their subscription not working. However, I am setting ignoreCanceled: true:

    let purchaseData = iap.getPurchaseData(validatedData, { ignoreCanceled: true, ignoreExpired: true });

I am continuing to dig into this, as I think there might be something

[2022-03-09 22:53] nickgermaine commented on #196
Apparently this is still a thing.  I'm trying to validate in a project, and it's giving the "Missing Package Name" error.  What's weird is that it did work one time, through my testing, but the very next time it started giving the error again.

Is there any update on this?

[2022-03-28 10:32] grubstarstar commented on #254
Was there a solution for this? I am getting the same issue now

[2022-03-29 09:06] grubstarstar commented on #254
I'm guessing this isn't maintained anymore?

[2022-03-29 10:40] grubstarstar opened #352 "Google API URL being resolved incorrectly for subscriptions"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `in-app-purchase@1.11.4` for the project I'm working on.

getServices didn't work properly for GOOGLE because it was calling a property on a string.

Also for Google API, the URL was being resolved incorrectly for subscriptions and the code was using the purchase,

[2022-04-08 10:25] markmorris commented on #326
+ 1

[2022-05-31 06:05] hsharma1996 opened #353 "Status is always 0 for android in test mode"
Hi,
The status is always coming as 0 and paymentState is always coming as 1, for both failed as well as successful purchases in android test mode.
Can you please help guiding if I am missing anything.
I tried to do acknowledgment of purchase but I am getting empty response. So Not sure how to know if that is working or not.
Sorry for raising an issue.
Please have a look at response attached.
Thank

[2022-08-28 12:36] nvtuan1996 commented on #332
i hope author will comeback :(