[2014-12-13 17:20] lefnire opened #1 "Use config var instead of file for googlePublicKeyPath?"
We're using Heroku for an open source project. To use `googlePublicKeyPath`, we'll need to create a private branch for the deployment managers (since we don't want to leak the key). The deployment workflow then entails rebasing `master`=>`private` with that one key commit on HEAD, and force-pushing; devs would need to check with each other, etc - slight PITA

Anyway! What I'm wondering is, any cha

[2014-12-16 03:22] #1 closed, assigned to nobody

[2015-01-22 03:43] matthewga0 opened #2 "Config googlePublicKey in string format instead of files"
Can you implement a new way to **readConfig** from stream/string instead of files, I think this way is more convenient in specific scenarios.

[2015-01-22 07:33] voltrue2 commented on #2
Hi Mathew,

The module supports reading from files and reading from env variables currently.
Let me think about this a little.
In the meantime, could give me an example of a possible use case?

[2015-01-25 14:21] matthewga0 commented on #2
As an IAP platform, it allows developers who has no servers to store their public key in the database, it could be useful to read the key as string or stream directly from the database, maybe reduce the disk io:)

[2015-01-26 00:56] voltrue2 commented on #2
OK, so the idea is to read the public key from database and use it?

.config() function is intended to be used once when you set up the service process, so disk i/o shouldn't be much of a problem here, I think.

With all that said, I suppose, giving an option to read public key as string wouldn't hurt...
I hope no one will hard-code the key in their source code, though...

[2015-01-26 01:25] voltrue2 commented on #2
I pushed my first attempt to support string public key in my develop branch.
Would like to have a look?

[2015-01-26 09:06] voltrue2 commented on #2
Implemented: https://github.com/voltrue2/in-app-purchase/commit/238cdea0d0c6773597ebf297c9ce36c6bf1983f6

[2015-01-26 09:06] #2 closed

[2015-02-18 10:03] Oakshiro opened #4 "Documentation is wrong"
Please, update your documentation, you have several errors on it related to Google in app purchases configuration

In the first place, the environment variable should be GOOGLE_IAB_PUBLICKEY_SANDBOX and GOOGLE_IAB_PUBLICKEY_LIVE, NOT GOOGLE_IAB_PUBLIC_SANDBOX and GOOGLE_IAB_PUBLIC_LIVE

In the second place, the api keys as string should be called publicKeyStrSandBox  and publicKeyStrLive instead o

[2015-02-18 10:08] voltrue2 commented on #4
My bad. Thank you for pointing that out.
Will update the documentation soon.

[2015-02-19 00:56] voltrue2 commented on #4
Documentation corrected: 72c888e216a574315fdbc675a75a9ccbc1af17b7

[2015-02-19 00:56] #4 closed

[2015-02-26 07:05] pluspingya opened #5 "What is in googleReceipt object?"
Hi Nobuyori,

I'm trying to use your module to verify IAP for android in my nodejs server.
Your module is clean and look very easy to use, I like it a lot.

But I have no idea what should be in googleReceipt object
[code]

Can you please give more detail about googleReceipt object?

Thank you in advance.

[2015-02-26 07:52] pluspingya commented on #5
I think I see it now http://developer.android.com/google/play/billing/billing_integrate.html

[code]

Please confirm If I am correct.

[2015-02-26 10:13] voltrue2 commented on #5
You should be getting something similar to the data below from Google when you start the purchase transaction:

{
	"data": "{
		\"orderId\":\"1222325443654533.3243423432432\",
		\"packageName\":\"you.app.package.name\",
		\"productId\": \"yourProdId\",
		\"purchaseTime\":1385366117073,
		\"purchaseState\":0,
		\"purchaseToken\":\"ffdsdgfdgfgfdgfdkhc.AO-J1OzchOueyJFGFDPGfdgspoWYWKp4lbu93Uk4RXjjSk_-

[2015-02-26 22:09] #5 closed

[2015-04-01 14:19] anilalgoworks opened #7 "Something Seriously Wrong when using Keys in String"
I am trying to use the module with  Keys Passing Directly in Strings for google like

iap.config({
    publicKeyStrSandBox: publicKeySandboxString,
    publickKeyStrLive: publicKeyLiveString
});

But it always gives me error Missing Public Key. Please Check and Debug if you can asap as i need to use it in my project.

[2015-04-02 01:06] voltrue2 commented on #7
Hi,

It looks like I have a typo in my README file and also my last npm publish had gone wrong it seems.
Thank you very much for catching and reporting this. I published the fixed version on npm.
The version should be 0.4.6

[2015-04-02 06:36] anilalgoworks commented on #7
Still Getting the Same Error in 0.4.6.
Following is the code chunk

describe.only('iap', function () {
    it('Can validate google in-app-purchase with public key as string', function (done) {
        var iap = require('in-app-purchase');
        iap.config({
            publicKeyStrSandBox  : appConstants.env.GOOGLE_IAB_PUBLICKEY,
            publicKeyStrLive : appConstants.env.GOOGLE_IAB_PUBLICK

[2015-04-02 06:38] anilalgoworks commented on #7
describe.only('iap', function () {
    it('Can validate google in-app-purchase with public key as string', function (done) {
        var iap = require('in-app-purchase');
        iap.config({
            publicKeyStrSandBox  : appConstants.env.GOOGLE_IAB_PUBLICKEY,
            publicKeyStrLive : appConstants.env.GOOGLE_IAB_PUBLICKEY
        });
        iap.setup(function (error) {
            asse

[2015-04-02 06:40] voltrue2 commented on #7
hmmm interesting. I ran `make google-test` and it worked. Let me have a look at it again.
Thanks for following up on this.

[2015-04-02 06:43] anilalgoworks commented on #7
the test runs fine .. because it is supposed to return isValidated false in this case... but i want response from google but here our code itself returns error "Missing Public Key"

[2015-04-02 06:44] voltrue2 commented on #7
assert.equal(error, undefined); part fails right?

[2015-04-02 06:44] anilalgoworks commented on #7
just checkout what assert(error); returns in above Scenario .

[2015-04-02 06:45] voltrue2 commented on #7
i assume these have values right?

appConstants.env.GOOGLE_IAB_PUBLICKEY,
appConstants.env.GOOGLE_IAB_PUBLICKEY

[2015-04-02 06:46] anilalgoworks commented on #7
yupp i have my 64 bit public license key  value in both of them like MIIBIjANBg........................QAB

[2015-04-02 06:56] anilalgoworks commented on #7
as far as i can see your isValidConfigKey method in google.js validates configKey having google word used in them.
	return key.match(/^google/);
Both keys doesnt contain the same i.e. publicKeyStrSandBox,publicKeyStrLive
so it return config as null for them.

[2015-04-02 08:43] anilalgoworks commented on #7
any update?

[2015-04-02 09:03] voltrue2 commented on #7
hey sorry. i had to deal with lots of stuff. i may be able to look at it later.
by the way, if you are planning on using env varriable, you can use it without using string.

[2015-04-03 04:42] voltrue2 commented on #7
Hi sorry it took me long to actually make the time to properly look into this.

Now I know what is going wrong. It's the documentation that is wrong (my bad).

basically it needs to be googlePublicKeyStrSanbox and googlePublicKeyStrLive.

and the reason my unit tests work is because i am using those property names.

Would you please give it a try?

I will fix READ me in the meantime.

Thanks

[2015-04-03 04:44] voltrue2 commented on #7
actually i will make it so that it will work with either googlePublicKeyStrXXX or publicKeyStrXXXX

[2015-04-03 04:49] voltrue2 commented on #7
https://github.com/voltrue2/in-app-purchase/commit/41268a6a476d985a4522e245157821a42efe010f

I will be publishing the fixed version on npm as well.

[2015-04-03 04:54] voltrue2 commented on #7
I published v0.4.7 on npm. This should fix the issue we see.
It would be great, if you don't mind reporting back to me if it works or not.

Cheers

[2015-04-06 10:16] #7 closed

[2015-04-06 10:41] anilalgoworks commented on #7
it still not working..
because in your setup method.. you arent checking for googlePublicKeyStrXXX yet
if (!config || !config.googlePublicKeyPath) {

		// try to read public key value from ENV if available
		// if this is set, reading the public key value from file system is ignored
		if (process.env[ENV_PUBLICKEY.SANDBOX]) {
			publicKeyMap.sandbox = process.env[ENV_PUBLICKEY.SANDBOX].replace(/s+

[2015-04-06 10:43] voltrue2 commented on #7
// backward compatibility
        if (configIn && configIn.publicKeyStrSandbox) {
                config.publicKeyStrSandbox = configIn.publicKeyStrSandbox;
        }
        if (configIn && configIn.publicKeyStrLive) {
                config.publicKeyStrLive = configIn.publicKeyStrLive;
        }

This code above in .readConfig() should make sure that is reads publicKeyStrXXX configs.
Which versi

[2015-04-06 10:46] anilalgoworks commented on #7
you got it right in config method .. but friend you have to put the same code in method just below it the setup method...

[2015-04-06 10:49] voltrue2 commented on #7
i think this should work since the code i pasted sets the values in .readConfig() as below
config.publicKeyStrSandbox = configIn.publicKeyStrSandbox;
config.publicKeyStrLive = configIn.publicKeyStrLive;

.setup() function will catch them. and if you look at test/google.js

I am testing both publicKeyXXXX and googlePublicKeyXXXX.

[2015-04-06 10:52] anilalgoworks commented on #7
i just wanna say in validatePurchase we are getting key from publicKeyMap.xxx.

i just want to ask where are we setting googlePublicKeyXXXX to publicKeyMap.

if you can please try to test in same scenario then you will know the bug

[2015-04-06 10:56] anilalgoworks commented on #7
i think it needs following code

             if (config && config.googlePublicKeyStrSandbox) {
			publicKeyMap.sandbox = config.googlePublicKeyStrSandbox;
		}
		if (config && config.googlePublicKeyStrLive) {
			publicKeyMap.live = config.googlePublicKeyStrLive;
		}

before

             // no google iap or we have the public key value from ENV variables
		return cb();

[2015-04-06 10:57] voltrue2 commented on #7
yeah now that i look at the code a bit closer this seems off. thank you for sticking around for this issue.
Let me change me test/google.js and look at the code right now.

[2015-04-06 11:06] voltrue2 commented on #7
ok the reason why my test/google.js was passing was because I was testing ENV var first and not resetting the values for the following tests.

[2015-04-06 11:24] voltrue2 commented on #7
OK I pushed the fix for this. I also needed to change the order of configuration check in .setup() for this.

[2015-04-06 11:24] voltrue2 commented on #7
f33098dc9941695821aea0e2c51f6e6e33f48c6a

[2015-04-07 10:28] anilalgoworks commented on #7
thanks working fine now.

[2015-04-07 14:16] voltrue2 commented on #7
Great. Thank you for checking this. I really appreciate your help

On Tue, Apr 7, 2015 at 7:28 PM, voltrue2/in-app-purchase
<reply@reply.github.com>
wrote:thanks working fine now.

—
Reply to this email directly or view it on GitHub
[https://github.com/voltrue2/in-app-purchase/issues/7#issuecomment-90500230] .[https://github.com/notifications/beacon/ACKY4UfG8XDmfjNZ79j5gSCH8qEHsHTSks5n86jagaJpZM4D

[2015-04-22 11:28] gurmukhp opened #8 "validate returns an error"
I am trying to use your module and have copied in the sample code you've given:

[code]

However I'm getting the error about validate?

[code]

I'm using Express 3.0, if that's any help

[2015-04-22 11:40] voltrue2 commented on #8
hi thanks for the report. what version of in-app-purchase are you using?

[2015-04-22 11:41] voltrue2 commented on #8
by the way it looks like your iap.validate() function is missing an argument.

it needs the following:

iap.validate(iap.APPLE, receipt, callbackFunction);

I think that is what the problem is. Could you have a look at your code?

[2015-04-22 13:11] gurmukhp commented on #8
Hey @voltrue2
thanks so much for looking into this, it looked like I was missing a param to the validate function, just added it and it works now :+1:

Thank you again

[2015-04-22 13:11] #8 closed

[2015-04-22 13:13] voltrue2 commented on #8
Awesome. Glad it's working for you now. Thanks for reporting this. The documentation has been corrected!

On Wed, Apr 22, 2015 at 10:11 PM, voltrue2/in-app-purchase
<reply@reply.github.com>
wrote:
Closed #8 [https://github.com/voltrue2/in-app-purchase/issues/8] .

—
Reply to this email directly or view it on GitHub
[https://github.com/voltrue2/in-app-purchase/issues/8#event-287228162] .[https://gi

[2015-08-12 21:42] reidmweber opened #13 "Add a method to tell if a recurring subscription is expired"
I'm only working with Apple right now and I'm going to look through the purchase data and check for any subscriptions that are still valid using the expire_date_ms.

[2015-08-14 12:18] voltrue2 commented on #13
Thanks for the request. Sorry I couldn't get back sooner.
I will look into this.

Cheers

[2015-08-18 01:34] voltrue2 commented on #13
Hi I implemented what I think you have requested for.

Here is the commit: https://github.com/voltrue2/in-app-purchase/commit/121d18f6989cc46c88e0ae0baf99a6b046dd4515

The commit does contain other code that I am working on but if you could look at .isExpired and .getPurchaseData(), you will find that I have added expiration handling.

Let me know what you think.

Cheers

[2015-08-24 20:32] #13 closed

[2015-09-09 10:09] clarkie opened #15 "Error in amazon.js when trying to validate apple receipt"
Hi,

I've just installed v0.5.0 and I get the following error when trying to validate an apple receipt:

[code]

my code:

[code]

[2015-09-09 10:10] clarkie commented on #15
I installed v.0.4.12 and it works fine.

[2015-09-09 10:35] voltrue2 commented on #15
Thank you so much for the report.
v0.5.0 got published with a bug.
v0.5.1 fixes the issue and published

[2015-09-09 10:42] clarkie commented on #15
@voltrue2 thanks! Just tested it for our use case and it works.

[2015-09-09 10:42] #15 closed

[2015-09-09 10:43] voltrue2 commented on #15
Awesome! Thanks again for reporting the issue! @clarkie

[2015-09-26 15:20] mz2 opened #18 "Does this module work with Mac App Store in-app purchases?"
The wording in the README is a bit confusing on whether the module supports validating also Mac App Store receipts for in-app store purchases. Are Mac App Store in-app store receipts supported?

[2015-09-27 05:14] voltrue2 commented on #18
Hi

It should be support Mac app purchase for OSX as well.
Reference here: https://developer.apple.com/in-app-purchase/In-App-Purchase-Guidelines.pdf

Although I made this module mainly for iOS.
Please do let me know if you run into issues with OSX

[2015-10-02 00:21] #18 closed

[2015-10-07 13:27] cforgiarini opened #19 "Same version different code ?"
Hi, about four months ago I installed your library and saved it to my project `package.json` as `"in-app-purchase": "0.3.0"`
A few days ago I ran npm install on the same package.json, but the downloaded code looked different from the one I have on my laptop where I developed my application.
For example i see some differences in in-app-purchase/lib/apple.js.
I'm quite puzzled with this situation I'

[2015-10-07 13:51] voltrue2 commented on #19
Hi Claudio,

Thanks for reaching out.
I assume you have "in-app-purchase": "0.3.0" in your package.json, correct?
If that is the case, I am pretty shocked as npm is pretty stable when it comes to version controlling.
By the way, is there any reason for you wanting to use an older version of this module?
There are no backward compatibility break in the latest version.
I suggest you use the latest.

[2015-10-07 14:07] voltrue2 commented on #19
I had a quick look at the code.
It seems that what you had was version 0.4.1 not 0.30.
The piece of code you showed me was introduced by this commit 8b8f2402580dd89a3a167d1dbb4e21b4fbd71916

[2015-10-07 15:18] cforgiarini commented on #19
Hi, attached (rename file without .txt extension, is a zip file, I have
added it for google policy) , my library version downloaded some months ago
with "in-app-purchase": "0.3.0" in package.json. I don't use the latest
version, because the software works fine with my version, and to use latest
version I should do some regression test, actually I can't, later, I will
the upgrade.
Best regards and

[2015-10-16 16:19] psaini14 opened #20 "CERT_UNTRUSTED occurs for apple validate requests"
The send function in apple.js returns the error "CERT_UNTRUSTED" to the validatePurchase callback, and the check for data.status results in the process terminating, as data is null in this case.

If send is modified to the following ("rejectUnauthorized : false" added), everything works fine.

function send(url, content, cb) {
	var options = {
		encoding: null,
		url: url,
		body: content,
		json:

[2015-10-17 01:09] voltrue2 commented on #20
Hi

Thanks a lot for reporting this.
Would you mind giving me a bit more details on how you get this error? and where exactly the code fails with an uncaught exception?

I implemented a possible fix for this issue here: https://github.com/voltrue2/in-app-purchase/commit/3cf73361131323afc28763dec993547b0403e833

I am assuming where the code fails, but it would help me tremendously if you could poin

[2015-10-17 01:39] voltrue2 commented on #19
hmm did you stick the binary here? I cannot read this.

[2015-10-17 13:48] psaini14 commented on #20
Sure.  The uncaught exception occurred at line 68.  It looks like your fix addresses that part of the problem.  Thanks!

My requests to both live and sandbox resulted in the CERT_UNTRUSTED response.  When I changed the request options to include "rejectUnauthorized : false" as mentioned above, I was able to get the expected response from Apple.

[2015-10-17 13:53] psaini14 opened #21 "incorrect spelling of "receipt" in amazon.js"
Please have a look at line 81 of amazon.js.  The validatePurchase function receives the parameter "receipt", but references it as "reciept" on line 81.  This was mistaken caught while doing a global find on our own code for the same spelling mistake made by us elsewhere (we did the same thing!).  Lucky catch.

[2015-10-17 13:56] voltrue2 commented on #21
Great! Thank you for catching this. I will fix this now and also will merge publish the fix to apple.js once all unit tests are cleared.

Thanks again

[2015-10-17 14:01] voltrue2 commented on #21
Thanks again.

The typo issue has been fixed: https://github.com/voltrue2/in-app-purchase/commit/8ecca6be06a4f0959cd9741e5e70342b46812d63

[2015-10-17 14:01] #21 closed

[2015-10-17 14:03] voltrue2 commented on #20
Thank you for the info and checking the code.

I have merged the fix and published the updated version 0.5.3. This version contains the fix to this apple issue and a typo fix in amazon.js that you found.

Thanks for the help!

[2015-10-17 14:03] #20 closed

[2015-10-20 08:53] binarytracer opened #22 "autoRenewing"
hi @voltrue2, thank you for creating this module this really help us ( with my team ) to work stuff related to apple and google in server to server approach. I just notice something on the following areas

var iap = require('in-app-purchase');
iap.config({
    'googlePublicKeyStrSandBox': "public-key-here",
    'googlePublicKeyStrLive': "public-key-here"
})
1. When setting config :
    a. setting

[2015-10-20 09:14] voltrue2 commented on #22
Hi @binarytracer,

Thank you for reaching out.

For the public key, sandbox is there as an optional testing for your convenience.
You can set the same value as live for sandbox.

For the second question on autoRenewing, I believe what you described here is correct that if your purchase has been canceled, purchaseState should be 1 and autoRenewing false assuming that this purchase was not a subscri

[2015-10-21 01:03] binarytracer commented on #22
thanks @voltrue2 for the clarification, Ive tried another module also like google-play-purchase-validator but still i got the same value.

[2015-10-21 01:03] #22 closed

[2015-10-30 16:10] javierfdr opened #23 "Readme Example Typo"
Hi, you have  a small typo in your Readme explanation.

In the part you explain the text below, instead of

[code]

you write:
[code]
<b>Example For Ignoring Expired Items:</b>

[code]

[2015-11-02 06:44] voltrue2 commented on #23
Thank you for pointing that out.
I will correct it.

[2015-11-04 01:22] #23 closed

[2015-11-18 20:35] javierfdr opened #24 "googlePublicKeyStrSandbox Not Working (v0.5.3)"
Hello,
When you set the public key directly as String, the library does not parse it well and gives the **missing public key** error.

My configuration is this:

[code]

When debugging the library I found this:

At in-app-purchase/lib/google.js, at configuration in line 59,

It can be seen that it is not entering in this if:

[code]

At that moment the value of **config** variable is:

[code]

So

[2015-11-18 23:53] voltrue2 commented on #24
Hi, thank you for reaching out.
May I assume that you are looking at the latest version of this module from npm?
The latest version should be 0.5.3

OK now that is out of the way, I will have a look at the code with your example. I should be able to get back to you within a day or so.

Now the reason behind that confusing logic is that you don't have to tell the module if you are on production or

[2015-11-19 01:53] voltrue2 commented on #24
Hi l looked at the code and your example.
Looks like your example has "googlePublicKeyStrSandBox", but it actually has to be "googlePublicKeyStrSandbox".

Could you try and see if this fixes your issue?

I will continue considering the possibility of improving the error handling.

Thanks!

[2015-11-19 14:46] javierfdr commented on #24
Oh you are right, it has to be Sandbox (without the capital B in box). I finally used the reading from a file approach, but fixing this it should work.

Please see that in the example in the README you write this:

[code]

Here you have SandBox instead of Sandbox. The googlePublicKeyStrLive is ok.
If possible please correct this at the README to avoid confusions.

And thanks for the great Lib!

[2015-11-19 14:46] #24 closed

[2015-11-21 14:46] voltrue2 commented on #24
Thank you for pointing that out.

README.md fixed

[2015-12-17 15:16] klinkov opened #25 "failed to validate Windows purchase"
I got this error
Error: failed to validate purchase: canonicalization algorithm 'http://www.w3.org/TR/2001/REC-xml-c14n-20010315' is not supported

[test.txt](https://github.com/voltrue2/in-app-purchase/files/65523/test.txt)

[2015-12-17 23:46] voltrue2 commented on #25
Hi

Thanks for reaching out.
Let me have a look at what you have here.

[2015-12-18 02:34] voltrue2 commented on #25
Hello

It seems the receipt you have is signed with http://www.w3.org/TR/2001/REC-xml-c14n-20010315 algorithm which happens to be something that I am not supporting currently. I will have to implement this feature. Are you in a hurry?

[2015-12-18 09:44] voltrue2 commented on #25
Could you explain how you generated this receipt that failed to validate?

[2015-12-18 09:47] klinkov commented on #25
I got it from Windows Store

[2015-12-18 09:48] voltrue2 commented on #25
So you weren't using an emulator but a real windows phone?

[2015-12-18 09:52] klinkov commented on #25
I solve this issue, update signed_xml and exclusive_canonicalization

[in-app-purchase.zip](https://github.com/voltrue2/in-app-purchase/files/66431/in-app-purchase.zip)

[2015-12-18 09:54] voltrue2 commented on #25
I see so you changed the sign algorithm.
Thanks for the update

On Dec 18, 2015, 18:53 +0900, klinkov<notifications@github.com>, wrote:

[2015-12-18 09:56] klinkov commented on #25
I got receipt on real device

[2015-12-24 14:41] skolesnyk opened #26 "Help on Google IAB verification"
Hi!

This is not very helpful as google sends a whole json object. Should I stringify google reply into "data"? I don't get what EXACTLY is expected there. A string? An object?

{"data":"google sent data","signature":"signature string"}

Here's an object from Google
{
   "orderId":"12999763169054705758.1371079406387615",
   "packageName":"com.example.app",
   "productId":"exampleSku",
   "purchase

[2015-12-24 14:50] voltrue2 commented on #26
Hello

I suppose the readme is not specific enough and it could be misleading.
It expects the receipt as an object.
What you have there would be the "data" and it needs to be an object.
You do not have to stringify the response from Google.

[2015-12-24 14:53] skolesnyk commented on #26
Here's what worked for me.

'receipt' is a string as an argument in post request from mobile client. Now there's no longer "mailfored receipt" error, which is a good thing.

iapProvider = iap.GOOGLE;
        incomingreceipt = {};
        var tmp = JSON.parse(ctx.args['receipt']);
        incomingreceipt.data = JSON.stringify (tmp.data);
        incomingreceipt.signature = tmp.signature;

[2015-12-24 14:57] skolesnyk commented on #26
If I don't stringify data object , then I get the error
E.g.,  { data: { tow: 'sds' }, signature: 'sdfsdf' }
Error: Not a string or buffer

[2015-12-24 15:00] voltrue2 commented on #26
Hello

I was looking at the code. My bad receipt.data must be a string.
Readme I have there is correct. Sorry about that.
I guess this holiday stuff is numbing my head.
Let me know if you have futher issues with the module.

[2015-12-24 15:01] voltrue2 commented on #26
I'll improve the error message there so that if data is not a string it should tell you it needs to be a string.
Thanks for reaching out.

[2015-12-24 15:03] skolesnyk commented on #26
What should be in that receipt.string, though? JSON.stringify(googlereplyobject) ?

[2015-12-24 15:11] voltrue2 commented on #26
Google response should also contain a signature which is a string.
That is what it expects.

[2015-12-24 15:16] skolesnyk commented on #26
I have to no problem with "signature" property.
What goes into "data" property?

[2015-12-24 15:18] voltrue2 commented on #26
It is the stringified object that you have there:{ data: '{"packageName":"air.theapp","purchaseTime":1450955296544,"purchaseToken":"kbnjmmoboikjmnheoooahmpl.AO-J1OzQXjonQ2CHHOE05dTzWheqHZdBu1en3fT3uV9XCZq-iwcJRht0NzYtBffVMY-CIMgo4GL8LPg586qHgCDDlITewlOywTtUnm0yd_Rzh-bci3eJPuoxkbUgO7a--0fhFxablmOfVp4TvtND_VVm-mRaE2f_GA","productId":"tokens1","orderId":"GPA.1359-2920-1140-52589","purchaseState":0}',

[2015-12-24 15:19] skolesnyk commented on #26
Ok. So I'm go there. For some reason my purchase requests are not validated, even though the GooglePlay reports that payment was successful in sandbox.

2015-12-24T15:16:43.984Z pid:27350 worker:102 not validated :  [Error: failed to validate purchase]

[2015-12-24 15:21] voltrue2 commented on #26
Hmmm perhaps you could show me what your receipt and the signature looks like?
I could try and see what's wrong with them.

[2015-12-24 15:22] skolesnyk commented on #26
Here's full object

 { data: '{"purchaseState":0,"packageName":"air.net.thedigitalsits.molfar.prankster","purchaseToken":"pgnkclhcajnpoeeilkhhhilf.AO-J1OxilIl8hDai78AxomYYq2utGsgwyLRMaCNrBdQpSPKEaI1Q4PP1L5VVD3xUN0JTYFmuxpVLNxE72pcM44hppVdpNIWnEmfcTMsUlp_P-7ZN4UpVFcOWNEW8il150lb0T-YTXdGU4rkmfFgKEN2mR6hFLybiDw","productId":"prankster.tokens1","purchaseTime":1450970342283,"orderId":"GPA.1371-0053-021

[2015-12-24 15:23] voltrue2 commented on #26
and your public key is correct?

[2015-12-24 15:27] skolesnyk commented on #26
Yep, I've copied from Services & API section without spaces.

[2015-12-24 15:27] voltrue2 commented on #26
and how are you giving it to the module? as a file?

[2015-12-24 15:28] skolesnyk commented on #26
No, as a string. See above

[2015-12-24 15:33] voltrue2 commented on #26
hmmm. the way you are passing the public key seems fine...

[2015-12-24 15:35] voltrue2 commented on #26
I am guessing you have removed all possible line breaks also?

[2015-12-24 15:38] skolesnyk commented on #26
Line breaks in public key?

[2015-12-24 15:39] voltrue2 commented on #26
yeah i heard some people having issues with line breaks some how sneaking in.
I'm guessing it has to do with how they copied it though.

[2015-12-24 15:46] voltrue2 commented on #26
and you are calling iap.setup(callback) and validating inside of the callback right? hmmm...

[2015-12-24 15:47] skolesnyk commented on #26
Like this

 iap.setup(function (error) {
      if (error) {
        // error hmm
        console.log("iap setup error ", error);
        return;
      }
      else {
        console.log("iap type ", ctx.args['ostype']);
      }
      var iapProvider = "";

      var incomingreceipt;
      if (ctx.args['ostype'] === 'ios') {
        iapProvider = iap.APPLE;
        incomingreceipt = ctx.args['recei

[2015-12-24 15:53] voltrue2 commented on #26
what you have looks just fine. Hmmm strange..

[2015-12-24 16:01] skolesnyk commented on #26
Is developerPayload a required part of data ?

[2015-12-24 16:04] voltrue2 commented on #26
It is required if you get that from google response.

[2015-12-24 16:06] skolesnyk commented on #26
I'm not sending it to google with initial purchase request from the mobile app. I should try it now.

[2015-12-24 16:14] skolesnyk commented on #26
But since developerPayload isn't required, I guess the verification should proceed without it, correct?

[2015-12-24 16:16] voltrue2 commented on #26
It should. I never heard anyone having issues with before.
I'd like to see what the problem is

[2015-12-24 16:18] skolesnyk commented on #26
Could you paste your sample receipt object that works ? I'd like to see maybe there's some info missing in my receipt object.

[2015-12-24 16:22] voltrue2 commented on #26
the samples I have a all from others. I will replace the values but keep the structure.

[2015-12-24 16:25] voltrue2 commented on #26
{"data":"{\"orderId\":\"12999763169054705758.1xx1711882382332\",\"packageName\":\"xyz.om.csone.spxFramework\",\"productId\":\"xy.abc.sphere06\",\"purchaseTime\":1413366198495,\"purchaseState\":0,\"developerPayload\":\"bGoa+V7g\\/yqDXvKRqq+JTFn4uQZbPiQJo4pf9RzJ\",\"purchaseToken\":\"lfleidaoaijgmajphaigdpdj.AO-J1Oz0_0IBnH1K0tN7m78bXOtGKGPq1UZc_DZhL0towjlx7Tft0EAV1rh9N-vm6h_VGwjV1w3XIQl2ybg7wTVWXAoA

[2015-12-24 16:26] skolesnyk commented on #26
Could the reason be that my data isn't double escaped?

[2015-12-24 16:28] voltrue2 commented on #26
The value for "data" is a string but it is a stringified object. If you are stringifying it correctly it should be escaped correctly though

[2015-12-24 16:29] skolesnyk commented on #26
But your example is different from mine in terms of single/double quotes

{ data: '{"purchaseState":0,"packageName":"air.theapp","purchaseToken":"pgnkclhcajnpoeeilkhhhilf.AO-J1OxilIl8hDai78AxomYYq2utGsgwyLRMaCNrBdQpSPKEaI1Q4PP1L5VVD3xUN0JTYFmuxpVLNxE72pcM44hppVdpNIWnEmfcTMsUlp_P-7ZN4UpVFcOWNEW8il150lb0T-YTXdGU4rkmfFgKEN2mR6hFLybiDw","productId":"prankster.tokens1","purchaseTime":1450970342283,"ord

[2015-12-24 16:30] voltrue2 commented on #26
Yes that is very true. and I use this for Unit testing.
It might be a good idea to match the format and see if that makes any difference.

[2015-12-24 16:51] skolesnyk commented on #26
Yep, the problem was this escape quotes on data .  This works.

 var tmp = JSON.parse(ctx.args['receipt']);
        incomingreceipt = {
          "data": tmp.data,
          "signature": tmp.signature
        };

[2015-12-24 16:51] #26 closed

[2015-12-25 01:20] voltrue2 commented on #25
Supported encryption for signed XML (Windows)

## Supported Algorithms

### Canonicalization and Transformation Algorithms

- Exclusive Canonicalization http://www.w3.org/2001/10/xml-exc-c14n#

- Exclusive Canonicalization with comments http://www.w3.org/2001/10/xml-exc-c14n#WithComments

- Enveloped Signature transform http://www.w3.org/2000/09/xmldsig#enveloped-signature

### Hashing Algorithms

[2015-12-25 01:20] #25 closed

[2015-12-25 01:20] voltrue2 commented on #19
This seems to be an issue with npm

[2015-12-25 01:20] #19 closed

[2016-01-06 06:54] logicware opened #27 "Timeout on Heroku before a purchase could be verified"
Hi

I am getting timeout on Heroku before a purchase could be verified. Is there a way to configure timeout or handle the problem before Heroku times out in 30 secs?

[2016-01-06 08:32] voltrue2 commented on #27
Hello,

Thank you for reaching out.
At the moment there is no way to set custom timeout, but it makes sense to have such an option.
I will look into this.
If you have any questions, please do let me know.

Cheers

[2016-01-06 08:35] voltrue2 commented on #27
Actually, if you are talking about iOS, you can set the custom timeout by:

[code]

[2016-01-06 08:39] voltrue2 commented on #27
It is written here: https://github.com/voltrue2/in-app-purchase#http-request-configuration

Please let me know if you have more questions or issues.

Thank you for reaching out.

[2016-01-08 00:47] #27 closed

[2016-01-12 22:29] jasonfma opened #28 "qs dependency is vulnerable"
Running nsp check yields a DOS vulnerability in qs dependency.

Path: in-app-purchase@0.5.5 > request@2.33.0 > qs@0.6.6

We were able to use shrinkwrap to get around this and update the qs dependecy but would like to see the update happen here so we can use the library without modifications.

[2016-01-12 22:34] voltrue2 commented on #28
Hi

Thank you for reaching out and this issue is definitely important.
I'll have a look at it and update the module asap.

Cheers

Nobu

On Jan 13, 2016, 07:29 +0900, Jason Ma<notifications@github.com>, wrote:

[2016-01-12 22:52] voltrue2 commented on #28
I did a quick search and updated request module's version to update qs module to 5.2.0 from 0.6.6.
This should remove the vulnerability you mentioned from the library.

Thank you for pointing this out.

Once I get a response back from you I will update npm. The new version would be 0.6.0

[2016-01-12 22:58] jasonfma commented on #28
Nice thanks for the quick turn around!

[2016-01-12 22:58] #28 closed

[2016-01-13 06:45] electricjesus opened #29 "iap.isExpired always returns false"
All `purchasedItem`s fed into `iap.Expired` seems to be always returning an active status (`false` return value).

[2016-01-13 06:54] #29 closed

[2016-01-14 01:28] voltrue2 commented on #29
npm released with the fix (v0.6.1)
Thanks for the help

[2016-02-17 15:26] roblav96 opened #32 "LICENSE Policy"
I'm a bit confused as to what your license policy states.

I'm familiar with the MIT, but that's about it. Am I able to use this project in a commercial product I'm selling to verify my in app purchases?

[2016-02-17 15:30] voltrue2 commented on #32
Hello

Yes you may use this module in a commercial product. I only ask that the project being properly acknowledged.

Best

-Nobuyori

On Feb 18, 2016, 00:26 +0900, Rob Laverty<notifications@github.com>, wrote:

[2016-02-17 16:03] roblav96 commented on #32
Ah! No problem at all! I have a specific page just for that. Do you have a logo or media you'd like for me to put?

[2016-02-17 18:17] roblav96 commented on #32
Any plans to implement promises? I'm going to try bluebirds promisify

[2016-02-17 23:35] voltrue2 commented on #32
Hello Ron,

Thanks for reaching out.
I don't have a logo at the moment. If you don't mind mentioning my module and name somewhere in your project(s) would be good enough for me :-)

As for promises, I am working on that right now.
I'm a little busy with other projects right now, but I'm planning on releasing the promise version of the module in 2 months or so.

I'm always open to feedbacks and tho

[2016-02-18 00:04] roblav96 commented on #32
This works wonders!
[code]

Promisify works like a charm!

[2016-02-18 00:06] voltrue2 commented on #32
Awesome!

Thanks for the snippet. I just need to find the time to do this :-)

On Feb 18, 2016, 09:04 +0900, Rob Laverty<notifications@github.com>, wrote:

[2016-02-18 02:44] roblav96 commented on #32
No problem man!

[2016-02-24 17:57] acabrera91 opened #33 "Validate callback is not being called with invalid receipt"
[code]

The call I'm doing is:
[code]

but ```validate``` is never printed

[2016-02-24 18:36] rkmax commented on #33
:+1:

[2016-02-24 19:15] acabrera91 commented on #33
It was a Promise issue, I was using Promise.method in the wrong way

[2016-02-24 19:15] #33 closed

[2016-03-03 03:25] assslove opened #35 "apple: does it exist option sandbox true or false"
i can't find this option sandbox in apple.js, can is support this option-sandbox?

[2016-03-03 03:27] voltrue2 commented on #35
Hello

You don't have to change anything. The module automatically handles sandbox for you.
Not means that if you send sandbox receipt to the module, it will automatically validate it against sandbox.

On Mar 3, 2016, 12:25 +0900, assslove<notifications@github.com>, wrote:

[2016-03-03 03:37] assslove commented on #35
oh, i see, thanks!

[2016-03-03 03:37] #35 closed

[2016-03-04 14:51] raphaelmarques2 opened #36 "Android receipt validation always return false"
I put my receipt direct into nodejs code to test.
And validate function always returns false.

I follow these steps:

1.
Copy android public key, (from google play console) in two files named "iap-live" and "iap-sandbox" like this:

MIIBIjANqhkiG98AMIIBCgKCAQEAmhqid8hOo7UZNa9dSsssvmq6LE/+LDc5+hirTuk7ZOqPo4fAqQk045SFulIdrlt+ZWsHjFokmM8zDEpKhIGxLjT/OPEm9so9CC6xYO2HH35sbErDFFr9QxGyGYSaeZBOCrAkjaHn1uC

[2016-03-04 14:55] voltrue2 commented on #36
Hello,

Is your data property of receipt object properly stringified?

If you're not sure, you could pass data property as object instead of string.

Let me know if this solves your issue.

Best

On Mar 4, 2016, 23:51 +0900, raphaelmarques2<notifications@github.com>, wrote:

[2016-03-04 14:59] raphaelmarques2 commented on #36
If a put as object (just removing quote marks) it says "data must be a string"

[2016-03-04 15:01] voltrue2 commented on #36
What is the version on the module you're using?

On Mar 4, 2016, 23:59 +0900, raphaelmarques2<notifications@github.com>, wrote:

[2016-03-04 15:08] raphaelmarques2 commented on #36
I downloaded the code direct from https://github.com/voltrue2/in-app-purchase this week
I wont used npm

[2016-03-04 15:13] voltrue2 commented on #36
Hmm strange. That error has been removed in the latest version.

Anyways I think you're problem is the stringified data is not escaped properly.
The value of token must be escaped properly with \

On Mar 5, 2016, 00:08 +0900, raphaelmarques2<notifications@github.com>, wrote:

[2016-03-04 15:15] raphaelmarques2 commented on #36
I will download again to test.

[2016-03-04 15:25] raphaelmarques2 commented on #36
I downloaded gain and passing data as object works but keep saying "failed to validate purchase"

I tried stringify but stil the same:

var receipt = {
		data : JSON.stringify({"orderId":"GPA.1352...
		signature : 'Edg4mfzB8/14FDt...
	};

[2016-03-04 15:26] raphaelmarques2 commented on #36
Should I make some base64 conversion? Or just copy the string I receive from google?

[2016-03-04 15:28] voltrue2 commented on #36
No you don't need to convert it.
You need to make sure to escape the string with ¥, which JSON.stringify() does not do.

[2016-03-04 15:34] raphaelmarques2 commented on #36
How do I make this? ¥?

I used single quote mark '{"orderid":" ...... "}' to avoid using escape

Can you give me a example?

[2016-03-04 15:35] voltrue2 commented on #36
receipt.data = JSON.stringify(receipt.data).replace(/\//g, '\\/');

[2016-03-04 15:42] voltrue2 commented on #36
So I tried your receipt and public key.
It seems that your public key is not correct.
I see the following error:

47963065154160:error:0D07209B:asn1 encoding routines:ASN1_get_object:too long:../deps/openssl/openssl/crypto/asn1/asn1_lib.c:142:
47963065154160:error:0D068066:asn1 encoding routines:ASN1_CHECK_TLEN:bad object header:../deps/openssl/openssl/crypto/asn1/tasn_dec.c:1306:
47963065154160:e

[2016-03-07 13:06] raphaelmarques2 commented on #36
It's because I didn't send you full public key or signature.

[2016-03-08 00:46] voltrue2 commented on #36
Well then have  you tried escaping with '/'?

Has it worked for you? I am curious to know what the issue is.

[2016-03-08 18:21] raphaelmarques2 commented on #36
nothing works
I tried another module and keep invalid
I think it's something wrong with my strings (receipt,public key,signature)

Can you give me a complete code that just works (print true) so I can compare?

Without any files, or configs. Just a simple code that if I paste and run will work.

like this:

	var receipt = '...';
	var public_key = '...';
	var signature = '...';
	var crypto = requir

[2016-03-10 04:20] voltrue2 commented on #36
I use receipts from projects that I'm involved with and as such it is very difficult for me provide you with actual receipt.

If you want to look at how validation is done in the module, please have a look at lib/google.js

Otherwise, I am more than happy to test against your receipt and pub key and help you solve the issue you are having.

[2016-03-10 14:11] skolesnyk commented on #36
@raphaelmarques2 look here .

There could be problem with bloody escape quotes
https://github.com/voltrue2/in-app-purchase/issues/26

[2016-03-15 12:29] tosbaha opened #38 "Apple iAP bug"
Hi,
Your library doesn't take into account of fake iap receipts. Those receipts can be generated by hacks and unfortunately it is a huge issue. Test data

Fake Receipt
==========
[code]
Result from iTunes Connect (https://**buy**.itunes.apple.com/verifyReceipt)

[code]

As you see it has empty in_app array which fools the library. Unfortunately in this state, your library won't help to protect aga

[2016-03-15 14:15] voltrue2 commented on #38
Hello

Thank you for reaching out.
I'll try test against what you sent me and see what I could do.

Will let you know how it goes.

On Mar 15, 2016, 21:29 +0900, Mustafa Dur<notifications@github.com>, wrote:

[2016-03-15 14:52] tosbaha commented on #38
Hi,
For now, I am using your code with following changes. It has hardcoded constants, but works for me. I think more tests should be done. Since I don't know if the first item in ```in_app``` array is the latest info. Besides, user may refund the money so ```cancellation_date``` must also be checked. More info is located at [here](https://developer.apple.com/library/mac/technotes/tn2413/_index.htm

[2016-03-16 08:12] voltrue2 commented on #38
Hello @tosbaha

So I finally managed to read what you reported carefully.

I have a question for you:

Why do you or your app attempts to credit the user with empty `in_app` in the validated receipt?
How can you identify what the user bought without anything in `in_app` array?

While it is a possibility for this module to check if `in_app` is empty or not, should your app be checking that to deter

[2016-03-16 08:45] tosbaha commented on #38
Hi,
If ```in_app``` array is empty, it means user didn't buy anything so verification should fail. You can't identify anything if  ```in_app``` array is empty. Documentation says that you can also check ```latest_receipt``` for bought items. Again ```in_app``` array shouldn't be empty.
I think library should check for empty array and also populate an array and return with a callback. User can buy

[2016-03-16 08:53] voltrue2 commented on #38
Hello @tosbaha

Checking `in_app` in the module is something that I am not against implementing.

However, all apps that offer in app purchase must check `in_app` anyways.
That was the point I was trying to get at.

This `in-app-purchase` modules offers receipt validation and that is it.
I do agree that the module should check if `in_app` is empty or not because, an empty `in_app` pretty much mean

[2016-03-16 09:13] voltrue2 commented on #38
@tosbaha I committed a fix to this: be1af3ff958cac35f931ecc2526e1178b94431fc

I will be publishing the new version of the package with this fix shortly.

Best

[2016-03-16 09:14] voltrue2 commented on #38
@tosbaha version 0.7.2 on npm is now available.

Thank you again for reaching out.

[2016-03-16 09:14] #38 closed

[2016-03-31 16:58] roblav96 opened #42 "[ERROR] TypeError: request.defaults is not a function"
Just updated to the latest version, and I'm getting this error when I start my server:

[code]

My controller at
[code]
[code]

[2016-03-31 17:19] roblav96 commented on #42
Reverting back to
[code]
fixes the problem.

[2016-03-31 21:50] voltrue2 commented on #42
Hello

Thank you for reporting about this problem.

I have fixed the issue and published the fixed version.

It's v1.0.1

On Apr 1, 2016, 02:19 +0900, Rob Laverty<notifications@github.com>, wrote:

[2016-03-31 22:30] roblav96 commented on #42
awesome! thanks man!

[2016-04-01 01:11] voltrue2 commented on #42
Hello Rob

Let me have a look into the issue.

[2016-04-01 01:19] voltrue2 commented on #42
@roblav96 So the issue is that `iap.setup()` actually expects a callback.
The previous version tolerated missing callback, but update I did actually made it so that it **MUST** have a callback.
I realized that it is better for the package to handle the way it used to meaning it should not throw an error when it sees no callback.

I have updated that part of the code and published new version `1.0.

[2016-04-01 01:30] roblav96 commented on #42
Oh dude no problem at all! I wub you man! Thanks for the hard work you've put into the plugin!

[2016-04-01 15:18] skolesnyk opened #43 "Occassional error transactionId of undefined"
Check this response

[IAP] validated response { status: 0,
2016-04-01T15:15:23.271Z pid:21966 worker:3   environment: 'Production',
2016-04-01T15:15:23.272Z pid:21966 worker:3   receipt:
2016-04-01T15:15:23.272Z pid:21966 worker:3    { receipt_type: 'Production',
2016-04-01T15:15:23.272Z pid:21966 worker:3      adam_id: XXXXX,
2016-04-01T15:15:23.272Z pid:21966 worker:3      app_item_id: XXX,
2016

[2016-04-01 15:40] skolesnyk commented on #43
Was this issue addressed by this commit?
https://github.com/voltrue2/in-app-purchase/commit/be1af3ff958cac35f931ecc2526e1178b94431fc

[2016-04-01 21:48] voltrue2 commented on #43
Hello

So the undefined response object is something I have not run into before. I will look into the issue.

Just to be sure which version are/were you using when you got those errors?

On Apr 2, 2016, 00:40 +0900, skolesnyk<notifications@github.com>, wrote:

[2016-04-01 21:49] skolesnyk commented on #43
Was using 0.7.2

[2016-04-01 22:08] voltrue2 commented on #43
OK thanks for the info. Let me look into this issue

On Apr 2, 2016, 06:49 +0900, skolesnyk<notifications@github.com>, wrote:

[2016-04-01 22:10] skolesnyk commented on #43
I thought commit be1af3f was exactly about this issue? mind you, it's quite rare case, but it still happens in 5% of all verification responses.

[2016-04-01 22:19] voltrue2 commented on #43
This commit was to prevent the validation from validating empty receipts for something like hacking.
The issue you see here is caused by validation response missing which something different.
Although I do see that you have empty in_app object there

On Apr 2, 2016, 07:10 +0900, skolesnyk<notifications@github.com>, wrote:

[2016-04-01 22:24] skolesnyk commented on #43
Indeed! Other transactions had in_app object not null. So, it could be a hacking attempt?

[2016-04-01 22:38] voltrue2 commented on #43
Yes if you see an empty in_app in the validated receipt it means that the user has not bought anything at all.
It could be a hacking attempt.

On Apr 2, 2016, 07:24 +0900, skolesnyk<notifications@github.com>, wrote:

[2016-04-04 21:52] calendee opened #44 "async.waterfall is not a function"
When using the Google validation process, receive get this error:

[code]

This seems to be because the `async` library is not actually used.  Instead a custom `async` file is used that does not have the waterfall method.

Here is the problem code at Line 286 of `google.js`:

[code]

The custom `async` module at https://github.com/voltrue2/in-app-purchase/blob/develop/lib/async.js does not have a

[2016-04-04 21:54] voltrue2 commented on #44
Hello

Thank you for reporting the issue.
I will look into this ASAP.

Best

On Apr 5, 2016, 06:52 +0900, Justin Noel<notifications@github.com>, wrote:

[2016-04-04 22:33] voltrue2 commented on #44
Hello

I appreciate you taking the time to report this issue.
I have made the fix and updated the package.
Please have a look at v1.0.3

Best Regards

On Apr 5, 2016, 06:52 +0900, Justin Noel<notifications@github.com>, wrote:

[2016-04-05 01:20] calendee commented on #44
Worked great.  Thanks so much for the amazingly fast response and fix.

[2016-04-05 01:20] #44 closed

[2016-04-05 02:08] voltrue2 commented on #44
Thank you for reaching out!

On Apr 5, 2016, 10:20 +0900, Justin Noel<notifications@github.com>, wrote:

[2016-04-06 17:46] Dmitriy1984Molchanov commented on #26
I get from mobile app such object for LICENSED TEST USER:
{
            "orderId": "GPA.1320-9017-4749-30509",
            "packageName": "com.fibiz",
            "productId": "500",
            "purchaseTime": 1459943307449,
            "purchaseState": 0,
            "developerPayload": "simpleToken",
            "purchaseToken": "madhliipdihlidnbkghenhhi.AO-J1OyJPgbp26Db-u2K1fzbmauxm4eDo7h1s-y_

[2016-04-06 21:50] voltrue2 commented on #26
Hello,

I'm not sure if I understand this issue correctly, if my assumption is wrong please let me know.

The module can work with both stringified object or object that you have pasted there.

Are you getting any errors? If so could you give me more details on this so I can have a look at it?

On Apr 7, 2016, 02:46 +0900, Dmitriy1984Molchanov<notifications@github.com>, wrote:

[2016-04-06 22:08] Dmitriy1984Molchanov commented on #26
Yes, error appears after validation attempt. I get response: {status: 1, message: 'validation failed'}

Validation of play market public key is ok.
Validation of data presence is ok.

[2016-04-06 22:10] voltrue2 commented on #26
Would you be able to share the code you have?

On Apr 7, 2016, 07:08 +0900, Dmitriy1984Molchanov<notifications@github.com>, wrote:

[2016-04-06 22:26] Dmitriy1984Molchanov commented on #26
Tomorrow I'll post the code. Is it possible that the reason is LICENSED TEST USER ?

[2016-04-06 22:27] voltrue2 commented on #26
Hmm I am not certain if being licensed test user is the cause of it but when you have the code posted, I'll have a look

On Apr 7, 2016, 07:26 +0900, Dmitriy1984Molchanov<notifications@github.com>, wrote:

[2016-04-06 22:31] Dmitriy1984Molchanov commented on #26
var BalanceProcessing = function () {

    function Constructor() {

    }

    Constructor.validateInAppPurchase = function (mobileOSType, receipt, cb) {
        app.iap.setup(function (error) {
            if (error) throw error;

            app.iap.validate(app.iap[mobileOSType], receipt, function (error, response) {
                if (error) throw error;

                if (app.iap.isValida

[2016-04-06 22:33] Dmitriy1984Molchanov commented on #26
Receipt code is above.

[2016-04-06 22:38] Dmitriy1984Molchanov commented on #26
The error is thrown after this line of code:
app.iap.validate(app.iap[mobileOSType], receipt, function (error, response) {

[2016-04-07 00:41] voltrue2 commented on #26
Would you be able to share the public key you are using? I would be able to debug with it

On Apr 7, 2016, 07:38 +0900, Dmitriy1984Molchanov<notifications@github.com>, wrote:

[2016-04-07 08:06] Dmitriy1984Molchanov commented on #26
Public key - no

[2016-04-07 10:37] Dmitriy1984Molchanov commented on #26
I sent public key to your email

[2016-04-07 10:39] voltrue2 commented on #26
Thank you. I will debug it and see what the cause of this issue is. I appreciate the help.

On Apr 7, 2016, 19:37 +0900, Dmitriy1984Molchanov<notifications@github.com>, wrote:

[2016-04-07 13:04] voltrue2 commented on #26
@Dmitriy1984Molchanov I was looking at your receipt data closer just now and I just realized that `signature` you are using is incorrect.

You are using `receipt.purchaseToken` as `signature`, but you are supposed to use `signature` that you get from Google when you purchase something.

Google should give you two things: receipt and signature.

Would you have a look at that on your end and see if

[2016-04-08 11:41] Dmitriy1984Molchanov commented on #26
Yes, now it works, thanks.

[2016-04-09 17:04] voltrue2 commented on #36
There hasn't been any follow ups on this issue.
Closing

[2016-04-09 17:04] #36 closed

[2016-04-09 19:02] nitrag opened #46 "Apple Validation error"
I am trying to validate a sandbox receipt for Apple. It works if I cURL it manually but not with your program.

Note: I have truncated the base64 string for security reasons.

[code]

works, produces official apple output

[code]

Is your tool supposed to encapsulate the receipt (base64 string) into the JSON with receipt-data or am I?

[2016-04-10 00:20] voltrue2 commented on #46
Hello

You're supposed to feed the module with base64 encoded receipt. You do not have to encapsulate it in to JSON or anything at all.
The error you see from the module has status 21002 from Apple which means that your receipt is malformed.

If you would like, I can write a simple test with your recipes data and help you debug it. Otherwise you could try look at tests in the module and see what y

[2016-04-10 21:16] skolesnyk opened #47 "Apple App Store refunds"
Is there a way to retrieve/sync refunds ? I desperately need this.

[2016-04-10 21:45] voltrue2 commented on #47
Hello

When the user purchases something in your app and later cancels the purchase by contacting Apple,
The validation of the purchase receipt with Apple will have the date and time called cancelation_date.

.validate() returns the raw result back to your app and you can detect cancelation.

It means, though, that you have to run the validation to detect cancelation.

Best Regards

On Apr 11, 201

[2016-04-10 21:48] skolesnyk commented on #47
It means that I have run validation for all transactions made within 0-14 days to detect whether particular purchase was cancelled?

Is there more efficient way to do this?

[2016-04-10 21:52] voltrue2 commented on #47
As far as I am aware, this is the only way to do it unfortunately.
I do wish that Apple provides better way to handle this, but I am afraid this is the only way to do it at the moment.

It would be pretty difficult to handle if your purchased items are consumable such as in game currency that the user can spend etc.

Best Regards

On Apr 11, 2016, 06:48 +0900, skolesnyk<notifications@github.com>,

[2016-04-10 21:55] skolesnyk commented on #47
My purchased items are consumables. It wouldn't be that hard to handle — I'd just ban the users who would ran into negative balance with ingame currency.  So they first buy game currency, use it , and they request a refund from apple blaming the app for not performing. It wouldn't be so bad for virtual items, but  in case of my app — in game currency users can spend on items that we spend real mon

[2016-04-12 00:04] nitrag commented on #46
Right, a base64 encoded string? It always fails. As shown above though, I take the base64 encoded string and wrap it in the JSON and send via cURL and it works...telling me that the base64 string is accurate.

[2016-04-12 00:46] voltrue2 commented on #46
Hmmm

That's is really weird. I will look at the code once again, but the status code you had was 21002 which means it is a malformed receipt... There might be something in the code causing this.

On Apr 12, 2016, 09:04 +0900, nitrag<notifications@github.com>, wrote:

[2016-04-12 02:01] voltrue2 commented on #46
@nitrag OK So for Apple, I know the cause of it. The module is actually trying to validate it against production. Not sandbox and since  your receipt is for sandbox it is failing there.

I think I am going to add options for debugging and correction on this issue.

I will let you know when I have it ready.

[2016-04-12 02:03] nitrag commented on #46
I thought then it would fail with error 21007 and this would pick it up?

https://github.com/voltrue2/in-app-purchase/blob/develop/lib/apple.js#L82

[2016-05-12 10:56] #43 closed

[2016-05-16 14:50] nickkuh opened #49 "IAP.getPurchaseData ignoring latest purchase"
Hey Guys

Thanks for this great module.

My app implements Apple autorenewable subscriptions. But now some of the subscriptions have renewed (the initial subscription being a monthly subscription just over a month ago) the IAP node module isn't recognising this and treats repeat subscriptions as expired.

I can see the reason for the bug in the source code too:

https://github.com/voltrue2/in-app-

[2016-05-16 17:26] voltrue2 commented on #49
Hello Nick,

Thank you for reaching out.

I will look into this right away.
The subscription receipt format might have changed as you pointed out.

Best Regards

On May 16, 2016, 07:50 -0700, Nick<notifications@github.com>, wrote:

[2016-05-16 18:18] voltrue2 commented on #49
Hello

I have updated the module to include 'latest_receipt_info' array to be
parsed by .getPurchaseData().

Commit:
https://github.com/voltrue2/in-app-purchase/commit/2e86b170b8d506639aa00c64965b0084ce9da0cb
npm version: in-app-purchase@1.1.3

Thank you again for reaching out.

It would be really awesome if you could let me know if the update solves
your problem or not.

Best Regards

On Mon, May

[2016-05-17 12:45] nickkuh commented on #49
Hi @voltrue2

Thanks for looking into. I just tested and the problem isn't quite resolved. Two modifications will fix it:

'latest_receipt_info' is actually at the same level in the data structure as 'receipt'. So the code needs to look one level higher in the data. e.g.:

And, it would be even better if the code worked like this:

Rather than concatenating as you end up with a duplicate transacti

[2016-05-17 15:11] voltrue2 commented on #49
Hello Nick

Thank you for testing it and pointing out the issue.
I'll get on it ASAP.

Best Regards

On May 17, 2016, 05:45 -0700, Nick<notifications@github.com>, wrote:

[2016-05-17 15:49] voltrue2 commented on #49
Hello

I pushed the fix to the problem with parsing latest_purchase_info.

There is a one difference from what you suggested in the fix.

I decided to parse items in in_app array along with what's in latest_receipt_info array and check for duplicates.
The reason for that is to keep the returned results the same as it was with the addition of the items from latest_receipt_info.

If you could retest

[2016-05-17 16:30] nickkuh commented on #49
Still not working. Because all purchase items share the same PRODUCT_ID. You should check for dupes on the TRANSACTION_ID

[2016-05-17 16:32] voltrue2 commented on #49
Hello Nick,

Right. It was my bad. I will fix it.

Best

On May 17, 2016, 09:31 -0700, Nick<notifications@github.com>, wrote:

[2016-05-17 17:25] voltrue2 commented on #49
Hello

I also noticed that I should be checking against original_transaction_id instead for duplicates as transaction_id will be different when subscription is renewed.
So the parser checks and keeps the most recent original transaction receipt now.

I pushed the updated version to git.

Thank you again for the help.

Best

On May 17, 2016, 09:31 -0700, Nick<notifications@github.com>, wrote:

[2016-05-18 10:20] nickkuh commented on #49
Perfect @voltrue2 - thanks for sorting!

[2016-05-18 18:18] #49 closed

[2016-06-03 12:52] skolesnyk opened #50 "The purchase data structure is different for Google"
Google receipt doesn't contain   transactionId. Now the corresponding field is orderId.
E.g.
service: 'google' } [ { orderId: 'GPA.1318-xxx-xxx-',
2016-06-02T19:48:25.054Z pid:2080 worker:3     productId: 'xxxx',
2016-06-02T19:48:25.054Z pid:2080 worker:3     purchaseDate: 1464896898088,
2016-06-02T19:48:25.054Z pid:2080 worker:3     quantity: 1 } ]

[2016-06-03 16:13] skolesnyk commented on #50
Respectively, this check breaks execution
if (iap.isExpired(purchaseDataList[i]) === false) {
with error

uncaught Exception { [Error: invalid purchased item given:
2016-06-03T16:09:42.602Z pid:28371 worker:11 {"orderId":"GPA.1324-XXXXXX","productId":"productIDXXXXX","purchaseDate":1464970176127,"quantity":1}]

[2016-06-03 16:15] voltrue2 commented on #50
Hello

Thank you for reaching out!
I will have a look at the issues you pointed out.

Best Regards

On Jun 4, 2016, 01:13 +0900, skolesnyk<notifications@github.com>, wrote:

[2016-06-05 13:22] ContinuousExcellence opened #51 "Failed to validate purchase in Android"
I put my receipt and signature in database. And then I took both from database and android public key from play developer console.
Using your module, on nodejs code I created receipt to validate using below code:

var receipt  = { data: JSON.stringify(receipt_val).replace(/\//g, '\/'), signature:iap_response[0].result[0].signature};

Below is Receipt:

var receipt= { data: '{"packageName":"com.uti

[2016-06-05 13:32] voltrue2 commented on #51
Hello

It seems that either the receipt or the public key is incorrect. What the module is doing is simply validating the signed receipt as you can see.

.validate() can take data as an object also. You might want to try pass it as is instead of JSON.stringify it.

If that does not fix the issue, I am more than happy run some tests for you when I get a chance.

Best

On Jun 5, 2016, 22:22 +0900, C

[2016-06-05 13:46] voltrue2 commented on #50
Hello,

After reviewing the code, I found that I had a bug in the code that
transactionId was not assigned unless the purchase was autoRenew: true.
I fixed that and now transactionId holds purchaseToken.
The fixed version has now been pushed to develop branch. I will be running
more tests before releasing it.

Thank you again for the help.

Best

On Sat, Jun 4, 2016 at 1:15 AM, Nobuyori Takahashi

[2016-06-05 14:01] voltrue2 commented on #51
Hello

Could you give me the receipt data w/o JSON.stringify and replace?

On Sun, Jun 5, 2016 at 10:31 PM, Nobuyori Takahashi <voltrue2@gmail.com>
wrote:

[2016-06-05 14:03] voltrue2 commented on #50
Hello,

v1.1.6 now has the fix!

[2016-06-05 20:54] skolesnyk commented on #50
Thanks!

[2016-06-05 20:56] skolesnyk commented on #50
Looking into this you still have orderID for google play purchase https://github.com/voltrue2/in-app-purchase/commit/614ff68ad583d95adbb6d92505717dc39b81ecf6

Does it mean my code still has to work around this? Or I can use transactionID field for any in app provider ?

[2016-06-06 06:40] ContinuousExcellence commented on #51
Hi,

I have already tried without JSON.stringify(). Its giving same proble,Also Please find below my receipt w/o JSON.stringify()

var receipt= { data:
   { packageName: 'com.utillix.utillixapp1',
     productId: 'praveen_test',
     purchaseTime: 1463582360560,
     purchaseState: '0',
     purchaseToken: 'ohdbahlifnbfoelidfknfakp.AO-J1OxdAXy9EKF7uJT8Ggg9YUcCvx-Lk7
_zZFc4s9eLijoBPvv_uG3i5WDsb8TDI

[2016-06-06 06:45] ContinuousExcellence commented on #51
Also, Please find attached android public key

![iab key](https://cloud.githubusercontent.com/assets/7579244/15813925/5b9862f6-2be0-11e6-870a-c36311dcc997.png)

[2016-06-06 09:21] ContinuousExcellence commented on #51
Thanks .I got issue.

Although i need to use JSON.stringify() but when I was doing JSON.stringify(), value of purchaseState converted to string.So when I converted to int, It started working.

 Thanks for your help and time.

[2016-06-06 09:23] voltrue2 commented on #51
I am glad it is working for you now.

Cheers

[2016-06-06 09:23] #51 closed

[2016-06-10 15:42] glaydston commented on #51
Hi, Takahashi:

I have the same problem and I have tried all you could think.

Could you help?

It's my receipt information:

``
[VERBOSE] <Google> Validate this: { data:
   { orderId: 'GPA.1301-1377-8253-29193',
     packageName: 'com.mcontigo.inshake',
     productId: 'com.mcontigo.inshake.subscriptionar',
     purchaseState: 0,
     purchaseTime: 1463617019341,
     purchaseToken: 'iddnojaahbia

[2016-06-11 22:16] voltrue2 commented on #51
Hello,

I have tested with your receipt and public key given here.
I too was unable to validate.
The receipt seems to be fine and as far as I can tell the public key looks OK too.
All I can think of at this point is that we are using wrong public key for this receipt?

[2016-06-11 22:18] voltrue2 commented on #50
Hi

Thank you for reaching out. .getPurchaseData() now has transactionId, so you should be able to just use it as you would normally do and .isExpired() should not break anymore.
Please let me know if this fixes your issue!

[2016-06-20 23:30] skellertor opened #52 "Google receipt"
In the documentation you say that the google receipt is an object with two top level key: "data" and "signature". What is the value of "data" supposed to be?

[2016-06-20 23:35] voltrue2 commented on #52
Hello

Thank you for reaching out.
The data property is the signed receipt your client gets from Google.

I will have a look at the documentation again and improve this part to not create confusion.

Best

On Jun 21, 2016, 08:30 +0900, Samuela Keller<notifications@github.com>, wrote:

[2016-06-21 17:46] skellertor commented on #52
Okay lets say I get this back from google:
{
"purchase" : {
        "productId" : "com.product.product",
        "orderId" : "",
        "purchaseTime" : 1.466519385349E12,
        "developerPayload" : "3546......",
        "signature" : "base64 string",
        "purchaseState" : 0,
        "token" : "blahblashbleung",
        "packageName" : "com.product.app"
    }
}

I create an object like this

[2016-06-22 01:08] voltrue2 commented on #52
The JSON you have their seems to contain "signature" in "data".
If you look at `in-app-purchase/test/receipts/google` file in the module, you will see a sample of this.

Cheers

[2016-06-28 09:06] yangguochi commented on #47
OMG Seems many developers met the apple refund trouble.
@voltrue2  Is it true that recheck receipt-data of  consumable items will not find any "cancelation_date" information at all?  I did some re-check,and found cancelation_date only if the item was a "non-renewable subscription"

[2016-06-28 09:14] voltrue2 commented on #47
Hello

Thank you for reaching out.
As far as I am aware of purchased items are consumable, you don't have a way of knowing if it has been canceled or not because the users could have consumed them all already etc...

Best

On Jun 28, 2016, 18:06 +0900, yangguochi<notifications@github.com>, wrote:

[2016-07-04 15:03] paglias opened #54 "getPurchaseData for Apple IAPs has no transactionId"
It looks like the items returned from getPurchaseData for an Apple purchase only have these 3 attributes: `productId`, `quantity` and `purchaseData`. transactionId seems to be missing

[2016-07-04 15:35] paglias commented on #54
My fault, sorry about this, I was using an old version of the library

[2016-07-04 15:36] #54 closed

[2016-07-20 14:00] ContinuousExcellence opened #55 "Upgarde and Downgrade Susbcription"
Hi,

We are implementing inapp autoreneable subscription in which we want only one subscription remains at a time. We want to implement upgrade and downgrade subscription?Do you have any idea about implementation of it?

[2016-07-23 23:46] kermankohli opened #56 "Google In-App Purchase Not Working"
Hey there,

I'm not sure why but receipts aren't being validated for the Play Store.

Here's the input received from verbose logging:

[code]

Currently sending the following through:

`{"data":{"packageName":"com.edlifeapp","productId":"plus.365","purchaseTime":1469015574292,"purchaseState":0,"developerPayload":"inapp:plus.365:94038a0e-75cd-4ff1-8fd0-b7641d6c9809","purchaseToken":"apllonnighbdcbh

[2016-07-28 08:04] cmarqui opened #57 "Android validate method return {}"
Hi,

We have a problem when we call .validate(), in the .config we pass the keys as strings and data formatted, both are correct because we have checked it in http://iap.gracenode.org/#validate-android and the format is the same like the file test/receipts/google.

When we call to .setup() working correctly, but when call .validate() , it not enter in the function and print "{}" in mobile screen.

[2016-07-28 23:47] voltrue2 commented on #57
Hello

Thanks for reaching out. So your problem is the callback of validate function not being called?

From the looks of it, your callback will not output anything unless there's an error b/c you are calling console.log in your error catching only.

Cheers

On Jul 28, 2016, 17:04 +0900, cmarqui <notifications@github.com>, wrote:

[2016-07-29 06:19] cmarqui commented on #57
I discovered that error is in var validater = crypto.createVerify('SHA1'); (node_modules/in-app-purchases/lib/google.js line 381 ) from node code. I put try-catch and in the catch the error is "Unknown message digest".

Doy you have any idea?

Thank you so much.

[2016-07-29 06:21] voltrue2 commented on #57
Hello

It means the signature you are sending is incorrect.

Cheers

On Jul 29, 2016, 15:19 +0900, cmarqui <notifications@github.com>, wrote:

[2016-07-29 06:31] cmarqui commented on #57
Hello,

I obtain the signature from RestorePurchases() method, how can this be incorrect?

I get the signature as follows:

{ "data": JSON.parse(request[0].receipt), "signature": request[0].signature };

And my signature is like : AaTdFoOdLr3HqPNbcJO2OqAMi1WVgOpVfTf.......DjVSAyAym7CshFLWuzliyvs+1ofhrdkQ==

Thank you

[2016-07-31 14:41] romanbsd opened #58 "Parsed data is no longer available"
It was available on 0.7.3, but not any longer.
For example, for code 21006:
[code]
The receipt and latest_expired_receipt_info are no longer available, since in apple.js:117 and apple.js:158 validatedData is set to {status,message} losing the returned data entirely.

[2016-08-01 02:49] voltrue2 commented on #58
Hello

Thank you for reaching out and reporting this issue.
I will have a look at it as soon as I get a chance.

Cheers

On Jul 31, 2016, 23:41 +0900, Roman Shterenzon <notifications@github.com>, wrote:

[2016-08-03 00:11] DinnerForBreakfast opened #59 "Subscription Renewal?"
My Android app is sending the receipt for the subscription, the receipt is being validated as real, and the expiry time is being returned, but the expiry time is for the original receipt and not renewals, so isExpired() is returning true, even though the subscription has been renewed. Am I supposed to be sending a newer receipt?

[2016-08-04 11:20] skolesnyk commented on #47
I'll just close it. Maybe Apple will come up later with an API to check for returned purchases.

[2016-08-04 11:22] skolesnyk opened #60 "validateOnce"
Hi!

Exciting update this one. So the second param is either  iTunes secret or any of my app's Google Play private keys?

[2016-08-04 11:24] #50 closed

[2016-08-04 11:24] voltrue2 commented on #60
Hello

Yes. The idea is that you might want to have a centralized in app purchase server that you could share with multiple apps.

Let me know what you think of it!

Cheers

On Aug 4, 2016, 20:22 +0900, skolesnyk <notifications@github.com>, wrote:

[2016-08-05 07:32] voltrue2 commented on #58
Hello,

I have added all response from Apple to the returned validation data: f3db2ea245a7627c4b82d7e11eca18c4cde7f813
Published version is 1.1.7.

Thanks again for reporting it.

Cheers

[2016-08-05 07:32] #58 closed

[2016-08-05 07:33] romanbsd commented on #58
👍

[2016-08-09 12:39] Ltty opened #61 "Cancellation flag is not checked for Apple Receipts"
If a subscription is cancelled by the user or if the payment process fails a cancellation date is added to the receipt by the apple server. This flag is currently not checked by your implementation. So the module will return false when calling isExpired() even though the receipt was cancelled and is no longer valid.

[2016-08-09 12:42] voltrue2 commented on #61
Hello

Thank you for reaching out!

Would you mind sharing the property that needs to be checked for this so I can implement it?

Cheers

On Aug 9, 2016, 21:39 +0900, Florian Lettner <notifications@github.com>, wrote:

[2016-08-09 12:47] Ltty commented on #61
Here's the explanation taken from Apple's web site:

https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html

The field is named cancellation_date

[2016-08-09 12:49] voltrue2 commented on #61
Awesome!
Thank you. I'll implement this as soon as I get a chance.

Cheers

On Aug 9, 2016, 21:47 +0900, Florian Lettner <notifications@github.com>, wrote:

[2016-08-09 15:33] drosito commented on #56
Same problem happening for me..
Maybe the npm doesn't support receipts generated with v3 version of API for making iap?

[2016-08-10 08:01] voltrue2 commented on #56
Hello

Thank you for reaching out.
I will have a closer look at the issue.

Cheers!

[2016-08-10 08:27] drosito commented on #56
Other thing I noticed:
the online example http://iap.gracenode.org/ works. What version of in-app-purchase is the example using?

[2016-08-10 08:35] voltrue2 commented on #56
@drosito Hmm interesting. I am using version 1.1.5 which is slightly older than what I have on npm.
What version are you using?

[2016-08-10 08:37] drosito commented on #56
@voltrue2 The latest, 1.1.7

[2016-08-10 08:38] voltrue2 commented on #56
@drosito Thanks. I will go through my changes and see if there is anything that maybe causing this.

Cheers

[2016-08-11 14:28] glaydston commented on #51
Hi, Takahashi:

Thank you for your reply.

My public key was wrong on Google Play and the app app is working fine currently.

I'll implement the subscription's validate.

Thank for all,

[2016-08-18 22:08] knadeau opened #62 "Need to support Amazon IAP version 2.0"
Amazon has deprecated the API used by this package as of May 11, 2016.

Migration guide:
https://developer.amazon.com/public/apis/earn/in-app-purchasing/docs-v2/migrate-iapv1-apps-to-iapv2

[2016-08-18 23:44] voltrue2 commented on #62
Hello

Thanks for reaching out.
Great! I'll try to implement the new version of the Amazon API.

Cheers

On Aug 19, 2016, 07:08 +0900, knadeau <notifications@github.com>, wrote:

[2016-08-22 17:12] DinnerForBreakfast commented on #59
So it ended up being that Google was renewing the subscription but returning incorrect info on the API call, saying that the subscription was cancelled when it clearly wasn't. Cancelling and rebuying the subscription from the device fixed it.

[2016-08-22 17:12] #59 closed

[2016-08-22 22:44] voltrue2 commented on #59
Hello

Thank you for letting me know!

Cheers

On Aug 23, 2016, 02:12 +0900, DinnerForBreakfast <notifications@github.com>, wrote:

[2016-08-25 14:23] mkorszunsands commented on #56
experiencing the same issue - any updates on it?

[2016-08-25 14:26] voltrue2 commented on #56
Hello

I'm still trying to debug this issue. I got a little busy this week but should be able to spend more time on it soon.

Cheers

On Aug 25, 2016, 23:23 +0900, mkorszunsands <notifications@github.com>, wrote:

[2016-08-26 07:45] voltrue2 commented on #56
Hello,

kermankohli, I apologise that it look me a while to get back to you on this issue:

I have tested with what you gave me against version 1.1.7 and I was able to validate the receipt successfully.

Here is the test code I used:

[code]

And here is the response output:

[code]

Please let me know if you have questions.

Cheers

[2016-09-01 13:02] #60 closed

[2016-09-01 13:02] voltrue2 commented on #61
I have implemented this in develop branch I will be running more tests before merging it to master and publish on npm

[2016-09-01 13:05] voltrue2 commented on #42
closing this issue with a smile

[2016-09-01 13:05] #42 closed

[2016-09-01 13:06] skolesnyk commented on #47
Any update on purchase refunds for Apple inApp purchases?

[2016-09-01 13:10] voltrue2 commented on #47
Hello

Unfortunately Apple has not added a way to detect canceled purchases. I understand that I could be somewhat complicated for consumable items as you may never know that canceled items have been consumed or not before cancellation and such..
I know lots of companies (mostly game companies) just have to live with this issue.

[2016-09-01 13:11] voltrue2 commented on #62
I am trying to test the migrated API for this but it seems that Amazon now requires us to create a developer account or something to test this.
Does anyone know of a good way to test the server API for this?

[2016-09-01 15:26] skolesnyk commented on #47
In my case it's actual phone minutes that users are buying. Kinda sucks when they get refund but still can make phone calls through my app.

[2016-09-30 07:38] skyredpepper opened #65 "Google module not working"
[Receipt]

{"data": {"packageName":"com.skyredpepper.zzactalkandroid","productId":"point_1000","purchaseTime":1475214245609,"purchaseState":0,"purchaseToken":"oddidiboidodlmboahbpfgjg.AO-J1Oz4nr73R6ggq5ITwd1BYQeo7NXNTVehPsAiqeu9AuaEMaXc6OKJomOU85lbtuEGkJsFPeYlQS4Tbc9qluOvEcU1js3n6mC99FuOnpKuhCE-4BPecgSOI28_W_djaNmxIY_2zN_M"},"signature":"fi9QIEpo+NOP37L+oweMiO0tcTVZiMsuu62G7ARgUPeEMO4aoZFAzGLkQzhy

[2016-09-30 12:30] voltrue2 commented on #65
Hello

I have tested against your receipt and public key and it worked for me.

Here is the code:

[code]

[2016-09-30 12:33] voltrue2 commented on #65
It seems that you have escape characters (¥) in your receipt and that is probably what is messing up your code.

[2016-09-30 12:34] voltrue2 commented on #65
Here is the output of the code I just posted:

[code]

[2016-09-30 15:27] #65 closed

[2016-10-05 22:00] manuelprojects opened #66 "Multiple Products Expire Validation"
Hi All,

I'm trying to use this plugin in order to validate ios IAP, but i've one question that has really no sense to me...

When a recepit is received it can have multiple products and how can i send a response for specific product expire (even if others are not) if  the request contains all the products?

I'm using the ordova-plugin-purchase for managing auto-renew subscription and this issue i

[2016-10-05 22:15] voltrue2 commented on #66
Hello

Apple's validation returns the entire list of purchases, but when you validate a receipt you know which product you're trying to validate since every purchased item has a unique ID. With this you should be able to identify the one you need to check.

Best regards

[2016-10-06 12:18] manuelprojects commented on #66
Really? so Simple?
I'll try right now! You do not know how how much I appreciate your help!

Thanks!!

[2016-10-06 20:22] manuelprojects commented on #66
Hi, unfortunally is not working and I explain you why:

- I've just one in app purchase auto renew product.
- I'm testing the in app purchase using sandbox multiples apple's account,
- When i perform a buy action the validator send to the nodejs istance the transactionReceipt but! it contains all the subscritions of the test's users i'm using with the same product id and I'm really not comprending

[2016-10-07 00:02] voltrue2 commented on #66
Hi

Would you be able to paste the validated result if your receipt here so that I can have a look at what is going on?

Best regards

[2016-10-07 13:19] manuelprojects commented on #66
Here the exact copy of the appleRecepit after validating it...

Many thanks....

[code]

[2016-10-08 10:20] voltrue2 commented on #66
Hello,

So notice there is an ID called "transaction_id" with each purchased item. You need to keep these IDs in your database or somewhere (and make sure to make association to the user who purchased the item) so you can keep track of each item.

I assume when you are trying to validate a subscription, you have a user that is trying to access the subscription item.
This is when you retrieve the a

[2016-10-14 16:03] igorescobar commented on #52
Hey guys... I'm here just do add a few things that may help further problems related with "failed to validate purchase" for Google Receipts.

Here are a checklist that you could do in order to fix the issue.
1 - Make sure that your keys are valid.
2 - Make sure the first level of your structure is right... like this:
[code]
3 - Make sure that NOTHING has changed from the original Google Response i

[2016-10-24 17:50] JuliusNarvilas commented on #62
The only way to test seems to be creating a few "In-App Items", progressing them to "Live" state ("Live" state doesn't actually mean live, as in my experience it took several more hours before Amazon started to detect them) and create a test app under the "Live App Testing" tab of the app (for me, emails would only be sent out to testers that were added during the end of the test app publishing, f

[2016-10-24 17:57] JuliusNarvilas commented on #62
Haven't heard of ways to test Amazon IAP without an app on Amazon store.

[2016-10-25 18:15] voltrue2 commented on #62
Hello

Thank you for the info.
But Amazon is making it very difficult for me to maintain the server side only library like this :( it seems that I cannot have meaningful server-only unit tests..

Sent from my iPhone

[2016-11-05 18:16] mystikxkemix commented on #52
@igorescobar : in your example, in yout dataOrder array there is twice purchaseState. Is it a mistake ?

[2016-11-18 14:06] Mazyod opened #69 "[Proposal]: Unity receipt format"
Hello @voltrue2,

Thanks for making this great project! It really saved me a lot of time in integrating receipt verification for my Unity game.

I wanted to propose a feature, which I can also implement and send a PR if you agree.

Unity has a unified IAP module which returns a specific format, which [you can read about here][unity-docs]. It is something like this:

[code]

As you can see, the dat

[2016-11-20 01:31] voltrue2 commented on #69
Hello @Mazyod

Thank you for reaching out. The idea is certainly an interesting one and I understand it is rather annoying to have to manually check and change the key from json to data.

Where is a question for you though, when you use iap.UNITY, would it support iOS also?

[2016-11-20 06:58] Mazyod commented on #69
@voltrue2 of course! In fact, I will test and make sure it will support Apple, Google, Amazon, & MS.

[2016-11-20 12:20] Mazyod commented on #69
@voltrue2 I spent some time running the tests and attempting to integrate `iap.UNITY` verification strategy, but it has become clear to me that the current library design is a bit rigid and doesn't allow us to easily implement a layer of indirection very easily.

I mean, consider this. I have multiple games in Unity, and I would like to dynamically choose which one it is. With the current design,

[2016-11-21 00:59] voltrue2 commented on #69
Hello

Thank you for taking the time on this. The initial idea of this library was to provide a very simple and uniformed validation API for all of these platforms. It has changed over time and along with the code.

Anyways yes I agree with your proposal. I've been wanting to refactor the code for sometimes anyways.

Sent from my iPhone

[2016-12-01 01:56] ickyrr commented on #60
Hello @voltrue2 , I just have a bit of confusion, how does it differ from `.validate()` ?

[2016-12-01 06:24] voltrue2 commented on #60
Hello

So the difference is that with validateOnce, you can use different validation token for android and different secret password for iOS subscription per validation.

It is useful when you have one central validation server for multiple apps.

Sent from my iPhone

[2016-12-01 08:01] ickyrr commented on #60
@voltrue2 I see, so I don't need to include the `googlePublicKeyStrSandbox` value on `iap.config()`, but the rest of the properties `googleAccToken, googleRefToken, googleClientID, googleClientSecret` should stay ?

[2016-12-01 08:35] voltrue2 commented on #60
Yes. That's the idea.

Sent from my iPhone

[2016-12-01 08:59] ickyrr commented on #60
Thanks @voltrue2 !

[2016-12-09 12:08] igorescobar opened #72 "Detect Trial subscription for Google In App Purchase."
Is there any way to detect if the current purchase it is about a trial subscription for google?
apple you can read the `is_trial_period` attribute but we don't have anything similar for Google.

Seems like the only way it is fetching this info via this endpoint:
https://developers.google.com/android-publisher/api-ref/inappproducts

Which would be a good increment for `in-app-purchase` if this is a

[2016-12-12 13:56] sumeet559 opened #73 "How to get status of a cancelled purchase on google payments."
How to get status of a cancelled purchase on google payments?

[2017-01-20 10:14] skolesnyk commented on #73
Hey! Looks like Google has listened https://developers.google.com/android-publisher/voided-purchases
And purchase token is from the validated response
{ orderId: 'GPA.1361-xxxxxx',
  developerPayload: '95cbb3.....',
purchaseToken: '.....'
...
}

[2017-01-20 12:16] voltrue2 commented on #73
Awesome! I'll look into this to see if I can improve the module with it.

Thanks for the ping!

Sent from my iPhone

[2017-01-20 13:32] skolesnyk commented on #73
Not sure it's possible or makes sense to do in this module. It must be a separate background processes running at scheduled intervals downloading the list of voided purchases.

[2017-01-25 11:42] murat-yuksel commented on #73
I don't know if it is a good approach but I validate receipt every time app goes up, so its guaranteed to catch if user still subscribed or canceled or how much time I need to serve.

[2017-01-25 12:14] skolesnyk commented on #73
@murat-yuksel , maybe it's better to have a background process running that checks for invalidated purchases 96 times per day (every 15 minutes)?  You shouldn't rely on client to send you request for validation checks.

[2017-01-25 12:35] murat-yuksel commented on #73
Of course if you need to catch it sooner to take further action (push, mail, discount etc ...) i don't know any another way. In my situation I was only need to check if user is paid for the service or not.

[2017-01-26 11:59] hankchinaski opened #76 "Android validation with play store api returns error validating non subscription product"
Hi, I'm probably missing something here, I'm trying to validate both type of products subscription and consumable, but when I try to validate a consumable after I validate a subscription I get an error because the plugin tries to check the subscription state and fails (obviously). I am setting a different iap.config (after setting the "config" variable inside google.js to null) before iap.setup bu

[2017-01-26 13:12] voltrue2 commented on #76
Hello thank you for reaching out.

The module does not expect you to call these functions more than once. There maybe something unexpected because of that.

I'll have to look into it in more detail. In the meantime would you provide me with the error that you see?

Best regards

[2017-01-26 14:05] hankchinaski commented on #76
Thanks for the reply!
Yeah, but if there are api credentials the module automatically check for subscription and I was trying to get both working (with no luck :) ). Anyway, the validation per se works but validate throws an error when trying to check the subscription state for non subscription products
here's my output after I made a successful subscription and trying to purchase a consumable pro

[2017-01-27 16:14] hankchinaski commented on #76
I'm sorry, I have totally missed #74 and that solves my issue :)

[2017-01-27 16:21] #76 closed

[2017-01-31 08:13] tilutza opened #78 "Google product validation support"
Hi,

At the moment I see that only subscriptions are able to be validated. According to https://developers.google.com/android-publisher/api-ref/purchases/products/get the products use other url. However, I was able to validate successfully a payment with the library by only changing the url in the checkSubscriptionStatus method (replacing /purchases/subscriptions/ with /purchases/products/)

I thi

[2017-01-31 11:11] voltrue2 commented on #78
Hello

Thanks for reaching out. If it proves to be useful and others can also benefit from it, I would be happy to look at it.

Would you be able to give me an example to show me what you did?

Best regards

[2017-01-31 12:49] tilutza commented on #78
So, after the receipt is validated against the signature, you validate the purchasing too if it's still valid. This is done in the checkSubscriptionStatus where you construct the google url:

	var url = 'https://www.googleapis.com/androidpublisher/v2/applications/' + packageName +
			'/purchases/subscription/' + subscriptionID + '/tokens/' + purchaseToken;

I don't have subscriptions, but i want t

[2017-02-02 17:49] Arthien opened #79 "Production receipts unable to be validated (Android)"
We have been able to do tests purchases against our subscription product, but when we attempt to do a real purchase we are unable to validate it against this module. Our card is charged and we receive a receipt. We also have a local validation check as well that passes.

[code]

`MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhl6BuxTHtotFWhYhrxuX64CU1b9Ao2xA8pLtRa08Rj2+XYlbqe+VK0FYQM2CRYljptikBWRJgCV

[2017-02-06 13:26] meoz opened #80 "[IOS] iap.getPurchaseData does not return "is_trial_period" flag"
After validation of the receipt and if successful I call iap.getPurchaseData to get all purchases, only the returned data does not contain "is_trial_period" and several other fields like "original_purchase_date" which are part of the receipt.
Any reason why those data-fields are left out ? Do I have to manually read out the original receipt to get the missing fields afterall ?

[2017-02-06 13:51] voltrue2 commented on #80
Hello

Thanks for reaching out.
When I added iap.getPurchadeData(), I meant it to me a convenient API to shortcut the parsing of the actual response of each validation that's why it does not cover all fields, but I suppose we I should extend it to cover all fields. If you have suggestions on as to how I should go about it, I'm all ears!

Lastly I am exposing the raw response, so you shouldn't be s

[2017-02-06 14:06] meoz commented on #80
Thanks! for the swift reply.

Like you said it does not pose too much of a problem since I still have the raw receipt to read out the fields. But it would be nice if it all could be done through the module.

It first sight I've the following fields in my receipt, would be great if you could add them:

        "quantity"
        "product_id"
        "transaction_id"
        "original_transaction_id

[2017-02-06 23:38] voltrue2 commented on #80
Hello

Sounds fair. Since the module supports 4 different platforms, I may have to add or modify things to make sure it's all consistent, but I think I'll extend the method.

Cheers

[2017-02-07 06:50] murat-yuksel commented on #79
Same here, throws "failed to validate purchase"

[2017-02-07 07:17] voltrue2 commented on #79
Hello

Let me look into it. I have a hunch that there's something wrong with the receipts or something similar.

Cheers

[2017-02-07 14:55] Arthien commented on #79
@voltrue2 Any idea why we are able to validate using google's example before sending to our API?
https://github.com/googlesamples/android-play-billing/blob/master/TrivialDrive/app/src/main/java/com/example/android/trivialdrivesample/util/IabHelper.java

The api is only able to validate if there is no money involved. As soon as we take the user off the testing list, the API validation fails, but th

[2017-02-13 15:56] JohnScottMcNerney commented on #46
Was this ever patched? I am having the same issue.

Or, is there a recommended work-around since it's sandbox testing anyway??

[2017-02-13 21:34] voltrue2 commented on #46
Hello

My deepest apologies.
I haven't had the time to look into it just yet. I should be able to this week. I will definitely let you guys know.

Cheers

[2017-02-16 11:11] claesjacobsson commented on #80
+1

[2017-02-18 05:31] skotturi commented on #79
@Arthien are you able to catch expired android subscriptions ?

I've the setup the Play Store API and confirming the test account in the play store that the sub is expired, when i run .validate( .getPurchaseData( .isExpired() ) )
I continually see the purchase as not expired.

Just curious if your cancelled test subs are being caught correctly.

[2017-02-18 05:36] skotturi commented on #73
is voided the same as canceled? as in, if I purchase a monthly recurring subscription, cancel it 15 days in, my receipt should valid for the remaining 15 days of the month. However, on day 16, it should say "expired" or something to that effect.

or is voided a refunded subscription in which case immediate expiration is set?

[2017-02-20 08:20] voltrue2 commented on #78
Hello,

My apologies on falling behind on these issues. I am trying to catch up.

Cheers

[2017-02-20 08:50] voltrue2 commented on #80
Hello,

Thank you for your input. I have now released a new version of the package on npm. v1.2.0

This version parses all fields returned from each service and make them all available through `.getPurchaseData()`.

Cheers

[2017-02-20 08:50] #80 closed

[2017-03-02 14:10] skolesnyk commented on #73
@skotturi , not sure if type is important : where it's a subscription or a managed product purchase.

The user can void a purchase in the following ways:

The user requests a refund for their order.
The user cancels their order.
An order is charged back.

[2017-03-21 14:48] priiduneemre commented on #79
@sktturi: I seem to have the same problem. Did you ever find a solution for this?

[2017-03-22 10:15] priiduneemre commented on #79
Pro-tip to anyone else reading this: the `iap.getPurchaseData(response, {ignoreExpired: true});` shortcut doesn't work for Google Play (it only works for `iap.APPLE` and `iap.WINDOWS`). You can verify it yourself by inspecting the source code -- IMHO, this was not clear from the documentation.

To make sure that the expiration check is done for both `iap.GOOGLE` and `iap.APPLE`, you have to use th

[2017-03-22 10:25] voltrue2 commented on #79
@Priidu Neemre

Thank you for sharing this and my solidifies for the lack of clarity in the doc.

Perhaps I should make ignoreExpired also valid for iOS?

Sent from my iPhone

[2017-03-22 11:16] priiduneemre commented on #79
@voltrue2: Actually, the expiry check works for `iap.APPLE`, but not for `iap.GOOGLE` (I think you might have missed this in my comment). To answer your question -- I guess it would be nice if it worked uniformly for `iap.GOOGLE` as well.

But if that's difficult to do, then IMHO it would also be fine to just add something like "For other platforms, see the `isExpired(..)` method" after the part i

[2017-03-27 14:00] ddimka opened #82 "failed to validate purchase - android"
May be someone can help with this?

{
  "signature": "FH5GkfZe3kjbKSsgf3Cwy4lQPEDKFKMyAqc0dbYCndIAdZsF9tlnmesY5NbYqlFmrScDlCE9dzO4jntnmkfmrNA9CLa8CBt8L7aLN6lfyP7/lUE2bQVZ7Tr5RIydHfCtdMNeslc7NvqpASBiBBsWD7HCZuvORZI9ZHqVUp0NlVpaaQKAyoyRHIoeoqxQdn9NljNu3CkSUVfZNzG8LdOxbdrVX5cisEjbu5IiPKccsESfihDqxjk6ha6LoPET6AsY6qgym/Cq4yUiA5/0U5AfoVI4MFw5TEViItJxVy+5VxoubuXh3Auo5xEuwDcP6OQ3GJNavBfArKn7uStbgvLYSA==",

[2017-03-29 02:41] voltrue2 commented on #82
Hello,

Could you confirm that the following is actually correct?

[code]

[2017-03-29 04:41] ddimka commented on #82
Yes. This is correct key

[2017-03-30 14:58] pmalliak commented on #82
Any news on this? I have the same problem, is it a bug or something wrong with our keys?

[2017-03-30 15:22] voltrue2 commented on #82
Hello

I don't believe it's a bug but I need to look into this as it isn't been reported so often.

Sent from my iPhone

[2017-03-31 05:03] voltrue2 commented on #82
I have been running tests on this receipt against the key provided above, but it seems either the receipt or the key is or both incorrect.
How are you sending the receipt to the server to validate?
Do you have the original receipt sent from Google server?

[2017-03-31 06:48] pmalliak commented on #82
At first I tried to validate it through the demo page. I enter the data/signature object with google key and i get "failed to validate purchase" error. Is this supposed to work?

On my project I have this on config
`  iap.config({
    googlePublicKeyPath: "../iap-sandbox"
  });`
where iap-sandbox is the a file that contains the public key,

and as receipt the data/signature object.

[2017-03-31 06:58] voltrue2 commented on #82
Yes the demo page is functional and you should be able to validate the receipt if the receipt and the key are correct.
Either of them must have been corrupt somehow.
Would you be able to print the receipt from Google in your client app and post it here?

[2017-03-31 07:11] pmalliak commented on #82
{
"data":{
"packageName":"com.programize.hirola.muchokids_android",
"productId":"test_0",
"purchaseTime":1490882619612,
"purchaseState":0,
"purchaseToken":"nppjmgcceoeiomijghpcdbof.AO-J1OyTQl1Kmv4hjCR1RWlCynlqlHn5sIsezwesBBO84RwZpiY2Ig4gPCFoeHKw35v3nWQNHR6FhZIRr_Xw-nos5v0HgKyvfdPFz54B1zwi_FlFlF2PTiWp5_rGEYRBU-H4LJnzyC1B",
"autoRenewing":true
}, "signature":"GJvrduu0rIll1CCa2EwfBobNx58PUcH9n70IK6WN

[2017-03-31 07:32] voltrue2 commented on #82
the receipt seems to be an auto-renewable subscription.
Have you followed these steps to properly set up the subscription type items?

https://github.com/voltrue2/in-app-purchase#google-play-store-api-1

[2017-04-05 11:59] ddimka commented on #82
Hi. Just now tryed to buy an item.
got:

purchaseData
{"orderId":"GPA.3398-1913-5131-24467","packageName":"com.hippotec.worldifi","productId":"com.hippotec.maps","purchaseTime":1491390709830,"purchaseState":0,"developerPayload":"com.hippotec.maps","purchaseToken":"niddidlgnjomfnplmegdhail.AO-J1OxC3wZs3ofI_wViPmzJ_bdLP-gW0wt8S-O2LTzVkgfV0yAzK949oBoI5fglzSpUUtvdVuPU7m1gXLB8SuVsMlhGwJpMAdAXgYMjfeNG4F

[2017-04-05 12:04] ddimka commented on #82
May be this can help..
[1491393720623][VERBOSE] <Google> Validate this: { signature: 'Qwb2yE0nhYJhxatIrjKGXFkOwhSLKXkSHpMgsrDjXE6S9LFcFtxq1ECACmDYWLljsNFqhE6pdxOhc0NjmYyg5bJ3C8bGK1/QvlZmjH3nyYageUdPhq3tArBfZQPs+Mv9CkTIKYnqtFAC0sKros+mSCZbX+lNGO/QKTxWmyRiQtYeF2PpgA2iANW9Llt1uM7X/k5NgSo48qfF/RT5asCIDFMKkGIZ0DSXfMsCD9ZNC+N5crrhx3VaBzGUBgZgjWytHI1assA7e39DI8SdWPPFCIJ2HX3e2q7d5nrEjgKkFGGQF9CCgFMOBpT+ab

[2017-04-10 02:37] chrisabrams commented on #46
@voltrue2 just checking in on this. @JohnScottMcNerney did you get it working?

[2017-04-10 12:31] JohnScottMcNerney commented on #46
As a work-around, when I receive a 21002 error, I decode the receipt (BASE64 -> string) and look for the string "Sandbox". So, in the "sandbox" I ignore this particular error.

// nodejs javascript code
var s = Buffer.from(purchase_h.receipt, 'base64').toString();
if (s.indexOf('Sandbox')!==-1) ....

[2017-04-10 22:59] AndrewLang opened #83 "Is there a demo of how to use it in electron?"
Is there a demo or instruction of how to use it for electron and apple app store?

Thanks.

[2017-04-11 00:46] voltrue2 commented on #83
Hello

Thank you for reaching out.

Now to answer your question, the moment there isn't one.

Now may I ask if you use Electron for all of your apps?
If people are using it for apps a lot, I might consider creating an example for it.

Best regards

[2017-04-12 18:51] AndrewLang commented on #83
Thanks for your reply.

One more question, from apple's in-app purchase programming guide here [https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Introduction.html#//apple_ref/doc/uid/TP40008267], how can I retrieve my app's information from and send payment request to APP Store with this package?  I didn't find the API, if there is could you ple

[2017-04-13 14:30] bmv0 commented on #62
There is an unsafe JSON.parse in amazon2.js.
`SyntaxError: Unexpected token <
	at Object.parse (native)
	at Request._callback (/home/www/node_modules/in-app-purchase/lib/amazon2.js:159:18)
	at Request.self.callback (/home/www/node_modules/in-app-purchase/node_modules/request/request.js:186:22)
	at emitTwo (events.js:87:13)
	at Request.emit (events.js:172:7)
	at Request.<anonymous> (/home/www/node_

[2017-04-13 14:33] voltrue2 commented on #62
Hello

Thank you for reaching out and reporting this error. I'll look into this and have a fix ready as soon as I get the first chance.

Cheers

Sent from my iPhone

[2017-04-21 22:03] cwfuller opened #85 "[Amazon] Should renewalDate be used for expirationDate?"
Right now, Amazon purchase `expirationDate` values are set to [`purchase.endDate`](https://github.com/voltrue2/in-app-purchase/blob/f76b8727ba7b887ef5fbbe5e4e0cce5a9e7da191/lib/amazon.js#L145).

Based on the [Amazon's 2.0 docs](https://developer.amazon.com/public/apis/earn/in-app-purchasing/docs-v2/verifying-receipts-in-iap) it looks like `endDate` doesn't exist.

It seems that `expirationDate` co

[2017-04-24 15:31] #85 closed

[2017-04-24 15:36] cwfuller commented on #85
Noting that the comment was based on the Amazon 1.0 implementation rather than 2.0. The 2.0 implementation binds [`purchase.cancelDate`](https://github.com/voltrue2/in-app-purchase/blob/f76b8727ba7b887ef5fbbe5e4e0cce5a9e7da191/lib/amazon2.js#L145) to `expirationDate`.

It still seems that `renewalDate` may be more synonymous to `expirationDate` as far as for determining a date when the purchase ne

[2017-04-27 20:26] xinyishen opened #87 "failed to validate against google public key"
Hi,
I am trying to validate a receipt.
The message return is : <Google> Failed to validate against: public key.
And follow the error message: "errorMessage":"Error: failed to validate purchase
I am wonder what would be the reason? Is it something wrong with the key? Or is the data I sent in is in the wrong format?
Many Thanks!

[2017-04-27 23:35] voltrue2 commented on #87
Hello

There are two possibilities when you get the error.
As you suggested there maybe something wrong with your public key or the receipt data.
 Please make sure that your receipt is escaped properly.

Best regards

[2017-04-28 12:45] alexey-sh opened #88 "Where I can get a receipt?"
Hi
Thanks for the library.
Where I can get a receipt for apple IAP?

[2017-04-28 13:23] voltrue2 commented on #88
You need to use iOS API to get your receipts from Apple

[2017-04-28 14:47] xinyishen commented on #87
Hi,
Thank you so much for response!

Could you please take a look at the error data below and check if I did not escape the receipt properly? should I escape all the double quotes?

{"errorMessage":"Error: failed to validate purchase | MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt6VXV+w4XQ4gb2s04v/FOATpm3+wvb85DOKjW6NSJteuh50Oj0m+S+yeNq3htou0SCn6fluvvPfaEWAON5E2DK91zBlRSwrJie+hQAIIWtT22CEYX+OGTKni

[2017-04-28 14:48] alexey-sh commented on #88
hi @voltrue2 thanks for the response.
What if I'm using mac os app(electron) and want to add IAP?

[2017-04-28 19:35] specilnz opened #89 "IAP"
In-app

[2017-04-30 02:20] specilnz opened #90 "Nikzasxzasx3"

[2017-04-30 02:21] specilnz commented on #90
Good

[2017-05-01 02:16] voltrue2 commented on #88
Hello,

My apologies for the late response on this.
If your building an app for Mac OS and using Electron,
I do not think there are any APIs for in-app purchase as far as I am aware.
But this is like a few years ago though.

Best

[2017-05-01 05:08] voltrue2 commented on #89
Closing as it seems unrelated to the project

[2017-05-01 05:08] #89 closed

[2017-05-01 13:11] alexey-sh commented on #88
Thanks

[2017-05-01 13:11] #88 closed

[2017-05-03 21:29] #87 closed

[2017-05-08 15:46] datureezy commented on #47
@skolesnyk what have you ended up doing for this issue? just living with it? can't believe apple runs their business model in this manner.

do you deal with many refunds and abusive users? or are they not that really a big of a deal.

[2017-05-09 01:11] voltrue2 commented on #47
@datureezy
Hello, I have contacted Apple regarding this issue a while ago and have interviewed some large-size mobile game companies (which I cannot name).
The answer to this is we cannot do much about it other than periodically check the cancel_date on each receipt of users to see if any have been canceled after consumption of the purchased items.

Best Regards

[2017-05-09 16:49] datureezy commented on #47
@voltrue2 thank you very much for your response, Nobuyori. your dedication to this project is what makes open source so freakin' cool!

[2017-05-10 04:35] specilnz commented on #47
Full

[2017-05-10 18:22] a-koka opened #91 "expirationDate is 0 for a cancelled subscription"
I have a cancelled Apple subscription which is returning 0 for it's `expirationDate`. The response payload seems to have no information to help determine if a subscription is recurring or cancelled for Apple subscription. For Google purchases, the `autoRenewing` flag helps solve this problem.

Is there no information we can gather from Apple receipts to determine if a recurring subscription was ca

[2017-05-15 10:24] skolesnyk commented on #47
@voltrue2 not sure if this has been implemented, but I can't imagine hitting apple's servers daily with a list of hundreds of thousands transaction ids just to check which of those haven't been cancelled.

[2017-05-17 13:09] voltrue2 commented on #47
Hello

@skolesnyk There is no such feature implemented in the module at the moment.
I do not believe such a feature should be part of this module because handling of cancellations and such vary from app to app and the module should not dictate how it should be handled.
With that said, though, I think it is kind of a let down on Apple's part to leave this area open.
:(

[2017-05-17 13:38] skolesnyk commented on #47
@voltrue2 , I'm not asking you to implement this, rather I was thinking out loud whether it's feasible and worth it to setup background process to run voided purchases checks from my servers.

Also, since this issue can't be resolved, it could be closed.

[2017-05-17 13:41] radostnomne commented on #46
Did anybody find a solution of this issue?
i have the same issue

[2017-05-18 02:17] voltrue2 commented on #47
Hello
@skolesnyk right. I understand.
Yeah. I think it is best to close this issue for now.
Cheers!

[2017-05-18 02:17] #47 closed

[2017-06-06 15:33] rzer opened #92 "Detect service by receipt"
I think it will be very convinient to have a method such as validateAny(receipt, callback) or method detectService(receipt):[service const value] which you can use, for example like this:

iap.validate(iap.detectService(receipt), receipt, callback);

[2017-06-06 16:34] raufdean opened #93 "Apple transactionId"
Hi,
In commit f76b872 the transaction id from the Apple receipt is converted to a float. The Apple specs state that this field should be a string. Our db schema is also expecting a string for this field.. Any reason why this should be converted to a number ?

https://developer.apple.com/documentation/storekit/skpaymenttransaction/1411288-transactionidentifier

[2017-06-07 01:34] voltrue2 commented on #93
Hello,

Thank you for pointing this out.
Actually there's no reason for it. The parser currently looks at each value returned from Apple and it a value looks like a numeric value, it blindly converts it to a number.
I will correct this in my near future commit.

Cheers

[2017-06-07 01:34] voltrue2 commented on #92
Hello,

Thanks for reaching out.
That's an interesting suggestion. I will look into it.

Cheers

[2017-06-07 11:11] voltrue2 commented on #92
Hello

I implemented this feature and published.

Thanks again for suggesting it!

[2017-06-07 11:11] #92 closed

[2017-06-07 12:31] rzer commented on #92
Hi, wow it's cool) Big thanks for the great module!

[2017-06-15 12:17] kayz1 commented on #72
paymentState is not mapped from body (google.js line 263, 342)

`				data.purchaseState = body.purchaseState;
				data.autoRenewing = body.autoRenewing;
				data.expirationTime = body.expiryTimeMillis;`

[2017-06-15 12:26] kayz1 opened #94 "Google paymentState"
Can you map (forward) the paymentState from response body to data in the lib?

google.js (lines 263 and 342)
`data.purchaseState = body.purchaseState;
data.autoRenewing = body.autoRenewing;
data.expirationTime = body.expiryTimeMillis;
`

Add here

`data.data.paymentState = body.paymentState;`

[2017-06-16 03:18] voltrue2 commented on #94
Hello
Thank you for reaching out. I have implemented this in the following commit: bd95925b5116cac8ce5fb64b88038acccee98d7a

I will be publishing this version soon.

Cheers!

[2017-06-16 03:25] voltrue2 commented on #94
v1.4.1 published

Cheers

[2017-06-16 03:25] #94 closed

[2017-06-16 06:26] kayz1 commented on #94
That was fast. But assignment is missing in **recheck** function (when token is expired in getSubInfo).

[2017-06-16 06:50] kayz1 opened #95 "1.4.1"
1. testMode for google is only set and never used
2.  paymentState not set in **recheck** function (google)

[2017-06-20 06:18] kelchy opened #96 "google validate for refunds"
I notice this project does not connect to google whenever a verification happens. it validates based on encryption keys offline only. this will not work for example a customer applied for a refund a few hours after. any plans to address this?

[2017-06-21 13:27] lukyanov opened #97 "Validation on iap.gracenode.org stopped working"
The validation on http://iap.gracenode.org/ won't work anymore:
[code]

[2017-06-21 13:57] voltrue2 commented on #97
Hello

Thank you for reporting this. I'll be on it.

Cheers

Sent from my iPhone

[2017-06-21 14:17] voltrue2 commented on #97
The issue has now been resolved.
Thank you again for reporting the problem!

Cheers

[2017-06-21 14:17] #97 closed

[2017-06-26 10:38] igorescobar commented on #72
Thanks @kayz1

[2017-06-26 10:38] #72 closed

[2017-06-26 10:41] kayz1 commented on #72
In version 1.4.1 it is mappet, just not in the case when access token is expired.

[2017-06-27 01:31] voltrue2 commented on #96
I might look into it if there are enough requests for this feature.
I just haven't had any so far.
So I would like to start with your opinion on it.
How critical/useful do you think it would be?

[2017-06-27 09:16] voltrue2 commented on #93
The was a bug in my previous commit.
Here is the fix for it: 185403e084f44fd34f4e161009c282107f3903f8
Also I published the new version on npm with the fix: v1.4.2

[2017-06-27 09:17] voltrue2 commented on #95
Hello
Thank you for reaching out.
The issue should be resolved with this commit: 185403e084f44fd34f4e161009c282107f3903f8
Also I published the new version on npm with the fix: v1.4.2

Cheers

[2017-06-27 09:35] voltrue2 commented on #91
Hello,
My apologies for getting back to you so late.
To determine if a subscription has been cancelled or not, you will need to check the field called `cancellation_date` in the payload of receipt validation.
For Apple documentation on this, please read here: https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html

[2017-06-28 08:06] raufdean commented on #93
Thanks! I'll try out the new version and let you know if I find any issues..

[2017-06-28 08:49] lixuexiao commented on #46
i have same issue

[2017-07-04 19:52] a-koka commented on #91
Hi @voltrue2! No problem on the delay and thanks for the link. I don't see `cancellation_date` coming through in the response to `validate`. Would it appear only if a purchase was actually cancelled?

Although, this information is valuable, it doesn't address my problem. I should have explained better. I'm dealing with an active subscription which has been cancelled ie. the purchase is still valid

[2017-07-11 01:45] superandrew213 opened #101 "Failed to validate purchase on some receipt data"
I have implemented `in-app-purchase` in my application and it works quite good. However I keep getting some `failed to validate purchase` errors now and then. The error happens for both iOS & Android

### Android

Error causing receipt
[code]

My proper functioning receipts (which look more like the ones in the tests):
[code]
Differences I can see are the `orderId`, `purchaseToken` and no `autoRen

[2017-07-11 14:08] drinchev opened #103 "getPurchaseData returns duplicates for Apple receipts"
Hey there,

I just wanted to make sure that what I've found is a bug.

When I have :

[code]

I get a response with three purchases instead of 2.

The purchase with transaction id `210000259386802` is returned twice.

Considering the code https://github.com/voltrue2/in-app-purchase/blob/master/lib/apple.js#L226 It looks like it is supposed to be like that ( it will not duplicate only older purchas

[2017-07-11 23:33] voltrue2 commented on #103
Hello

Would you attach the returned list with duplicates?

Cheers

[2017-07-12 09:29] drinchev commented on #103
I just tried it with production data ( Removed some fields for privacy )

Receipt response after validated :

[code]

Test case

[code]

Output

[code]

As you can see I have 4 purchases ( they are the same in `in_app` and `latest_receipt_info` ), but have 6 overall in the response of `getPurchaseData`.

[2017-07-12 09:43] voltrue2 commented on #103
Hello

Thank you so much for this info. It looks like we do have a duplicate bug here.
I will look into this as soon as possible.

Cheers!

[2017-07-12 09:51] voltrue2 commented on #103
Hello
The problem is caused by `purchase_date_ms` of multiple items have the same value.
So the block of code to prevent duplicate is not catching the items with same `original_transaction_id`
and that is causing the duplication.

[2017-07-12 09:57] voltrue2 commented on #103
I have changed the duplicate check to evaludate as following in the develop branch: 133e1fb8cea1c78f834ba4639b17b51c3c411c08

This should at least allow us to deal with items with the same timestamp...

[2017-07-12 09:58] drinchev commented on #103
The thing is that I always receive the same purchases into `in_app` filed of the receipt and in the `latest_receipt_info`. I'm wondering if this is the general behaviour of Apple ( Our app is using renewing purchases ).

Thanks for your time!

[2017-07-12 10:03] voltrue2 commented on #103
According to Apple: https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html

`latest_receipt_info` is returned only with iOS 6 style receipts for auto-renewable subscriptions. I wonder if your client-side has updated the purchase transaction part of the code?

As far as I am aware, we should only be checking `in_app` filed as it is th

[2017-07-12 10:25] drinchev commented on #103
Yeah there's a whole fire on apple forums about this [1], [2], [3].

tl;dr : It's some sort of misleading docs.

1 : https://forums.developer.apple.com/thread/69531
2 : https://forums.developer.apple.com/message/142334#142334
3 : https://forums.developer.apple.com/thread/69531#205328

To my knowledge and experience sometimes the `in_app` and `latest_receipt_info` contains the same transactions, so

[2017-07-13 04:10] Kuoyhout opened #104 "Failed to validate purchase both in demo website and in code i wrote"
I try to validate a subscription receipt from Google Play which worked before but it's suddenly failed both in demo website and my code since yesterday. My app is in Alpha release state.

[code]

And this is the log:

[code]

[2017-07-13 18:56] comtaler opened #105 "Auto service detection failed with promise"
Thanks for the new support for promise. It makes my code a lot cleaner.
But while using the promise version of validate, it gives the following error:
`Error: invalid service given: [object Object]`

[2017-07-14 01:28] voltrue2 commented on #105
Hello

Thank you for reaching out.
Could you give me the context a bit?
If you could give me the code that fails with the said error, it would be awesome.

Cheers

[2017-07-14 02:45] voltrue2 commented on #105
Hello

I have fixed the issue with this commit: 4e272964f7ab259f7b35461cde7ed8cce5daf97e

Also I have published npm package version 1.5.1 with the fix.

Cheers

[2017-07-14 02:45] #105 closed

[2017-07-14 02:48] #95 closed

[2017-07-14 02:50] #83 closed

[2017-07-14 02:51] voltrue2 commented on #62
The issue has been addressed.
Thank you

[2017-07-14 02:51] #62 closed

[2017-07-18 23:47] ubershmekel opened #107 "Apple `failed to validate purchase` when the service is down"
https://github.com/voltrue2/in-app-purchase/blob/develop/lib/apple.js#L294

The data was a buffer which after calling `data.toString()` you'd  get `<html><body><b>Http/1.1 Service Unavailable</b></body> </html>` perhaps this can be detected and a more appropriate "apple services seem temporarily down" error message would be useful?

[2017-07-19 00:33] voltrue2 commented on #107
Hello
Thanks for reaching out. Yeah giving more meaningful information on error such as this would be a good idea.

[2017-07-19 08:07] bernhardwaidacher commented on #104
Any news on this? Having the same problem....

[2017-07-19 08:55] voltrue2 commented on #104
Hello,
I am still looking into this issue.
@Kuoyhout you mentioned that it was working before.
Could you give me more details on the state when it was working?

[2017-07-19 09:18] voltrue2 commented on #104
The error (failed to validate) suggests that the receipt does does not match the public key provided.
You may get this error if you have:
- wrong receipt for the public key
- changed receipt

[2017-07-20 12:58] engineers-bojan opened #109 "Google rechecks validation even its success"
After turning the verbose logs i've noticed that my subscriptions get re-checked even though they were validated successfully?

So the logs go respectively:
[VERBOSE] <Google> Get subscription info from ....
[VERBOSE] <Google> Successfully retrieved subscription info from  ..... and the subscription json data is printed
[VERBOSE] <Google> Validated successfully
[VERBOSE] <Google> Re-check subscrip

[2017-07-21 02:39] voltrue2 commented on #109
Hello

Thank you for reporting this issue and the suggestion.
I will look into this asap.
Cheers!

[2017-07-21 22:27] gpinkham commented on #91
@a-koka I have been curious about that as well..   I have been assuming cancellation_date wouldn't show up until it was fully cancelled.. (ie: end of period)..      But now I'm beginning to wonder if the user cancelled today would the cancellation_date be today and expiration_date would be the end of the period..   kinda wish Apple had a real sandbox that actually allowed you to cancel and see thi

[2017-07-22 15:13] a-koka commented on #91
This just came in my mailbox a few days ago. Looks like Apple is addressing similar concerns by introducing new fields. We just need to provide these fields via the lib.

[https://itunespartner.apple.com/en/apps/news/45333106?sc_cid=NSL-AP-ENREC](https://itunespartner.apple.com/en/apps/news/45333106?sc_cid=NSL-AP-ENREC)

[2017-07-24 15:23] axhar commented on #69
Hey Guys! is there any update on this? @Mazyod did spend time on it to make like you proposed.

I came across this library in a need to implement something that matches you use case of using a single server for multiple games and on multiple platforms. It will be great help if you can share some insights from your experience.

[2017-07-24 16:53] Mazyod commented on #69
I have two PRs open, but I am not sure if @voltrue2 is interested in pursuing this idea since it introduces relatively large structural changes. I just went with the hack I mentioned above for my service, and this library works great.

[2017-07-24 20:29] gpinkham opened #110 "new Apple Receipt fields"
Apple released several new Receipt fields including: Subscription Expiration Intent and Subscription Auto Renew Status.   The Intent field tells the developer what is going on with the expiration (cancelled, billing error etc..)       These seem useful and it would be great of In-App-Purchase returned them for Apple Receipts..    I'll send along a PR

[2017-07-25 00:04] voltrue2 commented on #110
Thanks your reaching out. Looking forward to it.

[2017-07-26 22:29] gpinkham opened #112 "Google's purchaseState coming from wrong object"
I could be wrong but looking at the details of the getSubscription API it does not return a purchaseState field.   It is coming in with the validated Receipt..     I will submit a pull request to move the setting of this in the purchaseData method..

[2017-07-26 23:08] jshanman commented on #101
For google play orders, I see the same problem.  Orders with orderId "n.n" format are failing validation but orders with the other format work as expected.  The failing orders represent about 40% of our orders so I need to get this figured out soon. Anyone else see this?

[2017-07-27 01:13] voltrue2 commented on #101
Hello,

@superandrew213 For iOS, the decoded receipt is actually an object.
As for `purchase-info` the data type of the property should be a string.
Would you be able to give me the whole decoded receipt data? (you can blot out private infomation, of cource).

@jshanman It is really curious that receipts with orderId "n.n" format fail to validate. I will need to look into this. Thank you for repor

[2017-07-27 01:20] voltrue2 commented on #101
@jshanman So orderId format "n.n" is the latest format of order ID after 5th Dec 2012 according to Google.
Link here: https://developer.android.com/google/play/billing/billing_admin.html#orderId

[2017-07-27 03:29] superandrew213 commented on #101
@voltrue2 that is the whole decoded receipt data (signature replaced with xxxx). Do you need signature too?

Just to confirm, this is the new order number format according to Google:
[code]

And this was the one before 5th Dec 2012:
[code]

I'm getting this:
[code]

This `5565155651556511` is the same length as this `123123132123123`.

[2017-07-27 03:38] superandrew213 commented on #101
Some other discussions about the iOS part:
https://stackoverflow.com/questions/30745267/apple-in-app-purchase-receipt-in-wrong-format
https://forums.developer.apple.com/thread/4082

[2017-07-27 17:05] jshanman commented on #101
@voltrue2 I'm seeing the same thing @superandrew213 mentioned.  my comment with "n.n" was misleading.

We have an android client sending the receipts directly to our backend and I am recording them, then validating them. About 40% are coming through in example #1 and are NOT validating. The remaining 60% are coming in as example #2 and ARE validating properly.  I've changed all the purchase tokens

[2017-07-27 19:17] jshanman commented on #101
It is failing in google.js at
[code]
and gets to
[code]

I should note that I've found a few other people posting about the same problem recently, but no answers yet.

https://stackoverflow.com/questions/45132122/in-app-billing-purchases-not-on-google-play-weird-receipts
https://stackoverflow.com/questions/45003996/android-billing-order-id

[2017-07-28 20:54] jshanman commented on #61
Any update on returning apple cancellation_date field? I see it referenced in the apple.js file but it does not appear to be used at all.

[2017-07-30 20:38] zapphyre opened #113 "Google subscription purchase validation failing"
I had this working before, but now client has reported that it's not the case anymore.
I have created new clent id, secret and tokens. Still I have error for validation.
Can you tell what is going wrong?

verbose: true
`[1501004124098][VERBOSE] <Google> Validate this: { data:
   { packageName: 'eu.guerrillatips.mobile',
     productId: 'eu.guerrillatips.app.12months.auto',
     purchaseTime: 15010

[2017-07-31 00:39] voltrue2 commented on #113
Hello
Thank you for reporting this issue. Would you be able to tell me the version of the the module that you are using that is failing?
Also were you using a different version of the module when it was working?

Cheers

[2017-07-31 01:10] voltrue2 commented on #113
Also I have a feeling that it might be related to the fact that it's a subscription receipt.
Do you mind sharing me with your client ID, client secret, and refresh token?
I may need to add an extra logic to validate subscription receipts.

Cheers!

[2017-07-31 08:05] zapphyre commented on #113
I have been using 1.1.8, now I upgraded to 1.5.1 but it still fails.
I will give you what you need. I just need get this production ready back:
`
googleRefToken: "1/6nmrHv2QTQcQYQMxIVm8E1I8m60cPr18APKsLa_yOfE",
    googleClientID: "1018617056565-5b34bbk6muer5i2qrobkpnnoj5vct4ev.apps.googleusercontent.com",
    googleClientSecret: "F41itQrw08RaYO4-ILdpylD7",
`
thanks for your effort!

[2017-07-31 08:27] voltrue2 commented on #113
Thanks. I will run some more tests with this.
I will keep you posted.

Cheers!

[2017-07-31 09:23] voltrue2 commented on #113
Hello,
I was able to successfully validate this with the following:

[code]

I will update the module with this change. I think many of the Google validation issues are related to this.
With the change I will be implementing, the module will automatically change  the validation method based on subscription/non-subscription.

By the way, this purchase has  been cancel it seems?

Cheers!

[2017-07-31 14:24] zapphyre commented on #113
it was canceller, you're right.
I'll give you this, active one, for debugging purposes:
`
[1501510946740][VERBOSE] <Google> Validate this: { data:
   { packageName: 'eu.guerrillatips.mobile',
     productId: 'eu.guerrillatips.app.01month.auto',
     purchaseTime: 1501510939681,
     purchaseState: 0,
     purchaseToken: 'lanoihfphegagmnhcmpblhfm.AO-J1OxZ3gb6bc6HBAvMa7oD1jOnO8Aaw3LIi12JcGyOaYgmmfM0

[2017-07-31 14:47] k00k commented on #79
+1 to what @priiduneemre is saying. Would be great to be able to use `ignoreExpired` for Google and Amazon also.

[2017-07-31 22:59] voltrue2 commented on #113
Hello
Thanks for the info and help.
I have implemented the update: 244fea6cc9711a506cc11a65b9acfd5fa8e2d222
I am now running my CI tests and getting ready to publish the new version of the module with this.

Cheers!

[2017-07-31 22:59] voltrue2 commented on #104
Hello,

This issue maybe related to this here.
Would you have a look at it?
https://github.com/voltrue2/in-app-purchase/issues/113

[2017-07-31 23:01] voltrue2 commented on #101
Hello

This issue maybe related to this. I have implemented the solution.
Please have a look here: https://github.com/voltrue2/in-app-purchase/issues/113

[2017-07-31 23:02] voltrue2 commented on #96
Hello,

With this update, you will have cancelation date in your validation response to check against: 244fea6cc9711a506cc11a65b9acfd5fa8e2d222

[2017-07-31 23:03] voltrue2 commented on #96
The module with this update is version `1.6.0`.

[2017-07-31 23:03] voltrue2 commented on #113
I have published the latest version of the module with this update.
The version is `1.6.0.`

[2017-07-31 23:05] voltrue2 commented on #79
Hello,

I am adding a link to a related topic here. I have updated the module to support Google Play subscription validation and `.isExpired()` now supports Android with this also.

I will continue to looking to supporting Amazon and Windows.

Cheers!

[2017-07-31 23:07] voltrue2 commented on #69
Hello,

I apologize for the long silence.
I will be looking at the PRs and follow up soon.

Cheers!

[2017-08-01 05:04] voltrue2 commented on #82
This issue seems to be also related to https://github.com/voltrue2/in-app-purchase/issues/113
Please have a look. #113 has been solved with `1.6.0` and later version of the module.

[2017-08-01 07:27] kelchy commented on #96
thanks

Kelvin Chua

On Tue, Aug 1, 2017 at 7:03 AM, Nobuyori Takahashi <notifications@github.com

[2017-08-01 09:57] zapphyre commented on #113
Thanks, now it's working fine!
the other thing is that now I'm missing 'price' in validation response object. Maybe google has changes something, but my queries failed on this. It's not a big deal I mention this just to avoid regressions.

Thanks for your help!

[2017-08-01 11:15] voltrue2 commented on #113
Awesome! Thanks for your help during the debugging.

[2017-08-01 11:15] #113 closed

[2017-08-01 11:16] voltrue2 commented on #96
Cheers!

[2017-08-01 11:16] #96 closed

[2017-08-01 11:18] voltrue2 commented on #73
Hello

My apologies for the long wait.
I have updated the validation for Google subscription.
With version 1.6.1, you will get cancellation date in milliseconds.

Cheers

[2017-08-01 11:18] #73 closed

[2017-08-01 11:20] voltrue2 commented on #112
Hello

The purchaseState in the validated receipt should be the correct property you want to look at.
Since it is validated by either public key or Google server it is the correct state that you can trust.

[2017-08-01 11:21] voltrue2 commented on #93
Assuming it's been fixed, I'm closing this. :)

[2017-08-01 11:21] #93 closed

[2017-08-01 11:22] voltrue2 commented on #103
Closing unless we run into more issue with this. :)

[2017-08-01 11:22] #103 closed

[2017-08-01 11:23] voltrue2 commented on #91
Thank you for the info.
I'll be updating the module with new fields soon :)

[2017-08-01 11:32] voltrue2 commented on #66
Closing as there's no response for a while.

[2017-08-01 11:32] #66 closed

[2017-08-01 11:33] voltrue2 commented on #61
Hello

My apologies for the long wait.
I'll be looking into this shortly.

Cheers

[2017-08-02 02:59] superandrew213 commented on #101
@voltrue2 it's still not working for me. Android is still failing validation. Thank you for the update though. It might have fixed some other fails.

@jshanman have you tested the new version?

I also found a receipt with `"orderId":"GPA.xxxx-xxxx-xxxx-xxxx"` failing validation. But most are still `"orderId":"123123132123123.12312312312312312312313"`

Another weird thing is that I am only validati

[2017-08-02 03:17] voltrue2 commented on #101
@superandrew213 Thanks for the feedback.
I assumed `autoRenewing` to be always present for all subscription receipts.
The latest version checks for that field to identify whether it is a subscription or not, so if your receipt does not contain `autoRenewing`, the module thinks it is a regular consumable.
I believe that is the reason for failing to validate.
Let me look into this `autoRenewing` fie

[2017-08-02 07:41] voltrue2 commented on #101
@superandrew213
I made some changes to `develop` branch.
The commit is this: aa68b3227cb9605cb7705c697b38d9833953931c
Since I cannot test against your receipt, you would mind testing the new code against your receipt that is failing with `verbose: true`?
Thank you for your help!

Cheers

[2017-08-03 13:46] Arekusei opened #114 "getPurchaseData returns expirationDate = 0 for old style receipts"
problem https://github.com/voltrue2/in-app-purchase/blob/develop/lib/apple.js#L254
I think it have to be like this:
[code]

result from validate:
[code]
purchase data
[code]
`x` symbol - for anonymous

[2017-08-03 14:14] Arekusei commented on #114
The same situation with `bundleId`. As I see in this validation result `bundleId` is `bid`.

[2017-08-04 03:04] superandrew213 commented on #101
@voltrue2 please see screenshots with logs. There are two log outputs for both different orderIds: `xxxxx.xxxxxx` & `GPA.xxxx-xxxx-xxxx-xxxx`. Also orderIds `GPA.xxxx-xxxx-xxxx-xxxx` that fail validation can't be found in the Order Management dashboard.

Thank you for looking into this!
`xxxxx.xxxxxx`
<img width="902" alt="screen shot 2017-08-04 at 12 34 05 pm" src="https://user-images.githubuserc

[2017-08-04 03:24] voltrue2 commented on #114
Hello

Thank you for reaching out. I will be looking into this.

Cheers

[2017-08-07 09:13] skolesnyk commented on #110
+1 to it.

[2017-08-07 09:51] skolesnyk commented on #73
Is purchaseToken from Google used in this case?

[2017-08-07 09:59] voltrue2 commented on #73
@skolesnyk Yes it is used to get Response from Google.

[2017-08-07 12:44] skolesnyk commented on #73
@voltrue2 , can it be used to get subscription status? Or the receipt still has to be formatted as in instructions?

[2017-08-07 13:12] voltrue2 commented on #73
@skolesnyk, you can get expiration date and cancellation date as well as the purchase state.

[2017-08-07 13:14] skolesnyk commented on #73
@voltrue2 what I mean is whether this will work ?

[code]

[2017-08-07 13:25] voltrue2 commented on #73
@skolesnyk, I see. No it does not support that.
I do realize though that it is possible. I will consider it in the near future.
In the meantime, if you have suggestions and such I am really greatful.

Cheers!

[2017-08-07 13:28] skolesnyk commented on #73
That's the point. With iTunes you setup a back-end POST request handler that is updated by Apple whenever there's a change in subscription.

With Google you have to validate the subscription everytime user uses your subscription feature. But that means that we have to save complete receipt data in the database. The complete receipt is a bit longer than purchaseToken.

[2017-08-08 00:04] voltrue2 commented on #73
That's a good point. I will think consider how it should be implemented without making it look ad boc.

Cheers!

Sent from my iPhone

[2017-08-08 04:36] ntlzz93 opened #115 ""Failed to validate for empty purchased list""
[code]

[2017-08-08 10:34] voltrue2 commented on #115
Hello

It means that the user bought nothing, which is something that should not happen.
There's a chance that the user sending the receipt is trying to hack your app with malicious intentions.

[2017-08-10 07:33] voltrue2 commented on #115
No response on this. Closing

[2017-08-10 07:33] #115 closed

[2017-08-10 07:51] voltrue2 commented on #91
Hello

@a-koka Sorry it took me a while to get to this.
Please have a look at this commit: ca8ae978e31efc9dff1659e1b467f90337b1c240

With this, if a purchase has been cancelled, it treats it as expired.

Cheers!

[2017-08-10 07:51] voltrue2 commented on #110
Related to: https://github.com/voltrue2/in-app-purchase/issues/91

[2017-08-10 07:51] voltrue2 commented on #91
Related to: https://github.com/voltrue2/in-app-purchase/issues/110

[2017-08-10 12:53] gpinkham commented on #112
maybe the new commits the other day changes the way this works but the purchaseState in the google.js file is getting the purchaseState from the subscription API call not from the validated receipt..   there is no such field in the subscription API..    so when I call validate on a google receipt the purchaseState is always null when the receipt actually has a value.   I will try this out with the

[2017-08-10 20:19] jshanman commented on #101
I believe the "123.456" format order id's and the short tokens are from fraudulent purchase attempts.  See https://stackoverflow.com/questions/31402531/google-iap-returns-short-purchase-token-for-verification

We are trying to find a way to validate this assumption with a google contact or through testing. I'll update this page if we know more. If this is the case, then this library is working as

[2017-08-10 22:19] superandrew213 commented on #101
I agree. In app purchase hacking apps that haven't been updated by their authors must still be using older order ids to fake receipts.

Hacking apps that have been updated are using the new order ids. These ids don't exist when I try to look them up. They are also being correctly caught by 'in-app-purchase'.

[2017-08-11 09:53] ntlzz93 commented on #115
Wait.. Sorry I'm late. Have very many users (on my system) with the same issue. I trust that is normal user, no hacking,no malicious. Seem has a exception on my server but i can't know. With in_app not empty array also the same issue "Failed to validate for empty purchased list"

[2017-08-11 10:00] ntlzz93 commented on #115
I created a question on stackoverflow

https://stackoverflow.com/questions/45056050/what-do-failed-to-validate-for-empty-purchased-list-mean-in-in-app-purchase

[2017-08-11 13:07] skolesnyk commented on #46
Hmm, have similar issue. Apple docs say the latest_receipt is ALREADY base64-encoded string. That's what we're saving into TEXT mysql field. When we try to verify this subscription, the same error comes. Should we save the latest_receipt_info instead (which has all extra fields) ? Pls explain.

[2017-08-14 00:48] voltrue2 commented on #101
@jshanman @superandrew213
Thank you for the information. I will also look into this issue.

Cheers

[2017-08-17 00:44] voltrue2 commented on #114
@Arekusei
I finally got the time to get to this. I have added the support for `bid` in addition to the older(?) format `bundle_id`.

`bid` will be parsed as `bundleId`.

Commit: 9d2b069730ecd403ae35c44efcc4f6a9952fa786

This commit will be included in `v1.6.4`.

Cheers

[2017-08-17 06:55] voltrue2 commented on #114
Related to #91 #110

[2017-08-17 06:56] Arekusei commented on #114
Good.
Also, as I see, this commit ca8ae978e31efc9dff1659e1b467f90337b1c240 fixed the first problem (`expirationDate`).

[2017-08-17 06:58] #114 closed

[2017-08-17 07:39] voltrue2 commented on #114
Awesome!

Thanks for taking the time to check it.

Cheers

[2017-08-17 07:39] voltrue2 commented on #110
#114 Should have fixed this issue.

[2017-08-17 07:40] voltrue2 commented on #91
#114 should have fixed this issue.

[2017-08-17 07:40] #91 closed

[2017-08-17 07:40] #110 closed

[2017-08-17 07:41] voltrue2 commented on #104
Closing the issue as I have not received any response.
Please reopen this issue if you run into a problem.

Cheers

[2017-08-17 07:41] #104 closed

[2017-08-19 09:56] ntlzz93 opened #116 "Duplicate bill when get purchased data from receipt_data base 64 when config google play subscription."
I'm working on purchase subsciption with getPurchaseData funtion. But it gives me duplicate bill such as
[code]

Is that bug?

[2017-08-24 00:55] voltrue2 commented on #116
Hello,

Would you post the response from Apple? that is the object you feed to `.getPurchaseData()`.

Cheers

[2017-08-25 12:47] lukyanov opened #117 "Handling errors when validating"
My console is often full of the following messages:

[code]

I understand the reason for this error, but I think the level this error appears in is not quite appropriate. The thing is it's a user level error. It's the user (client app) who sent wrong or malformed receipt. The `in-app-purchase` lib expects receipts to be invalid, it's not an exception. The very purpose of this library is to validat

[2017-08-25 23:31] voltrue2 commented on #117
Hello

Thanks for reaching out.

While I do understand that the error is caused by the end user, I still think that the way the error is handled is appropriate.
For example, the invalid receipt sent from the end user also causes the same level of error.
I think it is up to the application that uses this module to decide "which error should be considered what".
The module passes the status in the r

[2017-08-30 07:23] voltrue2 commented on #69
Hello,

Finally I am working on adding the support for Unity receipts.

Does anyone have a valid unity receipt available for me to test?

Cheers.

[2017-08-30 09:16] Mazyod commented on #69
Here are the tests you need to add:

[code]

Where `Store` I map it as follows:

[code]

And as I mentioned, the `Payload` is the receipt I send to this library, except if it's google, I process it first by replacing `{"json"` at the beginning, to `{"data"`, where Unity returns `json`, and this library expects `data`.

[2017-08-30 10:17] voltrue2 commented on #69
Thanks. I just realized that I can create Unity format receipt myself lol.
My implementation already takes care of preprocessing of Payload for Google.
I will create tests and hopefully I could push this update finally.

Thank you again for the suggestion and pointers!

Sorry to keep you waiting on this for so son.

Cheers!

[2017-08-31 01:45] voltrue2 commented on #69
Hello
I have added tests and fixed bugs.
Here is the commit: 9b1a35e7d3b39f2363680f7e32af34db4c4d035c
I will be publishing this version as `1.7.0` on npm.

Thanks again for the help.

Cheers

[2017-08-31 04:31] Mazyod commented on #69
I don't get this:
`if (receipt.Store === constants.UNITY.GOOGLE || constants.UNITY.APPLE)`

I think you must check against apple receipt, instead of just checking if the apple constant is not null or undefined:
`receipt.Store === constants.UNITY.APPLE`

[2017-08-31 05:22] voltrue2 commented on #69
@Mazyod
If you check against `constants.UNITY.APPLE` only, it will not work for Google Play.

[2017-08-31 05:24] Mazyod commented on #69
I mean:
[code]

[2017-08-31 05:44] voltrue2 commented on #69
fix: a1317bd388d8836e18b3ed6353af24b5e6f4b796

[2017-08-31 10:26] ntlzz93 commented on #101
the same issue with me

[2017-08-31 10:34] voltrue2 commented on #101
@ntlzz93 Please read the earlier comments on this thread.
these receipts seem to be hacking attempts.

Cheers

[2017-08-31 10:35] voltrue2 commented on #69
@Mazyod Thanks for the help.

I have now published the newer version with the fix on npm.

Cheers!

[2017-08-31 11:05] #32 closed

[2017-08-31 11:05] #46 closed

[2017-08-31 11:06] #52 closed

[2017-08-31 11:06] #56 closed

[2017-08-31 20:43] kayz1 opened #118 "Google Play Developer API new fields for In-app Billing information"
https://developers.googleblog.com/2017/08/google-play-developer-api-new-fields.html

[2017-09-01 03:16] voltrue2 commented on #57
Closing as it does not seem to indicate bugs in the code.

[2017-09-01 03:16] #57 closed

[2017-09-01 03:18] voltrue2 commented on #61
cancellation_date field is now being read by the module.

Closing

[2017-09-01 03:18] #61 closed

[2017-09-01 03:20] voltrue2 commented on #78
This is now possible by googleRefToken, googleClientID, and googleClientSecret in .config(...).

Closing

[2017-09-01 03:20] #78 closed

[2017-09-01 03:21] voltrue2 commented on #82
Closing as there has not been a response for a while.
Please reopen this issue if there still is an issue.

[2017-09-01 03:21] #82 closed

[2017-09-01 03:23] #112 closed

[2017-09-01 03:23] voltrue2 commented on #118
Thank you for the info.

Cheers!

[2017-09-04 06:29] ksami opened #119 ".isValidated() returns true even if there's an error"
The `.isValidated()` method only checks if the response from `.validate()` has `status === 0` and returns `true` based on that.
However if for example, deleting a character from the purchase token, `status` is still `0` so the `isValidated()` method still returns `true`.

Example response:
[code]

[2017-09-04 06:50] voltrue2 commented on #119
Hello

`.isValidated()` is a support function that is meant to be a support function for `.validate()` and `.validateOnce()`.
This function does not validate on its own.

Let me know if this answer clarifies your question or not.

Cheers

[2017-09-04 07:20] ksami commented on #119
Hi @voltrue2 ,

Yup I understand that. But the steps I took are:

1. Delete one character from purchaseToken of a valid receipt
2. Call `.validate()` with the edited receipt to get the response
3. Call `.isValidated()` with the response from `.validate()`
4. `.isValidated()` returns `true` instead of `false`

[2017-09-04 07:44] voltrue2 commented on #119
@ksami
I see. Thank you for reporting this. I will have a look at this issue.

Cheers!

[2017-09-04 07:54] voltrue2 commented on #119
@ksami
I have implemented the fixed for this issue.

The problem as I understand it comes from the actual validation that it does not check the HTTP response status code for GooglePlay API.
I believe you are using `googleRefToken`, `googleClientID`, and `googleClientSecret` instead of public key, correct?

Here is the the fixed code: d94b674c8feb0c698e5e1151a52dc3d41cd57e5c

Please let me know if

[2017-09-05 03:31] ksami commented on #119
@voltrue2
Wow thanks for fixing it so quickly! Yes I was using `googleRefToken`, `googleClientID` and `googleClientSecret`.

d94b674 does fix this problem. Thanks again for the work you put into this!

[2017-09-05 03:31] #119 closed

[2017-09-06 05:03] voltrue2 commented on #101
Closing

[2017-09-06 05:03] #101 closed

[2017-09-06 05:03] voltrue2 commented on #116
No response for a while. Closing

[2017-09-06 05:03] #116 closed

[2017-09-06 21:11] a-koka opened #120 "isExpired logic is incorrect"
isExpired is incorrectly returning true for subscriptions. Here's a sample of how to handle this for Apple. I'll be researching and updating this with details on how to handle Google subscriptions in a couple days.

[code]

Happy to provide a PR if you'd like.

PS. Thanks for this awesome lib! 👍

[2017-09-06 21:59] voltrue2 commented on #120
Hello

Thank you for reaching out. A PR would be a very welcome idea also. I really appreciate it!

Cheers

[2017-09-07 04:35] a-koka opened #122 "Update documentation for ignoreExpired"
Since the published version now supports `ignoreExpired` on `getPurchaseData`, lets update the documentation. It is confusing the way it reads right now as one section suggests that this flag works on Android vs another suggests that it doesn't.

[2017-09-14 11:07] vovkasu opened #124 "[google.getPurchaseData] incorrect expirationDate after canceling subscription"
https://developer.android.com/google/play/billing/billing_subscriptions.html#cancellation

iap.validate return response like:

[code]

[code]

[lib/google.js: ](https://github.com/voltrue2/in-app-purchase/blob/develop/lib/google.js#L472)
[code]

[2017-09-14 11:14] vovkasu commented on #124
https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html

[2017-09-15 05:51] ankit-iiita2006 opened #125 "Not able to get 2 instances of in-app-purchase library with 2 different config."
We want to create 2 instances of a in app purchase library with different google, apple configs
Problem is that library has exposed functions at top level and it requires another files(ex:- google.js, apple.js e.t.c)
and call its functions and sets the relevant config at that level as a result we are only getting singleton.
And not able to initialize 2 separate handlers for 2 different tenant.

Ca

[2017-09-15 06:25] voltrue2 commented on #125
Hello

Thank you for reaching out.
Actually this is the whole point of this library that you get to use the same APIs to validate all types of receipts.
Would you please explain the reason for wanting to have 2 or more independent instances of this library in your application?

I am assuming that you mean to do something like this:

var googleValidator = iap.create(googleConf);
var appleValidator

[2017-09-15 07:12] voltrue2 commented on #124
Hello @vovkasu

Thank you for reaching out.
Let me look into this ASAP.

Cheers!

[2017-09-15 07:28] ankit-iiita2006 commented on #125
Thanks for the quick reply, I infact want to use default methods exposed by library and do not want to use `google.js` or `apple.js` separately
what I am trying to do here is pass 2 different configs of my 2 different apps(these are 2 different apps on both android and ios),
and start 2 different instance of the library and export that, when I initially start my node server,
my server will then pi

[2017-09-15 07:28] voltrue2 commented on #124
Here is the fix for this: ff6c26545e04b08fbd734c5f2c25d078308a2ef8

[2017-09-15 07:30] voltrue2 commented on #125
If that is what you want to do then, please use `.validateOnce(...)`. This method is meant for exactly what you are trying to do.

You may pass different configurations per validation with this method.

Cheers

[2017-09-15 07:56] vovkasu commented on #124
Hello @voltrue2
I think need delete
lib/google.js lines 502-507.

[2017-09-15 08:19] vovkasu commented on #124
Expiration date has nothing to do with the cancellation date. So, the expiration date should never be assigned to cancellation date. Thus, the lines 502-507 in the lib/google.js should be deleted and
the lines 270-272 in the lib/apple.js.
Customers may cancel a subscription in the middle of a subscription period, but the subscription remains paid through the end of the same period.

[2017-09-15 08:21] voltrue2 commented on #124
I see. Thank you. I will make the necessary changes.

Cheers

[2017-09-15 08:27] voltrue2 commented on #124
febedd4a055cb7bf8f07aac48e1b7adbfc3529b0

[2017-09-15 08:27] #125 closed

[2017-09-15 08:40] vovkasu commented on #124
Thanks for fixing it so quickly!

[2017-09-15 08:58] voltrue2 commented on #124
Thank you for helping out!

[2017-09-15 09:04] ankit-iiita2006 commented on #125
Thanks will try that.

Cheers!

[2017-09-15 14:22] #120 closed

[2017-09-19 00:22] nscherer opened #126 "Malformed receipt"
I'm getting this error trying to validate an Android purchase:

[code]
I anonymized the package, otherwise it's copied and pasted.  I pasted the JSON into jsonlint.com and it validated fine.  I've copied these values from an actual Android purchase and I'm hitting my web service using Postman; I assume that should work and wouldn't cause this problem.  What is happening here?

Here's some relevant

[2017-09-19 01:15] voltrue2 commented on #126
Hello

It seems you are missing signature in your receipt.

Cheers

[2017-09-19 14:47] #126 closed

[2017-09-19 23:34] #124 closed

[2017-09-19 23:34] voltrue2 commented on #122
Thanks for pointing it out. I'll be updating the doc shortly.

Cheers

[2017-09-20 09:47] ravishankar82 opened #127 "iap.isValidated(googleRes) returns true for invalid purchase."
Getting following google response in iap.validate
{"orderId":"8558592886143042565.4969504526705069","packageName":"test_product_name","productId":"test_product_id","purchaseTime":1505899993196,"purchaseState":0,"purchaseToken":"pdvwifahusfabujzwcyxiyij","status":0,"error":{"errors":[{"domain":"global","reason":"invalid","message":"Invalid Value"}],"code":400,"message":"Invalid Value"},"service":"g

[2017-09-20 11:51] voltrue2 commented on #127
Hello

Thank you for reaching out. I'll be looking into it.

Cheers

[2017-09-21 01:40] voltrue2 commented on #127
Here is the fix: 833eade8d16d3fe82c808f6d621e8c5333f166a5

[2017-09-21 11:02] jiletx opened #128 "Android expirationTime issue"
Hello,

When i cancel subscription and buy it again, the expirationTime in validation response doesn't change. There is no issue with start date.

[2017-09-22 00:56] voltrue2 commented on #128
Hello,

Would you paste the response object here?

Cheers

[2017-09-22 07:35] jiletx commented on #128
Hello again,

You can reproduce this by doing
-Purchase subscription
-Validate
-Cancel subscription
-Purchase subscription again
-Validate

**First Response:**
{ orderId: 'GPA.3369-2045-9223-68398..0',
  packageName: 'com.example.game',
  productId: 'se_vipsubscription',
  purchaseTime: 1506065137931,
  purchaseState: undefined,
  purchaseToken: 'pabeldfhmkjnhppdkmgapcfg.AO-J1OwbjNsLrYdn27rSzBNTRB

[2017-09-26 10:43] Skjalgsm commented on #69
Am I correct in my assessment that automatic detection of receipts does not work when passing in a unity receipt? I have to manually specify that it is a unity receipt?

[2017-09-27 02:18] voltrue2 commented on #69
No, the module should auto-detect a unity receipt also.
If that is not a case, it’s a bug. Would you mind sharing the details?

Cheers

[2017-09-27 08:44] Skjalgsm commented on #69
When I try to use validate or validateOnce with a unity receipt with a GooglePlay receipt inside it it tries to validate it with amazon.

The problem is line 168
`if (service === module.exports.UNITY) {`

This is the first thing that happens inside validateOnce when passing in a unity receipt and at this stage the service parameter is undefined so this check fails and thus it does not detect the c

[2017-10-05 10:05] sekiwired opened #129 "Google public key setup"
Hello,
First of all, thank you for the amazing work.
I have an issue with a Unity receipt for android.
I made a test with an apple receipt, everything works fine.
But with google I have an error which states : 'Missing receipt data' (but sadly it is not).

What puzzles me is that if I remove my google public key from the configuration (I hadn't called it correctly at first - by the way: it is weir

[2017-10-06 03:14] voltrue2 commented on #129
Hello,

What happens if you extract `Payload: { "json": <extract here> }` and use it as a regular Google receipt?
I would like to determine where the problem is such as "Is it Unity receipt that has the issue?" or "There's something wrong with the receipt/key that we don't know about?" if extracting the google receipt makes the validation work, then we can conclude that there's something wrong wit

[2017-10-06 07:58] sekiwired commented on #129
Hello,
I tried to extract the Payload, but I'am not sure to have done it correctly, here is what I did and got as result:
After extracted the Payload I have something which is not valid json  because it contains a signature:
[code]
So I tried to remove the last part (signature) and got as a result:
[code]
I attached you a receipt and a key so you can see and test as you want.
[tests.zip](https://g

[2017-10-08 09:13] F0RIS opened #130 "Adding more detail in case of fail validation"
If google didn't approved purchase and responsed with status 400+ I  can get in my app only error message "Status: 400" And thats all. I thin this is not enought comprehensive answer
Meanwhile method which generates answer for such responses have all nedded data for detailed error message.
I mean validateMethod (google.js:227) method

I added here commented line, which put in answer more info abou

[2017-10-08 09:19] F0RIS commented on #129
@sekiwired u mast pass in iap.validate method obj with next structure
![image](https://user-images.githubusercontent.com/10178982/31315509-bcb56d40-ac22-11e7-8e0a-ccb8dbb8b673.png)

[2017-10-09 11:40] sekiwired commented on #129
Hello,
@F0RIS this is a unity receipt so my receipt is not a Google one, and "as of version 1.6.0, the module now automatically detects subscription receipts and validates them accordingly".
Do you suggest I should detect myself the type to pass 'iap.GOOGLE' ?
I don't think your answers applies, but if I am wrong, I would be pleased to understand why.

Thanks for your help

[2017-10-09 12:39] paglias opened #131 "List of breaking changes?"
Hi,

we're using version 1.1.x of this module, I'd like to upgrade to the newest version but I've not been able to find if the lib follows semver, so no breaking changes until version 2 or if there have been some breaking changes between 1.1 and 1.8, in that case would it be possible to get a list of such changes?

[2017-10-09 13:03] F0RIS commented on #129
@sekiwired I'm just suggesting u form ur receipt in different sturcture. I got "Error: missing receipt data" error when passed empty signature. I found this reason just from line by line debuggin inside library. You can try do same thing)

[2017-10-10 02:11] voltrue2 commented on #130
Hello
Thank you for the suggestion. I think it does make sense to pass more detailed error message to the application.
I will look into implementing the changes!

Cheers

[2017-10-10 02:18] voltrue2 commented on #131
Hello,

Here are the list of major changes since 1.1 (Not necessarily breaking changes, though):

- `.validate()` can now automatically detect receipt type instead of requiring `iap.APPLE, iap.GOOGLE etc`. I am pasting the section of README here:

- Support for Promise added.

- Support for Roku added.

- Support for Google validation by Google APIs added

I believe there are no breaking changes,

[2017-10-10 07:47] sekiwired commented on #129
@F0RIS Thank you but the point is not to touch the receipt, it is generated by unity and works normally when the content is an apple one (because unity encapsulate either google or apple receipt).

[2017-10-10 07:56] voltrue2 commented on #129
@sekiwired
Hello, my apologies that it took time for me to test it.
The issue was that your Payload was a stringified JSON.
That is the cause of you getting receipt is missing error.
Here is the test I did to successfully validate your receipt:

[code]

[2017-10-10 08:16] sekiwired commented on #129
@voltrue2 Thank you !!
@FORIS thank you too

[2017-10-10 10:01] voltrue2 commented on #129
Awesome!

[2017-10-10 10:01] #129 closed

[2017-10-10 10:20] sekiwired commented on #129
To deal with both stores I just added:
[code]
And it works.
Thanks for your help

[2017-10-11 07:45] voltrue2 commented on #69
@Skjalgsm
Sorry for getting back to you late on this issue here.
I have tested `.validateOnce` with public key, but I cannot reproduce the issue you are talking about.
Would you mind sharing more details with code example?

Cheers

[2017-10-12 12:46] mobidev111 opened #133 "Upgrade dependency "request""
please upgrade the dependencies

"request": "2.81.0"
->
"request": "2.83.0"

request version 2.81.0 requires an old version of ajv causing peer dependency issues

[code]

[2017-10-13 02:18] voltrue2 commented on #133
Hello

Thank you for pointing it out. It's done! `v1.8.4` please.

Cheers

[2017-10-13 02:18] voltrue2 commented on #131
As of `v1.8.4`, the module no longer supports node.js version 0.12.

[2017-10-13 09:24] paglias commented on #131
@voltrue2 thanks! I've been able to upgrade without problems :)

[2017-10-15 09:47] holgersindbaek commented on #18
Did you guys try it out? Is it possible to do MAS in-app purchases with this library?

[2017-10-15 10:11] holgersindbaek opened #134 "Does this library work for the Mac App Store?"
I'm trying to implement in-app purchases for my Mac App Store app which is build with Electron.

It's not clear to me whether this library will work for a Mac App or whether it only works for iOS?

It's also not clear to me whether this library only does receipt validation or whether it also does the actual in-app purchase?

[2017-10-15 10:35] voltrue2 commented on #18
Hello

The library is primarily designed to validate iOS in-app purchase receipt on a server. I do think that Mac App Store purchase works more or less the same way, but I have not intended to use it for that purpose.
I hope this answers your question.

Cheers

[2017-10-15 10:37] voltrue2 commented on #134
Hello

I might have answers your question in my previous response just now but the library is intended to be used for receipt validation and it does not provide client-side SDK.

Cheers

[2017-10-15 10:42] holgersindbaek commented on #18
If it is only used to validate receipts, how do people do the actual in app purchase? So they use another library? 

If you don’t have any Mac examples, an iOS example would probably do. 

-- 

All the best

*Holger Sindbaek* · UI/UX Designer & Web/iOS Programmer · * * HolgerSindbaek.com ( http://holgersindbaek.com/ )

On Sun, Oct 15, 2017 at 12:35 PM Nobuyori Takahashi < Nobuyori Takahashi ( Nobu

[2017-10-15 11:09] voltrue2 commented on #18
Hello

Making in-app purchase on the client-side is pretty straight forward.
There are methods for each platform. iOS, Android, Amazon(Android), Windows and Roku respectively.
Since you mentioned that you’re building a Mac app, you don’t have to worry about cross platform stuff such as Unity and Xamarin etc.

Cheers

[2017-10-15 11:47] holgersindbaek commented on #18
Do you have a reference to an iOS example? Or an Electron Windows example?

-- 

All the best

*Holger Sindbaek* · UI/UX Designer & Web/iOS Programmer · * * HolgerSindbaek.com ( http://holgersindbaek.com/ )

On Sun, Oct 15, 2017 at 1:09 PM Nobuyori Takahashi < Nobuyori Takahashi ( Nobuyori Takahashi <notifications@github.com> ) > wrote:

[2017-10-15 22:11] voltrue2 commented on #18
I don’t have an example at hand but you should be able find plenty on google.

Cheers

[2017-10-16 00:23] #133 closed

[2017-10-16 00:23] voltrue2 commented on #131
Awesome!

[2017-10-16 00:23] #131 closed

[2017-10-16 14:07] igorescobar opened #135 "Changelog?"
Guys,

Would be highly appreciated if you could keep a `CHANGELOG.md` file. We are using this package for quite awhile now and it's hard to see what changed between releases, like this one:
https://github.com/facebook/react/blob/master/CHANGELOG.md

I personally use this gem:
https://github.com/kawamanza/step-up

This gem helps me to keep to keep this up to date:
https://github.com/igorescobar/jQu

[2017-10-16 23:33] voltrue2 commented on #135
Hello

Thank you for the suggestion. I must be honest on this point that I have been lazy about it, but you are right.
I’ll add a change log in the near future.

Cheers

[2017-10-17 08:31] igorescobar commented on #135
Hey @voltrue2!

No problem! And I appreciate all the work you've done here for us!

Cheers!

[2017-10-17 15:51] fictorial opened #136 "Creating test receipts for, well, testing"
Hi, thanks for the module!

I see that the [bundled receipt](https://github.com/voltrue2/in-app-purchase/blob/06fb981dae6a5e72febdea7e6abf2f54a8002bf3/test/receipts/apple#L1-L46) uses `com.mindmobapp.download` which I can of include in my own tests.

Is there a way to create test/fake receipts (say, for Apple or more) with a preconfigured product id for testing?  How did you create the bundled rec

[2017-10-17 23:29] voltrue2 commented on #136
Hello

Unfortunately there’re no way (as far as I know of though) to create fake receipts for any platform.
For iOS you may use sandbox and that is as close as it gets.

Cheers

[2017-10-18 07:25] holgersindbaek commented on #134
I've created a post on Stackoverflow with a 300 reputation points worth of bounty. If you think you can get more specific with how you'd do in app purchases, please let me know in there:

https://stackoverflow.com/questions/46753835/implementing-in-app-purchase-in-an-electron-app-for-the-mac-app-store

[2017-10-18 17:24] jbgomez21 commented on #103
Hi @voltrue2

I'm using 1.8.4 version and getPurchaseDate still return duplicates, In the next list there are 12 elements, 6 purchase and 6 duplicates.

I'm interpreting something wrong?

Regards!

[code]

[2017-10-19 20:49] jbgomez21 commented on #124
Hi @voltrue2, @vovkasu

This changed was done for  lib/google.js but not in lib/apple.js, that is right?

[code]

The next lines should be deleted?

[code]

[2017-10-19 21:13] jbgomez21 opened #137 "[apple.getPurchaseData] incorrect expirationDate after canceling subscription"
Relative to https://github.com/voltrue2/in-app-purchase/issues/124

This changed was done for lib/google.js but not in lib/apple.js, that is right?

[code]

The next lines should be deleted?

[code]
I don't wanna change the expirationDate if purchase is cancelled.

Regards

[2017-10-20 03:01] voltrue2 commented on #137
Hello

Thank you for reaching out. I will look into this as soon as I get the chance.

Cheers!

[2017-10-20 03:02] #135 closed

[2017-10-20 23:53] farhankhwaja commented on #107
Any Updates on this Issue?? Is there any workaround for this scenario?

[2017-10-23 09:25] voltrue2 commented on #107
Hello

I haven’t gotten around it yet. My apologies. I’m doing lots of catch-ups because of my work schedule. Will definitely let you know once I get to it which I hope will be soon.

Cheers

[2017-10-24 16:55] jbgomez21 commented on #137
Hi @voltrue2,

Is it too much trouble if I ask you to take a look at this issue?
It's too important for auto-renew subscription.
Users usually subscribe and cancel his membership for not renew the next time.
With this bug, after cancel the server return that his purchase have expired.

Thx!

Regards!

[2017-10-25 06:34] voltrue2 commented on #137
Hello

Thank you for reaching out.

It does sound confusing... Let me read this a little more carefully and I will try to get back to you on this ASAP.

Cheers!

[2017-11-15 22:47] famictech2000 opened #138 "How do I get the error code from the response?!"
var errorMap = {
	21000: 'The App Store could not read the JSON object you provided.',
	21002: 'The data in the receipt-data property was malformed.',
	21003: 'The receipt could not be authenticated.',
	21004: 'The shared secret you provided does not match the shared secret on file for your account.',
	21005: 'The receipt server is not currently available.',
	21006: 'This receipt is valid but the

[2017-11-17 03:11] voltrue2 commented on #138
Hello,

You can get the status code from the response object of `.validate(...)` or `validateOne(...)` as `response.status`.

Cheers!

[2017-12-01 22:08] Suvitruf opened #139 "Samsung store support?"
Any plans to support [Samsung store IAPs](http://developer.samsung.com/iap/guide)?

[2017-12-03 23:53] voltrue2 commented on #139
Hello

I’m not planning on implementing Samsung store at the moment.
I wonder if there’s enough needs for it to be worthwhile?

Cheers

[2017-12-05 02:31] Suvitruf commented on #139
Not sure. But we are planing to implement Samsung store soon for our game. If we do it using node.js, I will probably create pull request.

[2017-12-05 02:33] voltrue2 commented on #139
Hello

That would be great!

Cheers

[2017-12-05 07:04] superandrew213 opened #141 "[Android] Support Real-time Developer Notifications"
We can use `in-app-purchase` to validate Apple's subscription event notifications because Apple provides the receipt data. Google doesn't 😊

https://developer.android.com/google/play/billing/realtime_developer_notifications.html

Google sends us this:
[code]

We can use this to recreate Google's receipt data and pass it to `in-app-purchase`. You only need `packageName`, `productId` and `purchaseTo

[2017-12-06 08:29] voltrue2 commented on #141
Hi @superandrew213

Thank you for the detailed suggestion.
It is interesting. I certainly have not thought it!

Let me sit on this a little bit to consider if considering this further makes sense for the package!

Cheers!

[2017-12-06 10:01] superandrew213 commented on #141
Thanks @voltrue2.

To simplify things we can leave `getService()` alone. It looks pretty complicated. We would just need to provide `iap.GOOGLE` to `validate()` manually for this use case.

1. Remove requirement for `signature` for the receipt data:
https://github.com/voltrue2/in-app-purchase/blob/develop/lib/google.js#L147

Change it to something like this to ensure that signature or api credenti

[2017-12-13 07:05] zolikobol opened #143 "Add support for "exclude-old-transactions" field for itunes receipt"
Hi, currently the module does not allow us to use "exclude-old-transactions" field to get back only the last transaction. Often we have users for couple of years and the receipt is too big and it takes much more time to response to a request.

Thanks, Zoli.

[2017-12-13 10:57] ntlzz93 opened #144 "What's about "Error: invalid service given: undefined" Error ?"
Can Anyone explain this error?

**"Error: invalid service given: undefined"** when I validate receipt apple

[2017-12-13 11:16] voltrue2 commented on #144
It means you’re passing undefined value to .validate(). If you’re passing a service such as APPLE, GOOGLE etc

[2017-12-13 15:38] ntlzz93 commented on #144
Thank you
On Dec 13, 2017, at 6:16 PM, Nobuyori Takahashi <notifications@github.com<mailto:notifications@github.com>> wrote:

It means you’re passing undefined value to .validate(). If you’re passing a service such as APPLE, GOOGLE etc

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/voltrue2/in-app-purchase/issues/144#is

[2017-12-15 00:33] voltrue2 commented on #143
Hello

I think it makes sense to implement that into the package.
I’ll try to get it done as soon as I have the chance.
Thanks for the suggestion!

Cheers

[2017-12-15 06:41] zolikobol commented on #143
Hi, thanks.
If it helps, I already have it locally because what I wrote above, so I can create a PR. It is just two line.

Thanks, Zoli.

[2017-12-15 11:32] voltrue2 commented on #143
Hello

That would be really awesome!
Would you mind sending a PR?

Cheers

[2017-12-18 10:56] ionian-wind opened #145 "Please update xml-crypto modules in dependencies"
I have an issue while trying to validate windows receipt
[code]
This behavior already fixed in newer version of xml-crypto module
Related issue in xml-crypto https://github.com/yaronn/xml-crypto/issues/68

[2017-12-20 03:59] ebbnormal commented on #47
@voltrue2 do you know what `data.status` apple returns directly from your call to the apple verification url? In my app i am assuming it is 21010 since they use the same mysterious language of "treating it as if it never existed" in the description of the error code. Have you experienced this as true first hand or is my assumption wrong?

https://developer.apple.com/library/content/releasenotes/Ge

[2018-01-01 19:27] karim73 opened #149 "Google validation: bug when try to validate Sbx after Live fail"
Hi,

Env: Google play store
Validation: Live and sbx (config.test = false)

When i try to validate a receipt, (Live first, then SBX) i got the following error: receipt.data must be a string
Because the receipt.data was parsed in the Live validation step
I just added receipt.data = JSON.stringify(receipt.data) juste before trying sbx validation.

Is there any fix to resolve this issue ?

Thank you

[2018-01-02 04:06] voltrue2 commented on #149
Hello

There maybe a bug. The sandbox should behave the same way as live. Let me look into this.

Thank you for reporting the issue.

Cheers

[2018-01-10 07:49] voltrue2 commented on #145
Hello,
I apologize for the late response on this.
It seems one of the tests on CI is failing.
I will look into this.

Cheers

[2018-01-10 08:01] voltrue2 commented on #149
640104ab0db7ea8673464a0a99db7808a483c87e

[2018-01-10 08:01] #149 closed

[2018-01-10 08:01] voltrue2 commented on #145
640104ab0db7ea8673464a0a99db7808a483c87e

[2018-01-10 08:01] #145 closed

[2018-01-10 08:01] voltrue2 commented on #143
2ee975ce7929280a39d8f1f67fe0af500249f363

[2018-01-10 08:01] #143 closed

[2018-01-10 08:03] #144 closed

[2018-01-12 06:56] 3mini opened #150 "[iOS] Subscription auto renew status"
How can I get subscription auto renew status from getPurchaseData?

I want to know auto_renew_status in purchase.pending_renewal_info
(Note that: https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ReceiptFields.html)

========================================================================
**Subscription Auto Renew Status**
The current renewal status

[2018-01-12 07:09] voltrue2 commented on #150
Hello

With the current version of the library, you will have to read it form the raw response data that is returned by .validate();
It is the object you feed to .getPurchaseData();

Cheers

[2018-01-14 19:31] zulfu opened #151 "Different Status Messages"
Hello,

When I validate my receipt and secret key on your site it works like charm. But when I try to validate my ionic app with same parameters it returns {"status":1,"message":"Unknown"} something like this.

Where I am doing wrong?

[2018-01-15 05:54] voltrue2 commented on #151
Hello,

Would you please provide more details?

I assume that you're try to validate Apple receipt?
If you are getting Unknown error, it means that Apple is responding with Unknown response code.

[2018-01-26 00:55] voltrue2 commented on #141
Hello,

My apologizes for taking this long. I have been side tracked by other projects. I will get back on this issue as soon as I can.

Cheers!

[2018-01-26 02:48] superandrew213 commented on #141
@voltrue2 no problem at all!

[2018-02-07 02:07] jngbng opened #153 "google status code 410 should be handled as end-of-subscription, instead of error."
Please refer to
https://stackoverflow.com/questions/45688494/google-android-publisher-api-responds-with-410-purchasetokennolongervalid-erro

[2018-02-08 07:41] voltrue2 commented on #153
Hello

Thank you for reaching out. I will have a look at this!

Cheers

[2018-02-19 02:17] voltrue2 commented on #153
@jngbng
After looking into this response with `410`. It seems that Google is telling us the subscription is no longer valid. I think it should still be treated as an error.
If you think otherwise, would you please provide an example case where you would want this to be treated otherwise?

Cheers!

[2018-03-02 11:07] ntlzz93 opened #155 "Error: read ECONNRESET when validate receipt apple"
Log from my debugging
validate fail at
[code]

[code]

Please help

[2018-03-02 22:37] liuzhen2008 opened #156 "How to deal with subscriptions?"
As far as I know, when key event occur during a subscription life cycle, an event will be received by the client side.

Does that mean all I need to do on the server side is to call iap.validate('GOOGLE'/'APPLE', receipt) and consume the event like that?

On google and apple, they both have a server-to-server notifications. Does this module have configurations to connect to it? If not, I guess I h

[2018-03-03 02:51] superandrew213 commented on #156
You can use `in-app-purchase` to handle real time server notifications from Apple.

For Google you need to make some small adjustments. See the issue that I opened [here](https://github.com/voltrue2/in-app-purchase/issues/141) & my [PR](https://github.com/voltrue2/in-app-purchase/pull/142) that makes it easy to handle Google real time server notifications.

@voltrue2 have you had any time to revie

[2018-03-05 03:41] liuzhen2008 commented on #156
@superandrew213 This is so cool. Do you know how I would correlate the receipt data with my in app user id?

I suppose my client still needs to send me something?

Could you point me to the code that I need to write to receive APPLE server-to-server notifications? I couldn't find it in the tutorials..

[2018-03-05 20:53] liuzhen2008 opened #157 "How to receive server-to-server notifications from APPLE or GOOGLE?"
I was told that this library is capable of handling it. But where can I find the callbacks to handle a notifications for apple or google?

Thanks

[2018-03-05 22:35] #157 closed

[2018-03-06 00:06] voltrue2 commented on #155
Hello

It seems you have a network error. I do not believe it is related to in-app-purchase library though.

Cheers

[2018-03-08 01:17] liuzhen2008 commented on #156
@superandrew213 @voltrue2

If i use iap.verify() to verify a subscription receipt from client.

How can I tell if the client doing a "INITIAL_BUY" or "CANCEL" or "RENEWAL"? Do i basically need to infer CANCEL based on whether expirationDate exists or not?

And I have to infer RENEWAL and INITIAL_BUY based on my own backend logic?

[2018-03-08 23:03] liuzhen2008 opened #159 "Getting duplicated transactions calling iap.getPurchaseData?"
[code]
WIth the receipt provided below, I get the following console logs

Data transaction id
1000000381600687
1000000381600903
1000000381601336
1000000381601740
1000000381602052
1000000381602343

get purchases data transaction id
1000000381600903
1000000381601740
1000000381600903
1000000381601740
1000000381602343

is it expect for me to get duplicated purchase data transaction ids? What does it m

[2018-03-08 23:04] liuzhen2008 commented on #159
below is the receipt string.

`MIIYcQYJKoZIhvcNAQcCoIIYYjCCGF4CAQExCzAJBgUrDgMCGgUAMIIIEgYJKoZIhvcNAQcBoIIIAwSCB/8xggf7MAoCAQgCAQEEAhYAMAoCARQCAQEEAgwAMAsCAQECAQEEAwIBADALAgELAgEBBAMCAQAwCwIBDwIBAQQDAgEAMAsCARACAQEEAwIBADALAgEZAgEBBAMCAQMwDAIBCgIBAQQEFgI0KzAMAgEOAgEBBAQCAgCiMA0CAQMCAQEEBQwDMTAwMA0CAQ0CAQEEBQIDAa4WMA0CARMCAQEEBQwDMS4wMA4CAQkCAQEEBgIEUDI1MDAYAgEEAgECBBAFl5XR+Zv6qOy6rT4XLdKrMBoCAQICA

[2018-03-09 00:09] voltrue2 commented on #159
Hello,

Thank you for reporting this. It seems like a bug to me. Let me have a look into this.

Cheers!

[2018-03-09 01:09] voltrue2 commented on #159
@liuzhen2008 The each element in the array of `var purchases = iap.getPurchaseData(data);` should also contain `originalTransactionId`, would you print those out and show me also?
The receipt is a subscription, so I cannot reproduce what you have here.

Cheers!

[2018-03-09 01:26] liuzhen2008 commented on #159
@voltrue2 yes this is a subscription. I think the 6 objects in latest_receipt_info represent 1 buy and 5 renews. So i was expecting getPurchaseData to give me 6 objects. Instead it gives me 5 and 2 of them are the same object.

I printed the originalTransactionId for each purchaseData below.

[code]

[2018-03-09 01:31] voltrue2 commented on #159
It seems all items have the same `originalTransactionId`.
`.getPurchaseData(...)` tries to filter the duplicates(meaning items with the same originalTransactionIds), but it seems that it's failing to filter them correctly.

I hate to ask you this, but would you mind printing all properties of every item in the purchase history **WITHOUT** using `.getPurchaseData()`?

Cheers!

[2018-03-09 01:33] liuzhen2008 commented on #159
[code]

[2018-03-09 02:17] voltrue2 commented on #159
@liuzhen2008 Would you try this commit cec5c6b451c0d66224a251539dcac133fe6f99f2 ?
You should have only one item with .getPurchaseData()

[2018-03-09 03:07] liuzhen2008 commented on #159
I don't think it is quite right. I am getting empty array [] after calling .getPurchaseData() on develop branch

[2018-03-09 03:12] voltrue2 commented on #159
Hmmm.. Interesting. Let me have another look.

[2018-03-09 03:13] liuzhen2008 commented on #159
I think you can easily run my receipt you'd get the same result.

[code]

[2018-03-09 03:15] voltrue2 commented on #159
I need to have your secret to do that because your receipt is a subscription, which is something I would not like to do for obvious reason.

[2018-03-09 03:17] liuzhen2008 commented on #159
Right.. sorry.

[2018-03-09 03:19] voltrue2 commented on #159
It's all good. I will check my change and run more tests. Thank you for sticking round for my debugging. I will have updates on this shortly.

[2018-03-09 03:23] voltrue2 commented on #159
Thank you! I appreciate the help.

[2018-03-09 03:38] voltrue2 commented on #159
@liuzhen2008
Thank you for the wait. I spotted the issue with my previous change.
Would you please test against this: bb23b8f0c053becd8c55eace00058302afbd20f5 ?

Cheers

[2018-03-09 03:45] liuzhen2008 commented on #159
I can confirm i am no longer getting duplicated purchaseData. Only got 1 instead.

I personally am not sure why I should only get one. And if i do only get one, should I at least get the latest renew?

But yes! no duplicates!

[2018-03-09 03:46] voltrue2 commented on #159
So the idea is that now the only item you get is the latest of the duplicate, which should mean that, it is your only valid receipt because the reset are already old.

[2018-03-09 04:00] liuzhen2008 commented on #159
In my test case, the purchase data i received is

[code]

However there is a more recent RENEW

[code]

[2018-03-09 05:20] voltrue2 commented on #159
Hmmm... That is strange. my test case against the array you posted here gives me the item with the one below:

This is the expected and correct one. I will have to look into this a little more.

Thanks for double checking!

[code]

[2018-03-09 22:28] #156 closed

[2018-03-26 19:28] a-koka opened #160 "1.8.9 failing build"
I'm still on `1.7.2` and would love to get the new features. The `1.8.9` build is failing though. Is there an expectation on when this will be resolved?

Thanks!

[2018-03-27 02:51] voltrue2 commented on #160
Hello,

Thank you for reaching out.
Let me have a look at it and see what the issue is.

Cheers!

[2018-03-27 03:00] voltrue2 commented on #160
I re-ran the CI and now it passed.
I am using some Apple sandbox receipts in the tests and they time out quite a lot.
It might be the cause of random failure of the tests.

Cheers

[2018-03-27 15:11] a-koka commented on #160
Thanks for always staying on top of the issue @voltrue2. You're the best!

[2018-03-27 15:11] #160 closed

[2018-03-29 21:05] skleest opened #163 "iap.getPurchaseData for iOS not fetching latest_receipt_info"
Seems to be a small but critical bug - submitted PR #162

[2018-04-01 05:40] jianpingw commented on #163
I have the same issue and I think PR #162 submitted by @skleest should fix the issue.

[2018-04-03 14:02] mobigaurav opened #164 "keeps getting error on android , says Failed to validate against: undefined Error: missing public key"
Hi,

Thanks for your node module. It works very well for my iOS project's.
But i am facing one issue with Android-

Below is my code -

`'use strict';

console.log('Loading function');

var iap = require('in-app-purchase');

exports.handler = (event, context, callback) => {

var androidReceiptString = {
  "orderId":"GPA.3351-2265-8541-88205",
  "packageName":"org.ieee.mobile.sa.nesc",
  "productId

[2018-04-03 14:09] voltrue2 commented on #164
Hello,

You don’t have to stringify data part of your receipt. The module handles it for you.

I will try to reproduce the issue you are having on my end also.

Lastly, Is this receipt a subscription? If it is then you need to add google api key and secret to your configuration.

Cheers!

[2018-04-03 14:56] mobigaurav commented on #164
Hi,

I tried removing JSON stringify receipt part i still get same response. The receipt is not a subscription.
One thing which i noticed is when i run everything on online portal it gives me success response.

![screen1-android](https://user-images.githubusercontent.com/8948442/38257044-860c71d0-372d-11e8-819b-bc51aa8b6eb6.png)

[2018-04-03 15:06] voltrue2 commented on #164
Hello

How are you testing this? I know that signature can get corrupt if you test it with curl where “+” becomes a space.

Cheers

[2018-04-03 15:24] mobigaurav commented on #164
I  copied signature and receipt which i get from response and tested in AWS lambda.

[2018-04-04 11:52] indrek-koue opened #165 "Readme readability"
First i want to say thats this is very good library and really helpful and I like it.

Only one small issue: the readability on readme. Its too long for one page and a lot of repetitive info.

How it could be improved:
- separate changelog and setup instructions into separate pages
- one main example which covers most important info about setup
- separate platform specific things into different pa

[2018-04-05 01:16] voltrue2 commented on #164
So I looked at the code you provided me with.
The issue that you have is because you do not call `.setup()`.
Below is what you need to do:

[code]

Now I also tested your receipt and the public key with the fixed code, but the validation of your receipt fails.
This time the error is caused by the receipt not matching with the public key.

Cheers!

[2018-04-05 18:14] mobigaurav commented on #164
When i changed the code to first do iap.setup() call, It says cant read property then of undefined. I am using version 1.6.0 of the module. let me know if i have to upgrade it to remove the error.

[2018-04-05 18:56] mobigaurav commented on #164
I got it working using below code:

iap.setup(function(error,response){

   iap.validate(iap.GOOGLE,googleReceipt, function (error, response) {
    if (error) {
      // Failed to validate
      console.log('validation error android is >'+error);
    }
    if (iap.isValidated(response)) {
      // Succuessful validation
      console.log('validation Google is >'+JSON.stringify(response));
    }

[2018-04-06 01:30] voltrue2 commented on #165
Hello!

Thank you for your suggestion. I will definitely try to improve README.

Cheers!

[2018-04-06 01:45] voltrue2 commented on #164
Awesome!

[2018-04-06 01:45] #164 closed

[2018-04-06 01:46] voltrue2 commented on #163
Hello I have an update on this issue.
Would you mind having a look it PR #162  and Commit: fd839f12791c8fe6da1686118576609f64b7cb77

Cheers!

[2018-04-06 01:46] voltrue2 commented on #159
No response. Considered fixed.

[2018-04-06 01:46] #159 closed

[2018-04-06 05:20] #163 closed, assigned to nobody

[2018-04-08 04:07] willswinson opened #166 "Questions - Google Validation, Calling .setup() More Than Once"
Hey guys, had a few questions related to the project that I couldn't find clear answers for in the README:

1) Do you have to call **iap.setup()** before every validation call as in the example code?  Or just once after config?

2) If I do not provide API access to Google Play (with the client id, secret, access token, and refresh token), will it still validate consumable (non-subscription) purcha

[2018-04-08 12:12] voltrue2 commented on #166
Hello,

1. You need to call iap.setup() before you do anything. Please do keep in mind the function is asynchronous ;)

2. It can validate without providing API access. Instead you need to provide the public key. With this you cannot validate subscription though.

Cheers

[2018-04-09 12:36] a-koka opened #167 "Incorrect isTrial value in purchaseData"
`getPurchaseData` is returning a value of true for `isTrial` even when `validate` returns `is_trial_period` as false. I've only tested this for Apple subscriptions and I'm guessing that there is something missing in the logic which translates the result from validate to purchaseData.

[2018-04-11 05:25] voltrue2 commented on #167
Hello,

Thank you for reporting this. I will look into it!

Cheers!

[2018-04-11 05:56] #167 closed

[2018-04-23 13:30] fadao23 opened #168 "[NPM] - Install"
Hello,

I try to install the last version of the in-app-purchase with :

npm i in-app-purchase

But i got this error :

`npm WARN enoent ENOENT: no such file or directory, open '/home/ubuntu/package.json'`

This problem come from my machine or npm ?

Thanks.

--
Fernando BORJA

[2018-04-23 13:33] voltrue2 commented on #168
Hi there

As the warning message suggests, you don’t have package.json file. It isn’t an error and the module should have been installed fine, but I suggest you to have package.json for your application.

Cheers

[2018-04-24 09:56] #168 closed

[2018-04-24 09:57] #166 closed

[2018-04-25 13:23] egermano opened #169 "productId is equal to subscriptionId?"
https://github.com/voltrue2/in-app-purchase/blob/691b0d2e10d594184a087cd7f131889e7f3fd9b4/lib/google.js#L572

I didn't find any Google documentation about that. Can you explain to me where can I find this?

[2018-04-26 02:18] HelloChunWei opened #170 "[iOS] Renewable subscription original_transaction_id"
Hi,

I have some problem in Renewable subscription original_transaction_id.

In `var data = iap.getPurchaseData(response, { ignoreExpired: false })`

I expect this function will return all objects of all transactions whether the transaction is expired or not. However,  it returns only the objects of the first transaction, but doesn't return the objects of the other transactions.

For example:
[cod

[2018-04-26 03:06] voltrue2 commented on #169
Hello,

This is simply a matter of variable name.
In our case here, we use the variable called `subscriptionID` to carry the value of product ID,
but for a subscription item, the value there is actually the ID of the subscription item.

Hope this clears up the confusion somewhat.

Cheers!

[2018-04-26 03:10] voltrue2 commented on #170
Hello,

The code you are referring to actually returns the latest item of the same transaction ID.
If you look at line 225 to 231:

[code]

As far as I am aware, only the latest item with the same transaction ID matters.
I believe the current logic makes sense in that regard.

Cheers

[2018-04-26 04:45] bmueller commented on #126
@nscherer I'm getting the same error - how do you turn the receipt string into an object?

[2018-04-26 05:17] voltrue2 commented on #126
The receipt should look like this:

[code]

You may pass this as an object or a string.

Cheers

[2018-04-26 07:36] voltrue2 commented on #170
Hello,

Actually the sort function should have been:

[code]

Thank you for pointing this out. I will fix this!

Cheers!

[2018-04-27 11:38] AO-AO opened #171 "[google] If refreshGoogleToken() with dynamic google-iap-config needed?"
I thought it's required to refresh the google_access_token, while using validateOnce().
Or if there be other solution ?

[2018-04-28 12:05] #171 closed

[2018-04-28 12:06] AO-AO commented on #171
Is no need to provide a accToken while validateOnce()

[2018-05-07 04:08] voltrue2 commented on #165
Thank you for this idea!

Check out below: 7733e314e42ce123bf756b521f919662c29c01b5

[2018-05-11 10:58] immanoj16 opened #174 "How can I get base64 string from the receiptURL"
Hey @voltrue2, I am doing a project using electron. And I want to add `inAppPurchase` for Mac App Store. So the `inAppPurchase` api gives the url of the receipt which is locally saved somewhere. So how can I get the base64 string from the receiptURL. Thank you for the nice project.

[2018-05-17 16:26] a-koka opened #175 "[iOS]: Cancelled subscription being received as expired"
`iap.validate` is returning an error for an active but cancelled subscription. As you can see, this subscription was cancelled yesterday but it is still active for another 11 months. Below is the response from `iap.validate`. Somehow a cancelled reciept is being incorrectly reported as expired and thus `iap.getPurchaseData` doesn't return anything.

[code]

[2018-05-18 01:58] voltrue2 commented on #174
Hello, To get a receipt from Apple you have to connect to Apple's server first to request for a receipt (base64 encoded string).
With that said if your project stores the receipt somewhere on your local machine, you need to find where is and give it to the module, which should be running on your server.

Cheers

[2018-05-18 01:58] voltrue2 commented on #175
Hello,

Thank you for the report. I will have a look!

Cheers

[2018-05-18 02:03] voltrue2 commented on #175
The module looks at `cancelation_date` in the response from Apple and if the value of `cancelation_date` is there, the module considers the item to be either canceled or expired.

[2018-05-18 04:53] voltrue2 commented on #175
This should fix the issue.
Please let me know if you still have the same problem.

Cheers

[2018-05-18 15:41] a-koka commented on #175
Thanks for the quick turnaround as always @voltrue2. Your commitment to keeping this project up-to-date is commendable. Unfortunately, the fix doesn't work. I did a bit of debugging and here's what I've discovered.

We are receiving a status code of `21006` for subscriptions that are cancelled. Both active and inactive subscriptions are returning the same status code. Thus we need to update the `e

[2018-05-18 15:57] hoonblizz opened #176 "validatedData is undefined."
Hi,

For Apple, even though validation was successful ( with message of '<Apple> Sandbox validation successful') , returned value 'validatedData' is undefined. But receipt is returned correctly.
Therefore, when I put validatedData as an argument of iap.getPurchaseData ( just like the example in README ), it doesn't work. Instead having returned receipt as the argument works.

Is this because I'm d

[2018-05-18 16:11] a-koka commented on #175
Looks like the `errorMap` is pulled out of [here](https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html) which makes me really confused as my research suggests that `21006` is coming back for an active purchase as well as you can see in my original post . I'm happy to jump on a screen-share call with you if you don't have production

[2018-05-18 20:35] rikur commented on #165
Looks better. However I think `refreshToken` is internal to the lib and not needed for Google Play configuration. Only `googleRefToken` is needed AFAIK.

Also, the ENV variable readme seems to be flawed:
```export=GOOGLE_IAB_PUBLICKEY=PublicKeyHerePlz```

The code is looking for `GOOGLE_IAB_PUBLICKEY_LIVE` and `GOOGLE_IAB_PUBLICKEY_SANDBOX` instead.

[2018-05-19 03:55] rikur commented on #165
More config property names seem to be messed up..

[code]
should be
[code]

[2018-05-21 06:19] voltrue2 commented on #175
Hello,

Thank you for following up on this issue. I made another commit: c70bf2813d6a1c9fbfe6d75e223852ef75cec257

Would you mind having to look at it?

Cheers!

[2018-05-21 14:51] a-koka commented on #175
I tested with a few different subscriptions and this is working as expected. Would you be able to push this fix live on npm sometime soon?

Thanks again!

[2018-05-22 00:13] voltrue2 commented on #175
Hello

Thanks for testing the fix. I’ll be publishing the new version very soon.

Cheers

[2018-05-22 08:54] guyjoules opened #177 "Retrieving the newly-refreshed access token (Google)"
I'd like to be able to store the newly-refreshed access token so I can reuse it if needed.
For that, we need a new exported function in google.ts -
module.exports.returnToken = function (cb) { return googleTokenMap.accessToken }

As well as at the end of - module.exports.validate = function .... {
...
	return google.returnToken();
}

[2018-05-22 10:48] MorpheusXAUT opened #178 "Update request dependency to fix nsp/vulnerability checks"
As of last Wednesday (2018-05-16), a vulnerability report for the `stringstream` packages has been published: https://nodesecurity.io/advisories/664
Although the vulnerable package is not used directly by `in-app-purchase` or the importing dependency `request`, vulnerability scanners such as [nsp](https://github.com/nodesecurity/nsp) report issues with `in-app-purchase`'s dependencies, thus also f

[2018-05-22 11:09] voltrue2 commented on #178
Hello

Thank you for the reminder. I was actually waiting for this as I was very uncomfortable to leave this module vulnerable because of stringstream.

I’ll be updating the module shortly.

Cheers

[2018-05-22 11:18] MorpheusXAUT commented on #178
Thanks for the quick response, appreciated!

[2018-05-22 14:07] hoonblizz commented on #176
Oh, I should have mentioned... I'm working on validating subscription.
And here's a piece of my code.

[code]
[code]

Then, here's the log

[code]

[code]

[code]

Actually, Google play validation happens the same thing.
It returns undefined for validatedData.

[2018-05-23 02:54] baranpirincal opened #179 "Logo Proposal"
Hey, I can contribute on your project with making a logo design. What do you think about that? If you need it we can talk about design decisions as soon as possible. I am waiting your feedback, have a nice day!

Best Regards
Baran Pirinçal

[2018-05-23 02:55] voltrue2 commented on #179
Hello,

That would be really awesome!

I would love that.

Cheers!

[2018-05-23 03:06] voltrue2 commented on #178
Hello,

I have published `1.9.7` which contains this update.

Cheers!

[2018-05-23 03:06] #178 closed

[2018-05-23 08:59] voltrue2 commented on #175
version 1.9.7 published!

Cheers!

[2018-05-23 08:59] #175 closed

[2018-05-23 09:00] voltrue2 commented on #174
No response

[2018-05-23 09:00] #174 closed

[2018-05-23 09:02] voltrue2 commented on #176
Thank for the code example. I will have a look.

Cheers!

[2018-05-23 09:04] voltrue2 commented on #177
There is an API for this already:

`iap.refreshGoogleToken(callback [Function])`

With this, you do not need to store the token yourself instead, you can call this function whenever you need to refresh the token.

This might be missing in the documentation.

Cheers

[2018-05-24 00:54] voltrue2 commented on #179
Awesome. I will be looking forward to it.

Cheers

[2018-05-24 12:32] guyjoules commented on #177
Thanks, got it.
So, in order to call validate multiple times (once for each subscription purchase), I should call
`iap.refreshGoogleToken(callback [Function])` first, get the access token and then feed it back to
`iap.config` for subsequent calls?

What I'm basically looking for is a way to call validate multiple times (once for each subscription purchase) and to be able to use the same access tok

[2018-05-24 13:44] marciobueno1 commented on #175
Hi, I was looking for this issue, and I found that on [Apple Guide](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html)

So, with this change in the code, should I need to test afterwards with [isExpired function](https://github.com/voltrue2/in-app-purchase/blob/develop/index.js#L210)? Because this function still works

[2018-05-29 08:29] voltrue2 commented on #165
Hello,

Thank you for checking the changes!

I will fix them!

Cheers!

[2018-06-03 07:34] baranpirincal commented on #179
Hey @voltrue2 ,

Sorry for delay, I was too busy last week. I made my first experiment. We can change colors, add or remove something on design. Please feel free to give advice! I am waiting your feedback 👍

![untitled-2](https://user-images.githubusercontent.com/37786733/40884290-73308e9a-6719-11e8-906c-6969b05f0fdf.jpg)

[2018-06-03 07:49] achirkof commented on #176
Hi @hoonblizz!
I can't figure out how to make it work. I always get `undefined` and error regarding Amazon verification even though I'm verifying only apple receipt. Could you please share your code.
Thanks.

[2018-06-04 05:57] voltrue2 commented on #177
Hello,
The module does this internally for you, so unless you're doing something outside of this module, you should not have to do this yourself.

Cheers

[2018-06-06 09:46] voltrue2 commented on #179
Thank you for the icons!

I think I prefer the one on the top right.

Cheers!

[2018-06-06 11:15] baranpirincal commented on #179
@voltrue2

Hey, I created pull-request and uploaded high-resolution .PNG and editable .SVG files!

Good luck with that!

[2018-06-07 11:48] eranpolo commented on #153
Hi,
@voltrue2 - we just stumbled upon this in our production code (got 410 and mishandled it).

If 410 isn't to be treated as "end-of-subscription", perhaps small changes should still be made:
1. Info added to the iap docs, otherwise developers will miss this subtlety.
2. The returned error object should contain the HTTP response code in a clean way, and not just as part of an error string. Will b

[2018-06-07 12:19] lincolnthree commented on #170
Hmmm... out of curiosity. What kind of downstream affects would be caused by this. Incomplete transaction data being returned from validated receipts?

[2018-06-09 05:04] baranpirincal commented on #179
![inapp-firstpage](https://user-images.githubusercontent.com/37786733/41187838-a6d9864c-6bbb-11e8-86e8-07f0e7c8a7e0.jpg)

[2018-06-11 02:58] voltrue2 commented on #179
This one looks nicer!

[2018-06-11 03:38] baranpirincal commented on #179
@voltrue2 Thanks! I made last arrangements on pull-request. Could you please check it?

[2018-06-11 10:28] achirkof commented on #176
@hoonblizz you are right. I was pushing receipt in not correct format.

[2018-06-11 10:32] voltrue2 commented on #176
Hopefully it’s working properly for you now.

Cheers

[2018-06-13 06:43] voltrue2 commented on #179
Merged! Cheers

[2018-06-13 06:43] #179 closed

[2018-06-15 16:49] comtaler commented on #176
I am getting `undefined` as well. Any progress on this. One more piece of info. I am using Bluebird for promise.

[2018-06-15 17:20] comtaler commented on #176
Please ignore my comment. It was a bug in my own code that caused the undefined to be returned.

@hoonblizz I read the source code and it seems the promise only resolves one piece of data. Therefore, you only get the receipt, but not the validatedData. It looks like the documentation is incorrect.

[2018-06-15 20:05] comtaler opened #185 "How to tell if the receipt is for production or sandbox?"
After calling `validate` function and validation is successful, is there a way to tell if the receipt is validated with prod or sanbox? If not, can this be added?

[2018-06-16 19:20] nem035 commented on #176
There is a bug in the documentation. Validation cannot provide **both** the receipt and the validatedData because a Promise can only resolve to a single value.

[code]

[2018-06-20 00:59] voltrue2 commented on #176
Hello,
Apologies for the delayed response on this.
Thank you all for pointing out the issue on the documentation. I will make the necessary corrections asap.

Cheers!

[2018-06-20 17:39] hermosillo8 opened #187 "then()."
iap.setup()
        .then( () => {
            iap.validate(receipt).then(onSuccess).catch(onError);
        }).catch((error) => {
            console.log("setup error: " + error)
        });

    function onSuccess(validatedData) {
        var options = {
            ignoreExpired: true // purchaseData will NOT contain exipired subscription items
        };
        var purchaseData = iap.getPurch

[2018-06-20 20:19] hermosillo8 commented on #185
You can set whether the receipt you are validating is prod or sandbox by using test: true for sandbox or false for production on iap.setup(). See README  in the docs for an example.

[2018-06-21 02:57] voltrue2 commented on #187
Hello,

Would you please show me the error you get?

Cheers!

[2018-06-21 06:30] comtaler commented on #185
For iOS, when trying to validate with prod, it can still fall back to validate with sandbox.

[2018-06-21 06:42] voltrue2 commented on #185
@comtaler Yes it does fallback to sandbox validation if the first production validation fails.
Would you give me an insight as to why you need to know whether the validation was sandbox or production?

Cheers